<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Technology View</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Technology View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-layered"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_layered" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/0dd2ed8a-69db-45de-9782-4cbb0b70704f.png" alt="Technology View" usemap="#0dd2ed8a-69db-45de-9782-4cbb0b70704fmap"/>
			   <map name="0dd2ed8a-69db-45de-9782-4cbb0b70704fmap">
				  		<area shape="rect" coords="232,604,352,659" href="../elements/6151a8de-06d3-41a0-9922-2eded166fee3.html"  target="element">
				  		<area shape="rect" coords="388,604,508,659" href="../elements/3af13de8-a9be-409d-a2f6-4f4de0a79094.html"  target="element">
				  				<area shape="rect" coords="384,456,504,511" href="../elements/605ded35-2d0d-42a3-9d33-4a5d8425ad7c.html"  target="element">
				  				<area shape="rect" coords="227,456,347,511" href="../elements/de11bbeb-2c16-4ff5-9339-1596285ece55.html"  target="element">
				  				<area shape="rect" coords="64,456,184,511" href="../elements/4af070ff-fbe1-4318-9472-8a2816eb2ea1.html"  target="element">

				  		<area shape="rect" coords="47,400,644,549" href="../elements/8e92eb8b-c0e9-459c-9252-72447264be5f.html"  target="element">
				  		<area shape="rect" coords="328,196,448,251" href="../elements/8daa0e5d-a1f9-4f5c-98a1-c8dbfcdf1a83.html"  target="element">
				  		<area shape="rect" coords="328,100,448,155" href="../elements/c5737164-97e0-4ed9-abac-2962ba87b464.html"  target="element">
				  		<area shape="rect" coords="328,292,448,347" href="../elements/661dfb2c-ba2a-4c03-8046-aae44622bdee.html"  target="element">
				  		<area shape="rect" coords="328,10,448,65" href="../elements/60e3f4e6-a8a9-42fe-8fb5-ddd58240b1b2.html"  target="element">
				  		<area shape="rect" coords="10,220,130,275" href="../elements/e088cd4f-702e-4efc-9067-66b95ca61030.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/e088cd4f-702e-4efc-9067-66b95ca61030.html" target="element"> Central Data Integrator </a> </td>
											    <td> <a href="../elements/e088cd4f-702e-4efc-9067-66b95ca61030.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/60e3f4e6-a8a9-42fe-8fb5-ddd58240b1b2.html" target="element"> Central Dossier Repository </a> </td>
											    <td> <a href="../elements/60e3f4e6-a8a9-42fe-8fb5-ddd58240b1b2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/661dfb2c-ba2a-4c03-8046-aae44622bdee.html" target="element"> Central Knowledge Base </a> </td>
											    <td> <a href="../elements/661dfb2c-ba2a-4c03-8046-aae44622bdee.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c5737164-97e0-4ed9-abac-2962ba87b464.html" target="element"> Support Portal </a> </td>
											    <td> <a href="../elements/c5737164-97e0-4ed9-abac-2962ba87b464.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8daa0e5d-a1f9-4f5c-98a1-c8dbfcdf1a83.html" target="element"> Web Portal </a> </td>
											    <td> <a href="../elements/8daa0e5d-a1f9-4f5c-98a1-c8dbfcdf1a83.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8e92eb8b-c0e9-459c-9252-72447264be5f.html" target="element"> PaaS Offering </a> </td>
											    <td> <a href="../elements/8e92eb8b-c0e9-459c-9252-72447264be5f.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/4af070ff-fbe1-4318-9472-8a2816eb2ea1.html" target="element"> Data Integration (iPaaS) </a> </td>
													    <td> <a href="../elements/4af070ff-fbe1-4318-9472-8a2816eb2ea1.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/de11bbeb-2c16-4ff5-9339-1596285ece55.html" target="element"> Application Server (aPaaS) </a> </td>
													    <td> <a href="../elements/de11bbeb-2c16-4ff5-9339-1596285ece55.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/605ded35-2d0d-42a3-9d33-4a5d8425ad7c.html" target="element"> Database Service (dbPaaS) </a> </td>
													    <td> <a href="../elements/605ded35-2d0d-42a3-9d33-4a5d8425ad7c.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/3af13de8-a9be-409d-a2f6-4f4de0a79094.html" target="element"> PaaS terms of Service </a> </td>
											    <td> <a href="../elements/3af13de8-a9be-409d-a2f6-4f4de0a79094.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6151a8de-06d3-41a0-9922-2eded166fee3.html" target="element"> PaaS Service Provider </a> </td>
											    <td> <a href="../elements/6151a8de-06d3-41a0-9922-2eded166fee3.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/7c2e40d3-acc0-4675-aa36-b8be7d665ea7.html" target="element">  </a> </td>
																		<td> <a href="../elements/7c2e40d3-acc0-4675-aa36-b8be7d665ea7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/8e92eb8b-c0e9-459c-9252-72447264be5f.html" target="element"> PaaS Offering </a> </td>
																		<td> <a href="../elements/3af13de8-a9be-409d-a2f6-4f4de0a79094.html" target="element"> PaaS terms of Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b82597cd-72ef-4406-a734-8524b53fb3ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/b82597cd-72ef-4406-a734-8524b53fb3ca.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/8e92eb8b-c0e9-459c-9252-72447264be5f.html" target="element"> PaaS Offering </a> </td>
																		<td> <a href="../elements/4af070ff-fbe1-4318-9472-8a2816eb2ea1.html" target="element"> Data Integration (iPaaS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/96a6b2a6-4e8e-45bd-ae4c-24ee4dc7433d.html" target="element">  </a> </td>
																		<td> <a href="../elements/96a6b2a6-4e8e-45bd-ae4c-24ee4dc7433d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/8e92eb8b-c0e9-459c-9252-72447264be5f.html" target="element"> PaaS Offering </a> </td>
																		<td> <a href="../elements/de11bbeb-2c16-4ff5-9339-1596285ece55.html" target="element"> Application Server (aPaaS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a78f7aaa-3e74-47a3-b81b-7d1721617336.html" target="element">  </a> </td>
																		<td> <a href="../elements/a78f7aaa-3e74-47a3-b81b-7d1721617336.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/8e92eb8b-c0e9-459c-9252-72447264be5f.html" target="element"> PaaS Offering </a> </td>
																		<td> <a href="../elements/605ded35-2d0d-42a3-9d33-4a5d8425ad7c.html" target="element"> Database Service (dbPaaS) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/f38eac1f-ada9-499a-b21b-d268b18cb8b0.html" target="element">  </a> </td>
																				<td> <a href="../elements/f38eac1f-ada9-499a-b21b-d268b18cb8b0.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/4af070ff-fbe1-4318-9472-8a2816eb2ea1.html" target="element"> Data Integration (iPaaS) </a> </td>
																				<td> <a href="../elements/e088cd4f-702e-4efc-9067-66b95ca61030.html" target="element"> Central Data Integrator </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a178eda4-bf3a-4f45-9d11-adeafa68e4e0.html" target="element">  </a> </td>
																				<td> <a href="../elements/a178eda4-bf3a-4f45-9d11-adeafa68e4e0.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/de11bbeb-2c16-4ff5-9339-1596285ece55.html" target="element"> Application Server (aPaaS) </a> </td>
																				<td> <a href="../elements/661dfb2c-ba2a-4c03-8046-aae44622bdee.html" target="element"> Central Knowledge Base </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d9aca8b7-3013-449e-ac48-0f8af0029226.html" target="element">  </a> </td>
																				<td> <a href="../elements/d9aca8b7-3013-449e-ac48-0f8af0029226.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/de11bbeb-2c16-4ff5-9339-1596285ece55.html" target="element"> Application Server (aPaaS) </a> </td>
																				<td> <a href="../elements/8daa0e5d-a1f9-4f5c-98a1-c8dbfcdf1a83.html" target="element"> Web Portal </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/1a046676-06bf-4750-9f4b-02a5237d9da4.html" target="element">  </a> </td>
																				<td> <a href="../elements/1a046676-06bf-4750-9f4b-02a5237d9da4.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/de11bbeb-2c16-4ff5-9339-1596285ece55.html" target="element"> Application Server (aPaaS) </a> </td>
																				<td> <a href="../elements/c5737164-97e0-4ed9-abac-2962ba87b464.html" target="element"> Support Portal </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b3b8f53c-fb34-471e-a2b0-f856e761f4e8.html" target="element">  </a> </td>
																				<td> <a href="../elements/b3b8f53c-fb34-471e-a2b0-f856e761f4e8.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/de11bbeb-2c16-4ff5-9339-1596285ece55.html" target="element"> Application Server (aPaaS) </a> </td>
																				<td> <a href="../elements/60e3f4e6-a8a9-42fe-8fb5-ddd58240b1b2.html" target="element"> Central Dossier Repository </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f3786e56-09d8-4c77-b0d3-fbbc5f162ea5.html" target="element">  </a> </td>
																				<td> <a href="../elements/f3786e56-09d8-4c77-b0d3-fbbc5f162ea5.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/605ded35-2d0d-42a3-9d33-4a5d8425ad7c.html" target="element"> Database Service (dbPaaS) </a> </td>
																				<td> <a href="../elements/661dfb2c-ba2a-4c03-8046-aae44622bdee.html" target="element"> Central Knowledge Base </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e78e0866-e6bc-47d8-8b6d-2f1c57e21abf.html" target="element">  </a> </td>
																				<td> <a href="../elements/e78e0866-e6bc-47d8-8b6d-2f1c57e21abf.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/605ded35-2d0d-42a3-9d33-4a5d8425ad7c.html" target="element"> Database Service (dbPaaS) </a> </td>
																				<td> <a href="../elements/8daa0e5d-a1f9-4f5c-98a1-c8dbfcdf1a83.html" target="element"> Web Portal </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8f1d9638-f424-4fcb-b03d-0ab4f333437a.html" target="element">  </a> </td>
																				<td> <a href="../elements/8f1d9638-f424-4fcb-b03d-0ab4f333437a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/605ded35-2d0d-42a3-9d33-4a5d8425ad7c.html" target="element"> Database Service (dbPaaS) </a> </td>
																				<td> <a href="../elements/c5737164-97e0-4ed9-abac-2962ba87b464.html" target="element"> Support Portal </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5ba15954-573c-449f-ba4b-c4bacfb4d58d.html" target="element">  </a> </td>
																				<td> <a href="../elements/5ba15954-573c-449f-ba4b-c4bacfb4d58d.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/605ded35-2d0d-42a3-9d33-4a5d8425ad7c.html" target="element"> Database Service (dbPaaS) </a> </td>
																				<td> <a href="../elements/60e3f4e6-a8a9-42fe-8fb5-ddd58240b1b2.html" target="element"> Central Dossier Repository </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/1747c888-a17b-41e4-833b-50389c0b5afd.html" target="element">  </a> </td>
																		<td> <a href="../elements/1747c888-a17b-41e4-833b-50389c0b5afd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/6151a8de-06d3-41a0-9922-2eded166fee3.html" target="element"> PaaS Service Provider </a> </td>
																		<td> <a href="../elements/3af13de8-a9be-409d-a2f6-4f4de0a79094.html" target="element"> PaaS terms of Service </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>