<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for Support Customer</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Generated View for Support Customer</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/1440a563-db25-4802-9fc2-4c56b89e8e35.png" alt="Generated View for Support Customer" usemap="#1440a563-db25-4802-9fc2-4c56b89e8e35map"/>
			   <map name="1440a563-db25-4802-9fc2-4c56b89e8e35map">
				  		<area shape="rect" coords="156,90,276,145" href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html"  target="element">
				  		<area shape="rect" coords="156,10,276,65" href="../elements/db3d1c99-d78c-4c55-80be-476b1f76342e.html"  target="element">
				  				<area shape="rect" coords="754,358,769,373" href="../elements/b665508c-b011-41c1-ae0b-329cfcd64e8c.html"  target="element">
				  				<area shape="rect" coords="1126,338,1246,393" href="../elements/f7a5cf32-0ff5-4936-999b-1aaf8b4fa478.html"  target="element">
				  				<area shape="rect" coords="958,338,1078,393" href="../elements/0e49c1b2-cd49-40d5-9ae3-6a0134da5107.html"  target="element">
				  				<area shape="rect" coords="797,338,917,393" href="../elements/43ef4291-7912-45fb-b27e-a251e6bda0d5.html"  target="element">
				  				<area shape="rect" coords="598,334,718,389" href="../elements/b2b77134-3587-431f-8589-c53a4c935080.html"  target="element">
				  				<area shape="rect" coords="430,334,550,389" href="../elements/0e49c1b2-cd49-40d5-9ae3-6a0134da5107.html"  target="element">
				  				<area shape="rect" coords="262,334,382,389" href="../elements/950979fa-0aa9-46ce-85bd-6b1a2cb7e71f.html"  target="element">
				  				<area shape="rect" coords="93,334,213,389" href="../elements/4be9ba58-3fe0-4f0b-8698-2f04f30e1b65.html"  target="element">

				  		<area shape="rect" coords="10,218,1306,497" href="../elements/9e2c5522-6bca-4353-a729-110fe511a0e6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/9e2c5522-6bca-4353-a729-110fe511a0e6.html" target="element"> Support Customer </a> </td>
											    <td> <a href="../elements/9e2c5522-6bca-4353-a729-110fe511a0e6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/4be9ba58-3fe0-4f0b-8698-2f04f30e1b65.html" target="element"> Login to Support Portal </a> </td>
													    <td> <a href="../elements/4be9ba58-3fe0-4f0b-8698-2f04f30e1b65.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/950979fa-0aa9-46ce-85bd-6b1a2cb7e71f.html" target="element"> Take Ticket </a> </td>
													    <td> <a href="../elements/950979fa-0aa9-46ce-85bd-6b1a2cb7e71f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0e49c1b2-cd49-40d5-9ae3-6a0134da5107.html" target="element"> Use Information Chest </a> </td>
													    <td> <a href="../elements/0e49c1b2-cd49-40d5-9ae3-6a0134da5107.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b2b77134-3587-431f-8589-c53a4c935080.html" target="element"> Communicate Solution </a> </td>
													    <td> <a href="../elements/b2b77134-3587-431f-8589-c53a4c935080.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/43ef4291-7912-45fb-b27e-a251e6bda0d5.html" target="element"> Close Ticket </a> </td>
													    <td> <a href="../elements/43ef4291-7912-45fb-b27e-a251e6bda0d5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0e49c1b2-cd49-40d5-9ae3-6a0134da5107.html" target="element"> Use Information Chest </a> </td>
													    <td> <a href="../elements/0e49c1b2-cd49-40d5-9ae3-6a0134da5107.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f7a5cf32-0ff5-4936-999b-1aaf8b4fa478.html" target="element"> Logout </a> </td>
													    <td> <a href="../elements/f7a5cf32-0ff5-4936-999b-1aaf8b4fa478.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b665508c-b011-41c1-ae0b-329cfcd64e8c.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/b665508c-b011-41c1-ae0b-329cfcd64e8c.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/db3d1c99-d78c-4c55-80be-476b1f76342e.html" target="element"> Support </a> </td>
											    <td> <a href="../elements/db3d1c99-d78c-4c55-80be-476b1f76342e.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
											    <td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/de621f00-caca-47b0-8fab-fa7314652a7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/de621f00-caca-47b0-8fab-fa7314652a7b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9e2c5522-6bca-4353-a729-110fe511a0e6.html" target="element"> Support Customer </a> </td>
																		<td> <a href="../elements/4be9ba58-3fe0-4f0b-8698-2f04f30e1b65.html" target="element"> Login to Support Portal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/84b4a497-607f-4f62-95a0-90cf3fa9b08f.html" target="element">  </a> </td>
																		<td> <a href="../elements/84b4a497-607f-4f62-95a0-90cf3fa9b08f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9e2c5522-6bca-4353-a729-110fe511a0e6.html" target="element"> Support Customer </a> </td>
																		<td> <a href="../elements/950979fa-0aa9-46ce-85bd-6b1a2cb7e71f.html" target="element"> Take Ticket </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/abc5cd7a-1b10-4b76-a294-19d569d882b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/abc5cd7a-1b10-4b76-a294-19d569d882b3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9e2c5522-6bca-4353-a729-110fe511a0e6.html" target="element"> Support Customer </a> </td>
																		<td> <a href="../elements/0e49c1b2-cd49-40d5-9ae3-6a0134da5107.html" target="element"> Use Information Chest </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d8cf8a6c-f80f-4dae-98d3-d50cf11fbeb0.html" target="element">  </a> </td>
																		<td> <a href="../elements/d8cf8a6c-f80f-4dae-98d3-d50cf11fbeb0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9e2c5522-6bca-4353-a729-110fe511a0e6.html" target="element"> Support Customer </a> </td>
																		<td> <a href="../elements/b2b77134-3587-431f-8589-c53a4c935080.html" target="element"> Communicate Solution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/975f6040-142a-4324-bea5-6551f6b7bd29.html" target="element">  </a> </td>
																		<td> <a href="../elements/975f6040-142a-4324-bea5-6551f6b7bd29.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9e2c5522-6bca-4353-a729-110fe511a0e6.html" target="element"> Support Customer </a> </td>
																		<td> <a href="../elements/43ef4291-7912-45fb-b27e-a251e6bda0d5.html" target="element"> Close Ticket </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1079e995-01a1-47f5-b670-0ae3417f0d73.html" target="element">  </a> </td>
																		<td> <a href="../elements/1079e995-01a1-47f5-b670-0ae3417f0d73.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9e2c5522-6bca-4353-a729-110fe511a0e6.html" target="element"> Support Customer </a> </td>
																		<td> <a href="../elements/0e49c1b2-cd49-40d5-9ae3-6a0134da5107.html" target="element"> Use Information Chest </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/382730b9-186e-44f8-aad6-8b1fb2910bbe.html" target="element">  </a> </td>
																		<td> <a href="../elements/382730b9-186e-44f8-aad6-8b1fb2910bbe.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9e2c5522-6bca-4353-a729-110fe511a0e6.html" target="element"> Support Customer </a> </td>
																		<td> <a href="../elements/f7a5cf32-0ff5-4936-999b-1aaf8b4fa478.html" target="element"> Logout </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/1a90477c-ddd6-4903-98df-a8dbcaee9ffe.html" target="element">  </a> </td>
																				<td> <a href="../elements/1a90477c-ddd6-4903-98df-a8dbcaee9ffe.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/4be9ba58-3fe0-4f0b-8698-2f04f30e1b65.html" target="element"> Login to Support Portal </a> </td>
																				<td> <a href="../elements/950979fa-0aa9-46ce-85bd-6b1a2cb7e71f.html" target="element"> Take Ticket </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c7a2b498-4baf-493c-834d-94e168d60465.html" target="element">  </a> </td>
																				<td> <a href="../elements/c7a2b498-4baf-493c-834d-94e168d60465.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/950979fa-0aa9-46ce-85bd-6b1a2cb7e71f.html" target="element"> Take Ticket </a> </td>
																				<td> <a href="../elements/0e49c1b2-cd49-40d5-9ae3-6a0134da5107.html" target="element"> Use Information Chest </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2ddac987-8ea9-436f-a947-30618e3af0e7.html" target="element">  </a> </td>
																				<td> <a href="../elements/2ddac987-8ea9-436f-a947-30618e3af0e7.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/0e49c1b2-cd49-40d5-9ae3-6a0134da5107.html" target="element"> Use Information Chest </a> </td>
																				<td> <a href="../elements/b2b77134-3587-431f-8589-c53a4c935080.html" target="element"> Communicate Solution </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/60cff682-5600-4e0d-a8cd-ce0ded6b0fd6.html" target="element">  </a> </td>
																				<td> <a href="../elements/60cff682-5600-4e0d-a8cd-ce0ded6b0fd6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/b2b77134-3587-431f-8589-c53a4c935080.html" target="element"> Communicate Solution </a> </td>
																				<td> <a href="../elements/b665508c-b011-41c1-ae0b-329cfcd64e8c.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/cf701bfa-6162-4d42-be71-b9ba98344489.html" target="element">  </a> </td>
																				<td> <a href="../elements/cf701bfa-6162-4d42-be71-b9ba98344489.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/43ef4291-7912-45fb-b27e-a251e6bda0d5.html" target="element"> Close Ticket </a> </td>
																				<td> <a href="../elements/0e49c1b2-cd49-40d5-9ae3-6a0134da5107.html" target="element"> Use Information Chest </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/8029dbbf-9f15-4d8a-9287-a36a546e96e7.html" target="element">  </a> </td>
																				<td> <a href="../elements/8029dbbf-9f15-4d8a-9287-a36a546e96e7.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/0e49c1b2-cd49-40d5-9ae3-6a0134da5107.html" target="element"> Use Information Chest </a> </td>
																				<td> <a href="../elements/f7a5cf32-0ff5-4936-999b-1aaf8b4fa478.html" target="element"> Logout </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/1ff0567e-37a7-419e-b02b-84a8a210229e.html" target="element">  </a> </td>
																				<td> <a href="../elements/1ff0567e-37a7-419e-b02b-84a8a210229e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/b665508c-b011-41c1-ae0b-329cfcd64e8c.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/43ef4291-7912-45fb-b27e-a251e6bda0d5.html" target="element"> Close Ticket </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e6220781-bd5f-47db-93af-1f85b474e11d.html" target="element">  </a> </td>
																				<td> <a href="../elements/e6220781-bd5f-47db-93af-1f85b474e11d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/b665508c-b011-41c1-ae0b-329cfcd64e8c.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/950979fa-0aa9-46ce-85bd-6b1a2cb7e71f.html" target="element"> Take Ticket </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/09760543-27ef-4a24-b8af-91c0139fedcc.html" target="element">  </a> </td>
																		<td> <a href="../elements/09760543-27ef-4a24-b8af-91c0139fedcc.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/db3d1c99-d78c-4c55-80be-476b1f76342e.html" target="element"> Support </a> </td>
																		<td> <a href="../elements/9e2c5522-6bca-4353-a729-110fe511a0e6.html" target="element"> Support Customer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e68e1d9c-947a-4d95-8f5e-fd80534a66a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/e68e1d9c-947a-4d95-8f5e-fd80534a66a8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
																		<td> <a href="../elements/9e2c5522-6bca-4353-a729-110fe511a0e6.html" target="element"> Support Customer </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>