<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for Buy Goods from Vending Machine</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Generated View for Buy Goods from Vending Machine</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/1ea90c5d-0577-4e03-8ae2-248bd74c84bc.png" alt="Generated View for Buy Goods from Vending Machine" usemap="#1ea90c5d-0577-4e03-8ae2-248bd74c84bcmap"/>
			   <map name="1ea90c5d-0577-4e03-8ae2-248bd74c84bcmap">
				  		<area shape="rect" coords="144,90,264,145" href="../elements/972e199d-4cd9-48c7-b99e-1fe59a65f97d.html"  target="element">
				  		<area shape="rect" coords="144,10,264,65" href="../elements/564ef5f2-a23d-4f14-b12b-698b369c0d53.html"  target="element">
				  				<area shape="rect" coords="919,338,934,353" href="../elements/879cf1d8-bd22-4f29-b61f-6a3c69090e5c.html"  target="element">
				  				<area shape="rect" coords="1145,338,1160,353" href="../elements/cac2cc45-41b2-4013-8a35-23ff7b05b931.html"  target="element">
				  				<area shape="rect" coords="1193,312,1313,367" href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html"  target="element">
				  				<area shape="rect" coords="980,382,1100,437" href="../elements/08ec568b-fbca-4d24-bd0a-22008c80261b.html"  target="element">
				  				<area shape="rect" coords="982,302,1102,357" href="../elements/c9a9ec4b-56e6-448f-a99f-15ef778219e7.html"  target="element">
				  				<area shape="rect" coords="765,318,885,373" href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html"  target="element">
				  				<area shape="rect" coords="573,328,588,343" href="../elements/c9ba9ea3-85ef-43ec-bbae-dbd9b0064ee8.html"  target="element">
				  				<area shape="rect" coords="220,329,235,344" href="../elements/4a1cf194-9461-474d-a4b3-e44f2f5db6ba.html"  target="element">
				  				<area shape="rect" coords="602,254,722,309" href="../elements/6364089f-a919-450f-97a2-28a74f7c4524.html"  target="element">
				  				<area shape="rect" coords="434,309,554,364" href="../elements/1c596bd7-2dbc-491c-a1c1-4937b5bc88b0.html"  target="element">
				  				<area shape="rect" coords="273,312,393,367" href="../elements/bf066450-a53d-4fb6-8b96-88e7983a9541.html"  target="element">
				  				<area shape="rect" coords="71,307,191,362" href="../elements/f053cf4f-7bb4-4411-82a6-fb0546caa4ab.html"  target="element">

				  		<area shape="rect" coords="10,182,1415,555" href="../elements/7835f62d-ab3d-4f55-a2b5-8f96382a59aa.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/7835f62d-ab3d-4f55-a2b5-8f96382a59aa.html" target="element"> Buy Goods from Vending Machine </a> </td>
											    <td> <a href="../elements/7835f62d-ab3d-4f55-a2b5-8f96382a59aa.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/f053cf4f-7bb4-4411-82a6-fb0546caa4ab.html" target="element"> Open Shop URL </a> </td>
													    <td> <a href="../elements/f053cf4f-7bb4-4411-82a6-fb0546caa4ab.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/bf066450-a53d-4fb6-8b96-88e7983a9541.html" target="element"> Browse Catalog </a> </td>
													    <td> <a href="../elements/bf066450-a53d-4fb6-8b96-88e7983a9541.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1c596bd7-2dbc-491c-a1c1-4937b5bc88b0.html" target="element"> Put into Cart </a> </td>
													    <td> <a href="../elements/1c596bd7-2dbc-491c-a1c1-4937b5bc88b0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6364089f-a919-450f-97a2-28a74f7c4524.html" target="element"> Register </a> </td>
													    <td> <a href="../elements/6364089f-a919-450f-97a2-28a74f7c4524.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4a1cf194-9461-474d-a4b3-e44f2f5db6ba.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/4a1cf194-9461-474d-a4b3-e44f2f5db6ba.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c9ba9ea3-85ef-43ec-bbae-dbd9b0064ee8.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/c9ba9ea3-85ef-43ec-bbae-dbd9b0064ee8.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html" target="element"> Login </a> </td>
													    <td> <a href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c9a9ec4b-56e6-448f-a99f-15ef778219e7.html" target="element"> Manage Profile </a> </td>
													    <td> <a href="../elements/c9a9ec4b-56e6-448f-a99f-15ef778219e7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08ec568b-fbca-4d24-bd0a-22008c80261b.html" target="element"> Checkout </a> </td>
													    <td> <a href="../elements/08ec568b-fbca-4d24-bd0a-22008c80261b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
													    <td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cac2cc45-41b2-4013-8a35-23ff7b05b931.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/cac2cc45-41b2-4013-8a35-23ff7b05b931.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/879cf1d8-bd22-4f29-b61f-6a3c69090e5c.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/879cf1d8-bd22-4f29-b61f-6a3c69090e5c.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/564ef5f2-a23d-4f14-b12b-698b369c0d53.html" target="element"> Customer </a> </td>
											    <td> <a href="../elements/564ef5f2-a23d-4f14-b12b-698b369c0d53.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/972e199d-4cd9-48c7-b99e-1fe59a65f97d.html" target="element"> Digital Sales </a> </td>
											    <td> <a href="../elements/972e199d-4cd9-48c7-b99e-1fe59a65f97d.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/e9c9d3f0-3185-4e04-9a67-5ab26fce43b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/e9c9d3f0-3185-4e04-9a67-5ab26fce43b8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7835f62d-ab3d-4f55-a2b5-8f96382a59aa.html" target="element"> Buy Goods from Vending Machine </a> </td>
																		<td> <a href="../elements/f053cf4f-7bb4-4411-82a6-fb0546caa4ab.html" target="element"> Open Shop URL </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e2e0006d-7921-4984-a4fb-aee088bc78c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/e2e0006d-7921-4984-a4fb-aee088bc78c3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7835f62d-ab3d-4f55-a2b5-8f96382a59aa.html" target="element"> Buy Goods from Vending Machine </a> </td>
																		<td> <a href="../elements/bf066450-a53d-4fb6-8b96-88e7983a9541.html" target="element"> Browse Catalog </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a3dcff78-09fc-4fff-8736-2a2e1eb1ded7.html" target="element">  </a> </td>
																		<td> <a href="../elements/a3dcff78-09fc-4fff-8736-2a2e1eb1ded7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7835f62d-ab3d-4f55-a2b5-8f96382a59aa.html" target="element"> Buy Goods from Vending Machine </a> </td>
																		<td> <a href="../elements/1c596bd7-2dbc-491c-a1c1-4937b5bc88b0.html" target="element"> Put into Cart </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aca26d0c-505f-4e90-b381-76128ea2538f.html" target="element">  </a> </td>
																		<td> <a href="../elements/aca26d0c-505f-4e90-b381-76128ea2538f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7835f62d-ab3d-4f55-a2b5-8f96382a59aa.html" target="element"> Buy Goods from Vending Machine </a> </td>
																		<td> <a href="../elements/6364089f-a919-450f-97a2-28a74f7c4524.html" target="element"> Register </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e2486f38-491d-4528-ac91-d57e563f68e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/e2486f38-491d-4528-ac91-d57e563f68e2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7835f62d-ab3d-4f55-a2b5-8f96382a59aa.html" target="element"> Buy Goods from Vending Machine </a> </td>
																		<td> <a href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html" target="element"> Login </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e6cbffc2-3b57-4344-afbd-e56b40462260.html" target="element">  </a> </td>
																		<td> <a href="../elements/e6cbffc2-3b57-4344-afbd-e56b40462260.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7835f62d-ab3d-4f55-a2b5-8f96382a59aa.html" target="element"> Buy Goods from Vending Machine </a> </td>
																		<td> <a href="../elements/c9a9ec4b-56e6-448f-a99f-15ef778219e7.html" target="element"> Manage Profile </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fd67f598-5b65-456a-aaa1-43dd6c8af8b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/fd67f598-5b65-456a-aaa1-43dd6c8af8b3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7835f62d-ab3d-4f55-a2b5-8f96382a59aa.html" target="element"> Buy Goods from Vending Machine </a> </td>
																		<td> <a href="../elements/08ec568b-fbca-4d24-bd0a-22008c80261b.html" target="element"> Checkout </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d5795f5f-66cb-4d8d-896e-655088fdaa26.html" target="element">  </a> </td>
																		<td> <a href="../elements/d5795f5f-66cb-4d8d-896e-655088fdaa26.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7835f62d-ab3d-4f55-a2b5-8f96382a59aa.html" target="element"> Buy Goods from Vending Machine </a> </td>
																		<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/87b961e4-38ba-415c-9a05-5dc9df9574ef.html" target="element">  </a> </td>
																				<td> <a href="../elements/87b961e4-38ba-415c-9a05-5dc9df9574ef.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/f053cf4f-7bb4-4411-82a6-fb0546caa4ab.html" target="element"> Open Shop URL </a> </td>
																				<td> <a href="../elements/4a1cf194-9461-474d-a4b3-e44f2f5db6ba.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a8ccff3a-cb31-42ac-ab5a-d72ee43d2639.html" target="element">  </a> </td>
																				<td> <a href="../elements/a8ccff3a-cb31-42ac-ab5a-d72ee43d2639.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/bf066450-a53d-4fb6-8b96-88e7983a9541.html" target="element"> Browse Catalog </a> </td>
																				<td> <a href="../elements/1c596bd7-2dbc-491c-a1c1-4937b5bc88b0.html" target="element"> Put into Cart </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ffe929bf-d0ba-44b3-9406-a4b3a1d7c07e.html" target="element">  </a> </td>
																				<td> <a href="../elements/ffe929bf-d0ba-44b3-9406-a4b3a1d7c07e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/1c596bd7-2dbc-491c-a1c1-4937b5bc88b0.html" target="element"> Put into Cart </a> </td>
																				<td> <a href="../elements/c9ba9ea3-85ef-43ec-bbae-dbd9b0064ee8.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/593996ac-2ed6-4003-a67f-961ac7efc110.html" target="element">  </a> </td>
																				<td> <a href="../elements/593996ac-2ed6-4003-a67f-961ac7efc110.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/6364089f-a919-450f-97a2-28a74f7c4524.html" target="element"> Register </a> </td>
																				<td> <a href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html" target="element"> Login </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9456e01d-3882-4898-a488-f7ce95059c63.html" target="element">  </a> </td>
																				<td> <a href="../elements/9456e01d-3882-4898-a488-f7ce95059c63.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/4a1cf194-9461-474d-a4b3-e44f2f5db6ba.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/bf066450-a53d-4fb6-8b96-88e7983a9541.html" target="element"> Browse Catalog </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4a196979-60fb-45e8-ab32-40f9b5ca9443.html" target="element">  </a> </td>
																				<td> <a href="../elements/4a196979-60fb-45e8-ab32-40f9b5ca9443.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/4a1cf194-9461-474d-a4b3-e44f2f5db6ba.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html" target="element"> Login </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/dd224bf0-45cc-4bd1-9c62-a44102c6ce15.html" target="element">  </a> </td>
																				<td> <a href="../elements/dd224bf0-45cc-4bd1-9c62-a44102c6ce15.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c9ba9ea3-85ef-43ec-bbae-dbd9b0064ee8.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html" target="element"> Login </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ba4c25ca-d5cb-448e-ac37-a6d535ab0b63.html" target="element">  </a> </td>
																				<td> <a href="../elements/ba4c25ca-d5cb-448e-ac37-a6d535ab0b63.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c9ba9ea3-85ef-43ec-bbae-dbd9b0064ee8.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/6364089f-a919-450f-97a2-28a74f7c4524.html" target="element"> Register </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ceedf299-4abf-442d-ba8b-6aba6d628754.html" target="element">  </a> </td>
																				<td> <a href="../elements/ceedf299-4abf-442d-ba8b-6aba6d628754.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html" target="element"> Login </a> </td>
																				<td> <a href="../elements/879cf1d8-bd22-4f29-b61f-6a3c69090e5c.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/aaec75b9-8d57-4927-9a24-06f75db22b3c.html" target="element">  </a> </td>
																				<td> <a href="../elements/aaec75b9-8d57-4927-9a24-06f75db22b3c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c9a9ec4b-56e6-448f-a99f-15ef778219e7.html" target="element"> Manage Profile </a> </td>
																				<td> <a href="../elements/cac2cc45-41b2-4013-8a35-23ff7b05b931.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ae94339c-82c7-4c4c-a41d-ced7834fb471.html" target="element">  </a> </td>
																				<td> <a href="../elements/ae94339c-82c7-4c4c-a41d-ced7834fb471.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/08ec568b-fbca-4d24-bd0a-22008c80261b.html" target="element"> Checkout </a> </td>
																				<td> <a href="../elements/cac2cc45-41b2-4013-8a35-23ff7b05b931.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/583cfaf7-6e99-4dee-b3ca-0b63b0d936ef.html" target="element">  </a> </td>
																				<td> <a href="../elements/583cfaf7-6e99-4dee-b3ca-0b63b0d936ef.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/cac2cc45-41b2-4013-8a35-23ff7b05b931.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/4a1cf194-9461-474d-a4b3-e44f2f5db6ba.html" target="element"> Junction </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9be0a64c-0ba0-4532-9cfb-7ddfb10cedff.html" target="element">  </a> </td>
																				<td> <a href="../elements/9be0a64c-0ba0-4532-9cfb-7ddfb10cedff.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/cac2cc45-41b2-4013-8a35-23ff7b05b931.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/17f7e10c-8ab5-4b4a-94c6-1f2702ced123.html" target="element">  </a> </td>
																				<td> <a href="../elements/17f7e10c-8ab5-4b4a-94c6-1f2702ced123.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/879cf1d8-bd22-4f29-b61f-6a3c69090e5c.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/c9a9ec4b-56e6-448f-a99f-15ef778219e7.html" target="element"> Manage Profile </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/dd0d6e05-9d8f-4cea-9460-a0bc457fca00.html" target="element">  </a> </td>
																				<td> <a href="../elements/dd0d6e05-9d8f-4cea-9460-a0bc457fca00.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/879cf1d8-bd22-4f29-b61f-6a3c69090e5c.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/08ec568b-fbca-4d24-bd0a-22008c80261b.html" target="element"> Checkout </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/68409da6-e14e-4a8d-9efe-ad8cef753cf9.html" target="element">  </a> </td>
																		<td> <a href="../elements/68409da6-e14e-4a8d-9efe-ad8cef753cf9.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/564ef5f2-a23d-4f14-b12b-698b369c0d53.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/7835f62d-ab3d-4f55-a2b5-8f96382a59aa.html" target="element"> Buy Goods from Vending Machine </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e8359d8d-9dbe-4f6f-8987-26f14b1419e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/e8359d8d-9dbe-4f6f-8987-26f14b1419e1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/972e199d-4cd9-48c7-b99e-1fe59a65f97d.html" target="element"> Digital Sales </a> </td>
																		<td> <a href="../elements/7835f62d-ab3d-4f55-a2b5-8f96382a59aa.html" target="element"> Buy Goods from Vending Machine </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>