<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for Supply Chain Management</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Generated View for Supply Chain Management</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/25989f83-930d-4eec-9f34-038c55cbc0db.png" alt="Generated View for Supply Chain Management" usemap="#25989f83-930d-4eec-9f34-038c55cbc0dbmap"/>
			   <map name="25989f83-930d-4eec-9f34-038c55cbc0dbmap">
				  		<area shape="rect" coords="1078,640,1198,695" href="../elements/3b893270-5f6c-4b46-a478-c6df7608bde7.html"  target="element">
				  		<area shape="rect" coords="265,640,385,695" href="../elements/d1b32308-ac24-421f-9cfe-3231cfe286a5.html"  target="element">
				  		<area shape="rect" coords="934,640,1054,695" href="../elements/200a6996-4141-4569-ad9c-73f8b24a1bd2.html"  target="element">
				  		<area shape="rect" coords="421,640,561,695" href="../elements/3541d747-8e5b-42d6-a8d7-be46ba246dfa.html"  target="element">
				  		<area shape="rect" coords="610,640,730,695" href="../elements/7451ae80-c185-418a-bf74-77a32c5c6787.html"  target="element">
				  		<area shape="rect" coords="769,640,889,695" href="../elements/361def84-2477-4df0-843f-4bacc0934660.html"  target="element">
				  		<area shape="rect" coords="238,10,358,65" href="../elements/27d259bd-aa36-48f7-917e-eeb24c7e2ddc.html"  target="element">
				  		<area shape="rect" coords="10,430,130,485" href="../elements/ed06ce9f-daec-4dee-b9d1-8c57260caf75.html"  target="element">
				  		<area shape="rect" coords="10,184,130,239" href="../elements/4eb42472-fea9-419c-b795-52478aaa5980.html"  target="element">
				  		<area shape="rect" coords="788,508,908,563" href="../elements/3085a147-9a50-46c9-a6be-76a6add4faab.html"  target="element">
				  		<area shape="rect" coords="1275,508,1395,580" href="../elements/0a64c4cc-9fcf-4651-8301-107a02eb9465.html"  target="element">
				  		<area shape="rect" coords="632,508,752,563" href="../elements/66f1961c-7443-4964-af4a-b38a26fe8376.html"  target="element">
				  		<area shape="rect" coords="940,508,1060,563" href="../elements/b3bc3f8e-7910-4c01-86d4-91137a1387fe.html"  target="element">
				  		<area shape="rect" coords="1112,508,1232,563" href="../elements/41874a52-9b2b-4ad4-9777-f3a00a6416d4.html"  target="element">
				  		<area shape="rect" coords="932,16,1052,71" href="../elements/d90f1d5a-db6d-4c88-9c25-5fdff273d77f.html"  target="element">
				  		<area shape="rect" coords="387,185,507,240" href="../elements/7df6ad27-6d2e-48bb-a22b-3896f5c76609.html"  target="element">
				  		<area shape="rect" coords="1162,184,1282,239" href="../elements/81007547-36d6-4598-90a2-8bd00e847a32.html"  target="element">
				  		<area shape="rect" coords="1006,184,1126,239" href="../elements/70fa9152-c7bc-4edc-bbe3-a59f21577022.html"  target="element">
				  		<area shape="rect" coords="850,184,970,239" href="../elements/777f16a7-942b-4bd3-88aa-a873074b5945.html"  target="element">
				  		<area shape="rect" coords="694,184,814,239" href="../elements/21b6a749-212c-4e6c-975c-8632ed7dcb72.html"  target="element">
				  		<area shape="rect" coords="538,185,658,240" href="../elements/36dc25cd-e21f-4d22-b379-69fa270cebbe.html"  target="element">
				  		<area shape="rect" coords="1366,184,1486,239" href="../elements/6886062b-97b3-47d3-a379-2e7a5b99aae1.html"  target="element">
				  				<area shape="rect" coords="238,372,358,427" href="../elements/8093626b-22b7-49d0-b802-0e55e0a4451c.html"  target="element">
				  				<area shape="rect" coords="1162,364,1282,419" href="../elements/96e407bb-e901-4055-b2e8-3a1e4ca1fe29.html"  target="element">
				  				<area shape="rect" coords="934,304,1054,359" href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html"  target="element">
				  				<area shape="rect" coords="689,372,809,427" href="../elements/ea0e02da-d863-44fd-9fab-d0661b2d6fb7.html"  target="element">
				  				<area shape="rect" coords="382,372,502,427" href="../elements/a0847b96-5472-4d8f-95a8-0639d632a1d2.html"  target="element">

				  		<area shape="rect" coords="226,268,1343,485" href="../elements/71aed653-37c7-4e0b-8ce6-021aad574bef.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/71aed653-37c7-4e0b-8ce6-021aad574bef.html" target="element"> Supply Chain Management </a> </td>
											    <td> <a href="../elements/71aed653-37c7-4e0b-8ce6-021aad574bef.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a0847b96-5472-4d8f-95a8-0639d632a1d2.html" target="element"> Supply </a> </td>
													    <td> <a href="../elements/a0847b96-5472-4d8f-95a8-0639d632a1d2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ea0e02da-d863-44fd-9fab-d0661b2d6fb7.html" target="element"> Make </a> </td>
													    <td> <a href="../elements/ea0e02da-d863-44fd-9fab-d0661b2d6fb7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
													    <td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/96e407bb-e901-4055-b2e8-3a1e4ca1fe29.html" target="element"> Deliver </a> </td>
													    <td> <a href="../elements/96e407bb-e901-4055-b2e8-3a1e4ca1fe29.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8093626b-22b7-49d0-b802-0e55e0a4451c.html" target="element"> Manage other aspects of the chain </a> </td>
													    <td> <a href="../elements/8093626b-22b7-49d0-b802-0e55e0a4451c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/6886062b-97b3-47d3-a379-2e7a5b99aae1.html" target="element"> Value Chain (macro 1) </a> </td>
											    <td> <a href="../elements/6886062b-97b3-47d3-a379-2e7a5b99aae1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/36dc25cd-e21f-4d22-b379-69fa270cebbe.html" target="element"> CPO </a> </td>
											    <td> <a href="../elements/36dc25cd-e21f-4d22-b379-69fa270cebbe.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/21b6a749-212c-4e6c-975c-8632ed7dcb72.html" target="element"> Maker </a> </td>
											    <td> <a href="../elements/21b6a749-212c-4e6c-975c-8632ed7dcb72.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/777f16a7-942b-4bd3-88aa-a873074b5945.html" target="element"> Product Manager </a> </td>
											    <td> <a href="../elements/777f16a7-942b-4bd3-88aa-a873074b5945.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/70fa9152-c7bc-4edc-bbe3-a59f21577022.html" target="element"> Customer Department </a> </td>
											    <td> <a href="../elements/70fa9152-c7bc-4edc-bbe3-a59f21577022.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/81007547-36d6-4598-90a2-8bd00e847a32.html" target="element"> Customers </a> </td>
											    <td> <a href="../elements/81007547-36d6-4598-90a2-8bd00e847a32.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7df6ad27-6d2e-48bb-a22b-3896f5c76609.html" target="element"> Suppliers </a> </td>
											    <td> <a href="../elements/7df6ad27-6d2e-48bb-a22b-3896f5c76609.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d90f1d5a-db6d-4c88-9c25-5fdff273d77f.html" target="element"> supply chain coordination group </a> </td>
											    <td> <a href="../elements/d90f1d5a-db6d-4c88-9c25-5fdff273d77f.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/41874a52-9b2b-4ad4-9777-f3a00a6416d4.html" target="element"> Better coordination </a> </td>
											    <td> <a href="../elements/41874a52-9b2b-4ad4-9777-f3a00a6416d4.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b3bc3f8e-7910-4c01-86d4-91137a1387fe.html" target="element"> Achieve 0 inventory  </a> </td>
											    <td> <a href="../elements/b3bc3f8e-7910-4c01-86d4-91137a1387fe.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/66f1961c-7443-4964-af4a-b38a26fe8376.html" target="element"> Select less wasteful partners </a> </td>
											    <td> <a href="../elements/66f1961c-7443-4964-af4a-b38a26fe8376.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0a64c4cc-9fcf-4651-8301-107a02eb9465.html" target="element"> Select Partners with process efficiency </a> </td>
											    <td> <a href="../elements/0a64c4cc-9fcf-4651-8301-107a02eb9465.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3085a147-9a50-46c9-a6be-76a6add4faab.html" target="element"> Source materials ethically </a> </td>
											    <td> <a href="../elements/3085a147-9a50-46c9-a6be-76a6add4faab.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4eb42472-fea9-419c-b795-52478aaa5980.html" target="element"> Product design group </a> </td>
											    <td> <a href="../elements/4eb42472-fea9-419c-b795-52478aaa5980.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ed06ce9f-daec-4dee-b9d1-8c57260caf75.html" target="element"> Product Design </a> </td>
											    <td> <a href="../elements/ed06ce9f-daec-4dee-b9d1-8c57260caf75.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27d259bd-aa36-48f7-917e-eeb24c7e2ddc.html" target="element"> other aspects collaboration </a> </td>
											    <td> <a href="../elements/27d259bd-aa36-48f7-917e-eeb24c7e2ddc.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/361def84-2477-4df0-843f-4bacc0934660.html" target="element"> Maintain relations </a> </td>
											    <td> <a href="../elements/361def84-2477-4df0-843f-4bacc0934660.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7451ae80-c185-418a-bf74-77a32c5c6787.html" target="element"> Enable natural resource view </a> </td>
											    <td> <a href="../elements/7451ae80-c185-418a-bf74-77a32c5c6787.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3541d747-8e5b-42d6-a8d7-be46ba246dfa.html" target="element"> Explore circular economy possibilities </a> </td>
											    <td> <a href="../elements/3541d747-8e5b-42d6-a8d7-be46ba246dfa.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/200a6996-4141-4569-ad9c-73f8b24a1bd2.html" target="element"> Reduce emissions and waste </a> </td>
											    <td> <a href="../elements/200a6996-4141-4569-ad9c-73f8b24a1bd2.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d1b32308-ac24-421f-9cfe-3231cfe286a5.html" target="element"> Use renewable energy </a> </td>
											    <td> <a href="../elements/d1b32308-ac24-421f-9cfe-3231cfe286a5.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3b893270-5f6c-4b46-a478-c6df7608bde7.html" target="element"> Begin recycling schemes </a> </td>
											    <td> <a href="../elements/3b893270-5f6c-4b46-a478-c6df7608bde7.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/ea2983cf-fec1-40f1-bb76-9841733bbfd4.html" target="element">  </a> </td>
																		<td> <a href="../elements/ea2983cf-fec1-40f1-bb76-9841733bbfd4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/71aed653-37c7-4e0b-8ce6-021aad574bef.html" target="element"> Supply Chain Management </a> </td>
																		<td> <a href="../elements/a0847b96-5472-4d8f-95a8-0639d632a1d2.html" target="element"> Supply </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d9457ac3-646b-4416-ae07-9867d4c6e738.html" target="element">  </a> </td>
																		<td> <a href="../elements/d9457ac3-646b-4416-ae07-9867d4c6e738.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/71aed653-37c7-4e0b-8ce6-021aad574bef.html" target="element"> Supply Chain Management </a> </td>
																		<td> <a href="../elements/ea0e02da-d863-44fd-9fab-d0661b2d6fb7.html" target="element"> Make </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5bc9275c-4eca-4fe8-9c99-98612e31be74.html" target="element">  </a> </td>
																		<td> <a href="../elements/5bc9275c-4eca-4fe8-9c99-98612e31be74.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/71aed653-37c7-4e0b-8ce6-021aad574bef.html" target="element"> Supply Chain Management </a> </td>
																		<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0f3c06a5-cea3-4c31-ae05-5b42ca3dbbd7.html" target="element">  </a> </td>
																		<td> <a href="../elements/0f3c06a5-cea3-4c31-ae05-5b42ca3dbbd7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/71aed653-37c7-4e0b-8ce6-021aad574bef.html" target="element"> Supply Chain Management </a> </td>
																		<td> <a href="../elements/96e407bb-e901-4055-b2e8-3a1e4ca1fe29.html" target="element"> Deliver </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a8f35ec0-4ad9-408e-a2db-7a2c6bd482ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/a8f35ec0-4ad9-408e-a2db-7a2c6bd482ea.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/71aed653-37c7-4e0b-8ce6-021aad574bef.html" target="element"> Supply Chain Management </a> </td>
																		<td> <a href="../elements/8093626b-22b7-49d0-b802-0e55e0a4451c.html" target="element"> Manage other aspects of the chain </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/2cb99564-e026-45c3-948d-7bbb82cb44b6.html" target="element">  </a> </td>
																				<td> <a href="../elements/2cb99564-e026-45c3-948d-7bbb82cb44b6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/ea0e02da-d863-44fd-9fab-d0661b2d6fb7.html" target="element"> Make </a> </td>
																				<td> <a href="../elements/a0847b96-5472-4d8f-95a8-0639d632a1d2.html" target="element"> Supply </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/7e879321-4d2e-419e-af10-a5278535208c.html" target="element">  </a> </td>
																				<td> <a href="../elements/7e879321-4d2e-419e-af10-a5278535208c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																				<td> <a href="../elements/a0847b96-5472-4d8f-95a8-0639d632a1d2.html" target="element"> Supply </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/7a340270-d0f5-4a13-8314-c2650d68fe21.html" target="element">  </a> </td>
																				<td> <a href="../elements/7a340270-d0f5-4a13-8314-c2650d68fe21.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																				<td> <a href="../elements/96e407bb-e901-4055-b2e8-3a1e4ca1fe29.html" target="element"> Deliver </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/1bbed12c-49f9-4312-8e53-1475e78d5797.html" target="element">  </a> </td>
																				<td> <a href="../elements/1bbed12c-49f9-4312-8e53-1475e78d5797.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																				<td> <a href="../elements/ea0e02da-d863-44fd-9fab-d0661b2d6fb7.html" target="element"> Make </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c6223c50-a49f-4265-bf5d-4a4c907a9a85.html" target="element">  </a> </td>
																				<td> <a href="../elements/c6223c50-a49f-4265-bf5d-4a4c907a9a85.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																				<td> <a href="../elements/66f1961c-7443-4964-af4a-b38a26fe8376.html" target="element"> Select less wasteful partners </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/483217ab-c72a-4943-844b-45aed6f42082.html" target="element">  </a> </td>
																				<td> <a href="../elements/483217ab-c72a-4943-844b-45aed6f42082.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																				<td> <a href="../elements/3085a147-9a50-46c9-a6be-76a6add4faab.html" target="element"> Source materials ethically </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/33b08093-90a8-405c-8312-d118dd33414e.html" target="element">  </a> </td>
																				<td> <a href="../elements/33b08093-90a8-405c-8312-d118dd33414e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																				<td> <a href="../elements/b3bc3f8e-7910-4c01-86d4-91137a1387fe.html" target="element"> Achieve 0 inventory  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b7d3af62-c7c2-48c1-bdff-03f6a0cc4cf5.html" target="element">  </a> </td>
																				<td> <a href="../elements/b7d3af62-c7c2-48c1-bdff-03f6a0cc4cf5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																				<td> <a href="../elements/41874a52-9b2b-4ad4-9777-f3a00a6416d4.html" target="element"> Better coordination </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/dd211b44-0142-434a-8311-f2dad84a40cd.html" target="element">  </a> </td>
																				<td> <a href="../elements/dd211b44-0142-434a-8311-f2dad84a40cd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																				<td> <a href="../elements/0a64c4cc-9fcf-4651-8301-107a02eb9465.html" target="element"> Select Partners with process efficiency </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/3d20bcb7-64be-4f9a-b45f-8b9f546cf82b.html" target="element">  </a> </td>
																				<td> <a href="../elements/3d20bcb7-64be-4f9a-b45f-8b9f546cf82b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/96e407bb-e901-4055-b2e8-3a1e4ca1fe29.html" target="element"> Deliver </a> </td>
																				<td> <a href="../elements/ea0e02da-d863-44fd-9fab-d0661b2d6fb7.html" target="element"> Make </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/fe1dcdde-a48f-4116-b9ce-038b791c9dc3.html" target="element">  </a> </td>
																				<td> <a href="../elements/fe1dcdde-a48f-4116-b9ce-038b791c9dc3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/8093626b-22b7-49d0-b802-0e55e0a4451c.html" target="element"> Manage other aspects of the chain </a> </td>
																				<td> <a href="../elements/3b893270-5f6c-4b46-a478-c6df7608bde7.html" target="element"> Begin recycling schemes </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/03dde93e-afa9-4a1a-96fb-f8b1271fb34d.html" target="element">  </a> </td>
																				<td> <a href="../elements/03dde93e-afa9-4a1a-96fb-f8b1271fb34d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/8093626b-22b7-49d0-b802-0e55e0a4451c.html" target="element"> Manage other aspects of the chain </a> </td>
																				<td> <a href="../elements/7451ae80-c185-418a-bf74-77a32c5c6787.html" target="element"> Enable natural resource view </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/345faaf4-7d92-4c90-a7c3-bba3bbac4dc5.html" target="element">  </a> </td>
																				<td> <a href="../elements/345faaf4-7d92-4c90-a7c3-bba3bbac4dc5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/8093626b-22b7-49d0-b802-0e55e0a4451c.html" target="element"> Manage other aspects of the chain </a> </td>
																				<td> <a href="../elements/d1b32308-ac24-421f-9cfe-3231cfe286a5.html" target="element"> Use renewable energy </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/530a2d65-e2ac-4af4-af64-dcdc79965ab3.html" target="element">  </a> </td>
																				<td> <a href="../elements/530a2d65-e2ac-4af4-af64-dcdc79965ab3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/8093626b-22b7-49d0-b802-0e55e0a4451c.html" target="element"> Manage other aspects of the chain </a> </td>
																				<td> <a href="../elements/361def84-2477-4df0-843f-4bacc0934660.html" target="element"> Maintain relations </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2eda4888-82b5-4edb-beb6-f7993983e317.html" target="element">  </a> </td>
																				<td> <a href="../elements/2eda4888-82b5-4edb-beb6-f7993983e317.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/8093626b-22b7-49d0-b802-0e55e0a4451c.html" target="element"> Manage other aspects of the chain </a> </td>
																				<td> <a href="../elements/200a6996-4141-4569-ad9c-73f8b24a1bd2.html" target="element"> Reduce emissions and waste </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/89527a44-ab8d-4d80-b99a-0d82778fadad.html" target="element">  </a> </td>
																				<td> <a href="../elements/89527a44-ab8d-4d80-b99a-0d82778fadad.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/8093626b-22b7-49d0-b802-0e55e0a4451c.html" target="element"> Manage other aspects of the chain </a> </td>
																				<td> <a href="../elements/3541d747-8e5b-42d6-a8d7-be46ba246dfa.html" target="element"> Explore circular economy possibilities </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/b860981b-788e-4ff2-9041-591fbdab9715.html" target="element">  </a> </td>
																		<td> <a href="../elements/b860981b-788e-4ff2-9041-591fbdab9715.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6886062b-97b3-47d3-a379-2e7a5b99aae1.html" target="element"> Value Chain (macro 1) </a> </td>
																		<td> <a href="../elements/71aed653-37c7-4e0b-8ce6-021aad574bef.html" target="element"> Supply Chain Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/45d72ed3-b0e6-47d1-9eaa-bb643f7607aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/45d72ed3-b0e6-47d1-9eaa-bb643f7607aa.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/36dc25cd-e21f-4d22-b379-69fa270cebbe.html" target="element"> CPO </a> </td>
																		<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8397d256-8769-4107-ad62-540b090572aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/8397d256-8769-4107-ad62-540b090572aa.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/36dc25cd-e21f-4d22-b379-69fa270cebbe.html" target="element"> CPO </a> </td>
																		<td> <a href="../elements/a0847b96-5472-4d8f-95a8-0639d632a1d2.html" target="element"> Supply </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/76504b8a-9f88-4cfb-8b5b-636fc7166070.html" target="element">  </a> </td>
																		<td> <a href="../elements/76504b8a-9f88-4cfb-8b5b-636fc7166070.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/21b6a749-212c-4e6c-975c-8632ed7dcb72.html" target="element"> Maker </a> </td>
																		<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3312c160-f765-4bd9-a20c-87578adb6a7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/3312c160-f765-4bd9-a20c-87578adb6a7c.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/21b6a749-212c-4e6c-975c-8632ed7dcb72.html" target="element"> Maker </a> </td>
																		<td> <a href="../elements/ea0e02da-d863-44fd-9fab-d0661b2d6fb7.html" target="element"> Make </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c9dce481-344a-4507-98de-0097871e128f.html" target="element">  </a> </td>
																		<td> <a href="../elements/c9dce481-344a-4507-98de-0097871e128f.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/777f16a7-942b-4bd3-88aa-a873074b5945.html" target="element"> Product Manager </a> </td>
																		<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/04ada1b1-5560-4335-8508-6b0d86014b72.html" target="element">  </a> </td>
																		<td> <a href="../elements/04ada1b1-5560-4335-8508-6b0d86014b72.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/777f16a7-942b-4bd3-88aa-a873074b5945.html" target="element"> Product Manager </a> </td>
																		<td> <a href="../elements/ea0e02da-d863-44fd-9fab-d0661b2d6fb7.html" target="element"> Make </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/28e55753-22b8-41ec-99e9-3fe8b7c24e0a.html" target="element">  </a> </td>
																		<td> <a href="../elements/28e55753-22b8-41ec-99e9-3fe8b7c24e0a.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/70fa9152-c7bc-4edc-bbe3-a59f21577022.html" target="element"> Customer Department </a> </td>
																		<td> <a href="../elements/96e407bb-e901-4055-b2e8-3a1e4ca1fe29.html" target="element"> Deliver </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e0fe9606-0f18-4cb7-af94-8ec4c6669168.html" target="element">  </a> </td>
																		<td> <a href="../elements/e0fe9606-0f18-4cb7-af94-8ec4c6669168.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/70fa9152-c7bc-4edc-bbe3-a59f21577022.html" target="element"> Customer Department </a> </td>
																		<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/87b72796-cf52-4d62-a407-8bb452607d07.html" target="element">  </a> </td>
																		<td> <a href="../elements/87b72796-cf52-4d62-a407-8bb452607d07.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/81007547-36d6-4598-90a2-8bd00e847a32.html" target="element"> Customers </a> </td>
																		<td> <a href="../elements/96e407bb-e901-4055-b2e8-3a1e4ca1fe29.html" target="element"> Deliver </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f95e7105-923a-4ee0-b64b-c3101700c1b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/f95e7105-923a-4ee0-b64b-c3101700c1b9.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/7df6ad27-6d2e-48bb-a22b-3896f5c76609.html" target="element"> Suppliers </a> </td>
																		<td> <a href="../elements/a0847b96-5472-4d8f-95a8-0639d632a1d2.html" target="element"> Supply </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f01350fd-a0bd-4ff6-b5d5-bd1a93a2dba8.html" target="element">  </a> </td>
																		<td> <a href="../elements/f01350fd-a0bd-4ff6-b5d5-bd1a93a2dba8.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/d90f1d5a-db6d-4c88-9c25-5fdff273d77f.html" target="element"> supply chain coordination group </a> </td>
																		<td> <a href="../elements/7df6ad27-6d2e-48bb-a22b-3896f5c76609.html" target="element"> Suppliers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/49ab3eda-9643-43d0-a350-0c09bfbfd15c.html" target="element">  </a> </td>
																		<td> <a href="../elements/49ab3eda-9643-43d0-a350-0c09bfbfd15c.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/d90f1d5a-db6d-4c88-9c25-5fdff273d77f.html" target="element"> supply chain coordination group </a> </td>
																		<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b427736a-0180-441a-b277-7789196629e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/b427736a-0180-441a-b277-7789196629e3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/d90f1d5a-db6d-4c88-9c25-5fdff273d77f.html" target="element"> supply chain coordination group </a> </td>
																		<td> <a href="../elements/70fa9152-c7bc-4edc-bbe3-a59f21577022.html" target="element"> Customer Department </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6566f3dd-88fc-46f7-b7d8-57d4f5fae15d.html" target="element">  </a> </td>
																		<td> <a href="../elements/6566f3dd-88fc-46f7-b7d8-57d4f5fae15d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/d90f1d5a-db6d-4c88-9c25-5fdff273d77f.html" target="element"> supply chain coordination group </a> </td>
																		<td> <a href="../elements/777f16a7-942b-4bd3-88aa-a873074b5945.html" target="element"> Product Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dce9e444-5298-4961-a15d-4955d21e7443.html" target="element">  </a> </td>
																		<td> <a href="../elements/dce9e444-5298-4961-a15d-4955d21e7443.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/d90f1d5a-db6d-4c88-9c25-5fdff273d77f.html" target="element"> supply chain coordination group </a> </td>
																		<td> <a href="../elements/21b6a749-212c-4e6c-975c-8632ed7dcb72.html" target="element"> Maker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/868af664-dd7b-4363-b25b-abc507d34a90.html" target="element">  </a> </td>
																		<td> <a href="../elements/868af664-dd7b-4363-b25b-abc507d34a90.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/d90f1d5a-db6d-4c88-9c25-5fdff273d77f.html" target="element"> supply chain coordination group </a> </td>
																		<td> <a href="../elements/36dc25cd-e21f-4d22-b379-69fa270cebbe.html" target="element"> CPO </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6fdd575a-e16f-41f8-85f3-918e66f0ff38.html" target="element">  </a> </td>
																		<td> <a href="../elements/6fdd575a-e16f-41f8-85f3-918e66f0ff38.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/4eb42472-fea9-419c-b795-52478aaa5980.html" target="element"> Product design group </a> </td>
																		<td> <a href="../elements/ed06ce9f-daec-4dee-b9d1-8c57260caf75.html" target="element"> Product Design </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3abc2382-3236-4acb-86fa-bb1548aec82d.html" target="element">  </a> </td>
																		<td> <a href="../elements/3abc2382-3236-4acb-86fa-bb1548aec82d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/4eb42472-fea9-419c-b795-52478aaa5980.html" target="element"> Product design group </a> </td>
																		<td> <a href="../elements/7df6ad27-6d2e-48bb-a22b-3896f5c76609.html" target="element"> Suppliers </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f534023d-516e-465a-b03a-3d58d6f9d2f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/f534023d-516e-465a-b03a-3d58d6f9d2f9.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/ed06ce9f-daec-4dee-b9d1-8c57260caf75.html" target="element"> Product Design </a> </td>
																		<td> <a href="../elements/ea0e02da-d863-44fd-9fab-d0661b2d6fb7.html" target="element"> Make </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e4699156-eb8c-4811-b647-488385ac8029.html" target="element">  </a> </td>
																		<td> <a href="../elements/e4699156-eb8c-4811-b647-488385ac8029.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/27d259bd-aa36-48f7-917e-eeb24c7e2ddc.html" target="element"> other aspects collaboration </a> </td>
																		<td> <a href="../elements/8093626b-22b7-49d0-b802-0e55e0a4451c.html" target="element"> Manage other aspects of the chain </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/25ac0b04-2e78-40d4-9486-1742422a888b.html" target="element">  </a> </td>
																		<td> <a href="../elements/25ac0b04-2e78-40d4-9486-1742422a888b.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/27d259bd-aa36-48f7-917e-eeb24c7e2ddc.html" target="element"> other aspects collaboration </a> </td>
																		<td> <a href="../elements/7df6ad27-6d2e-48bb-a22b-3896f5c76609.html" target="element"> Suppliers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0dbee201-484d-465c-86e0-ad8360145569.html" target="element">  </a> </td>
																		<td> <a href="../elements/0dbee201-484d-465c-86e0-ad8360145569.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/27d259bd-aa36-48f7-917e-eeb24c7e2ddc.html" target="element"> other aspects collaboration </a> </td>
																		<td> <a href="../elements/36dc25cd-e21f-4d22-b379-69fa270cebbe.html" target="element"> CPO </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/16ee0b66-bb66-48b2-bc2b-949daadc4ca6.html" target="element">  </a> </td>
																		<td> <a href="../elements/16ee0b66-bb66-48b2-bc2b-949daadc4ca6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/27d259bd-aa36-48f7-917e-eeb24c7e2ddc.html" target="element"> other aspects collaboration </a> </td>
																		<td> <a href="../elements/21b6a749-212c-4e6c-975c-8632ed7dcb72.html" target="element"> Maker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/277ea92f-28ac-440a-acfc-401cf7644f22.html" target="element">  </a> </td>
																		<td> <a href="../elements/277ea92f-28ac-440a-acfc-401cf7644f22.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/27d259bd-aa36-48f7-917e-eeb24c7e2ddc.html" target="element"> other aspects collaboration </a> </td>
																		<td> <a href="../elements/777f16a7-942b-4bd3-88aa-a873074b5945.html" target="element"> Product Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/82bc0e32-45fa-4246-b933-ec36e8800614.html" target="element">  </a> </td>
																		<td> <a href="../elements/82bc0e32-45fa-4246-b933-ec36e8800614.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/27d259bd-aa36-48f7-917e-eeb24c7e2ddc.html" target="element"> other aspects collaboration </a> </td>
																		<td> <a href="../elements/70fa9152-c7bc-4edc-bbe3-a59f21577022.html" target="element"> Customer Department </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>