<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for Supply Chain Management</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Generated View for Supply Chain Management</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/25989f83-930d-4eec-9f34-038c55cbc0db.png" alt="Generated View for Supply Chain Management" usemap="#25989f83-930d-4eec-9f34-038c55cbc0dbmap"/>
			   <map name="25989f83-930d-4eec-9f34-038c55cbc0dbmap">
				  		<area shape="rect" coords="267,11,387,66" href="../elements/7df6ad27-6d2e-48bb-a22b-3896f5c76609.html"  target="element">
				  		<area shape="rect" coords="1042,10,1162,65" href="../elements/81007547-36d6-4598-90a2-8bd00e847a32.html"  target="element">
				  		<area shape="rect" coords="886,10,1006,65" href="../elements/70fa9152-c7bc-4edc-bbe3-a59f21577022.html"  target="element">
				  		<area shape="rect" coords="730,10,850,65" href="../elements/777f16a7-942b-4bd3-88aa-a873074b5945.html"  target="element">
				  		<area shape="rect" coords="574,10,694,65" href="../elements/21b6a749-212c-4e6c-975c-8632ed7dcb72.html"  target="element">
				  		<area shape="rect" coords="418,11,538,66" href="../elements/36dc25cd-e21f-4d22-b379-69fa270cebbe.html"  target="element">
				  		<area shape="rect" coords="10,11,130,66" href="../elements/6886062b-97b3-47d3-a379-2e7a5b99aae1.html"  target="element">
				  				<area shape="rect" coords="1042,190,1162,245" href="../elements/96e407bb-e901-4055-b2e8-3a1e4ca1fe29.html"  target="element">
				  				<area shape="rect" coords="814,130,934,185" href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html"  target="element">
				  				<area shape="rect" coords="569,198,689,253" href="../elements/ea0e02da-d863-44fd-9fab-d0661b2d6fb7.html"  target="element">
				  				<area shape="rect" coords="262,198,382,253" href="../elements/a0847b96-5472-4d8f-95a8-0639d632a1d2.html"  target="element">

				  		<area shape="rect" coords="226,94,1223,311" href="../elements/71aed653-37c7-4e0b-8ce6-021aad574bef.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/71aed653-37c7-4e0b-8ce6-021aad574bef.html" target="element"> Supply Chain Management </a> </td>
											    <td> <a href="../elements/71aed653-37c7-4e0b-8ce6-021aad574bef.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a0847b96-5472-4d8f-95a8-0639d632a1d2.html" target="element"> Supply </a> </td>
													    <td> <a href="../elements/a0847b96-5472-4d8f-95a8-0639d632a1d2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ea0e02da-d863-44fd-9fab-d0661b2d6fb7.html" target="element"> Make </a> </td>
													    <td> <a href="../elements/ea0e02da-d863-44fd-9fab-d0661b2d6fb7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
													    <td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/96e407bb-e901-4055-b2e8-3a1e4ca1fe29.html" target="element"> Deliver </a> </td>
													    <td> <a href="../elements/96e407bb-e901-4055-b2e8-3a1e4ca1fe29.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/6886062b-97b3-47d3-a379-2e7a5b99aae1.html" target="element"> Value Chain (macro 1) </a> </td>
											    <td> <a href="../elements/6886062b-97b3-47d3-a379-2e7a5b99aae1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/36dc25cd-e21f-4d22-b379-69fa270cebbe.html" target="element"> CPO </a> </td>
											    <td> <a href="../elements/36dc25cd-e21f-4d22-b379-69fa270cebbe.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/21b6a749-212c-4e6c-975c-8632ed7dcb72.html" target="element"> Maker </a> </td>
											    <td> <a href="../elements/21b6a749-212c-4e6c-975c-8632ed7dcb72.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/777f16a7-942b-4bd3-88aa-a873074b5945.html" target="element"> Product Manager </a> </td>
											    <td> <a href="../elements/777f16a7-942b-4bd3-88aa-a873074b5945.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/70fa9152-c7bc-4edc-bbe3-a59f21577022.html" target="element"> Customer Department </a> </td>
											    <td> <a href="../elements/70fa9152-c7bc-4edc-bbe3-a59f21577022.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/81007547-36d6-4598-90a2-8bd00e847a32.html" target="element"> Customers </a> </td>
											    <td> <a href="../elements/81007547-36d6-4598-90a2-8bd00e847a32.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7df6ad27-6d2e-48bb-a22b-3896f5c76609.html" target="element"> Suppliers </a> </td>
											    <td> <a href="../elements/7df6ad27-6d2e-48bb-a22b-3896f5c76609.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/ea2983cf-fec1-40f1-bb76-9841733bbfd4.html" target="element">  </a> </td>
																		<td> <a href="../elements/ea2983cf-fec1-40f1-bb76-9841733bbfd4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/71aed653-37c7-4e0b-8ce6-021aad574bef.html" target="element"> Supply Chain Management </a> </td>
																		<td> <a href="../elements/a0847b96-5472-4d8f-95a8-0639d632a1d2.html" target="element"> Supply </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d9457ac3-646b-4416-ae07-9867d4c6e738.html" target="element">  </a> </td>
																		<td> <a href="../elements/d9457ac3-646b-4416-ae07-9867d4c6e738.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/71aed653-37c7-4e0b-8ce6-021aad574bef.html" target="element"> Supply Chain Management </a> </td>
																		<td> <a href="../elements/ea0e02da-d863-44fd-9fab-d0661b2d6fb7.html" target="element"> Make </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5bc9275c-4eca-4fe8-9c99-98612e31be74.html" target="element">  </a> </td>
																		<td> <a href="../elements/5bc9275c-4eca-4fe8-9c99-98612e31be74.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/71aed653-37c7-4e0b-8ce6-021aad574bef.html" target="element"> Supply Chain Management </a> </td>
																		<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0f3c06a5-cea3-4c31-ae05-5b42ca3dbbd7.html" target="element">  </a> </td>
																		<td> <a href="../elements/0f3c06a5-cea3-4c31-ae05-5b42ca3dbbd7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/71aed653-37c7-4e0b-8ce6-021aad574bef.html" target="element"> Supply Chain Management </a> </td>
																		<td> <a href="../elements/96e407bb-e901-4055-b2e8-3a1e4ca1fe29.html" target="element"> Deliver </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/2cb99564-e026-45c3-948d-7bbb82cb44b6.html" target="element">  </a> </td>
																				<td> <a href="../elements/2cb99564-e026-45c3-948d-7bbb82cb44b6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/ea0e02da-d863-44fd-9fab-d0661b2d6fb7.html" target="element"> Make </a> </td>
																				<td> <a href="../elements/a0847b96-5472-4d8f-95a8-0639d632a1d2.html" target="element"> Supply </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/7e879321-4d2e-419e-af10-a5278535208c.html" target="element">  </a> </td>
																				<td> <a href="../elements/7e879321-4d2e-419e-af10-a5278535208c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																				<td> <a href="../elements/a0847b96-5472-4d8f-95a8-0639d632a1d2.html" target="element"> Supply </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/7a340270-d0f5-4a13-8314-c2650d68fe21.html" target="element">  </a> </td>
																				<td> <a href="../elements/7a340270-d0f5-4a13-8314-c2650d68fe21.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																				<td> <a href="../elements/96e407bb-e901-4055-b2e8-3a1e4ca1fe29.html" target="element"> Deliver </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/1bbed12c-49f9-4312-8e53-1475e78d5797.html" target="element">  </a> </td>
																				<td> <a href="../elements/1bbed12c-49f9-4312-8e53-1475e78d5797.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																				<td> <a href="../elements/ea0e02da-d863-44fd-9fab-d0661b2d6fb7.html" target="element"> Make </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/3d20bcb7-64be-4f9a-b45f-8b9f546cf82b.html" target="element">  </a> </td>
																				<td> <a href="../elements/3d20bcb7-64be-4f9a-b45f-8b9f546cf82b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/96e407bb-e901-4055-b2e8-3a1e4ca1fe29.html" target="element"> Deliver </a> </td>
																				<td> <a href="../elements/ea0e02da-d863-44fd-9fab-d0661b2d6fb7.html" target="element"> Make </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/b860981b-788e-4ff2-9041-591fbdab9715.html" target="element">  </a> </td>
																		<td> <a href="../elements/b860981b-788e-4ff2-9041-591fbdab9715.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6886062b-97b3-47d3-a379-2e7a5b99aae1.html" target="element"> Value Chain (macro 1) </a> </td>
																		<td> <a href="../elements/71aed653-37c7-4e0b-8ce6-021aad574bef.html" target="element"> Supply Chain Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/45d72ed3-b0e6-47d1-9eaa-bb643f7607aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/45d72ed3-b0e6-47d1-9eaa-bb643f7607aa.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/36dc25cd-e21f-4d22-b379-69fa270cebbe.html" target="element"> CPO </a> </td>
																		<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8397d256-8769-4107-ad62-540b090572aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/8397d256-8769-4107-ad62-540b090572aa.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/36dc25cd-e21f-4d22-b379-69fa270cebbe.html" target="element"> CPO </a> </td>
																		<td> <a href="../elements/a0847b96-5472-4d8f-95a8-0639d632a1d2.html" target="element"> Supply </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/76504b8a-9f88-4cfb-8b5b-636fc7166070.html" target="element">  </a> </td>
																		<td> <a href="../elements/76504b8a-9f88-4cfb-8b5b-636fc7166070.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/21b6a749-212c-4e6c-975c-8632ed7dcb72.html" target="element"> Maker </a> </td>
																		<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3312c160-f765-4bd9-a20c-87578adb6a7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/3312c160-f765-4bd9-a20c-87578adb6a7c.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/21b6a749-212c-4e6c-975c-8632ed7dcb72.html" target="element"> Maker </a> </td>
																		<td> <a href="../elements/ea0e02da-d863-44fd-9fab-d0661b2d6fb7.html" target="element"> Make </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c9dce481-344a-4507-98de-0097871e128f.html" target="element">  </a> </td>
																		<td> <a href="../elements/c9dce481-344a-4507-98de-0097871e128f.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/777f16a7-942b-4bd3-88aa-a873074b5945.html" target="element"> Product Manager </a> </td>
																		<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/04ada1b1-5560-4335-8508-6b0d86014b72.html" target="element">  </a> </td>
																		<td> <a href="../elements/04ada1b1-5560-4335-8508-6b0d86014b72.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/777f16a7-942b-4bd3-88aa-a873074b5945.html" target="element"> Product Manager </a> </td>
																		<td> <a href="../elements/ea0e02da-d863-44fd-9fab-d0661b2d6fb7.html" target="element"> Make </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/28e55753-22b8-41ec-99e9-3fe8b7c24e0a.html" target="element">  </a> </td>
																		<td> <a href="../elements/28e55753-22b8-41ec-99e9-3fe8b7c24e0a.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/70fa9152-c7bc-4edc-bbe3-a59f21577022.html" target="element"> Customer Department </a> </td>
																		<td> <a href="../elements/96e407bb-e901-4055-b2e8-3a1e4ca1fe29.html" target="element"> Deliver </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e0fe9606-0f18-4cb7-af94-8ec4c6669168.html" target="element">  </a> </td>
																		<td> <a href="../elements/e0fe9606-0f18-4cb7-af94-8ec4c6669168.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/70fa9152-c7bc-4edc-bbe3-a59f21577022.html" target="element"> Customer Department </a> </td>
																		<td> <a href="../elements/34d01003-f5fd-4cd3-8cd8-bec48078b6fe.html" target="element"> Plan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/87b72796-cf52-4d62-a407-8bb452607d07.html" target="element">  </a> </td>
																		<td> <a href="../elements/87b72796-cf52-4d62-a407-8bb452607d07.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/81007547-36d6-4598-90a2-8bd00e847a32.html" target="element"> Customers </a> </td>
																		<td> <a href="../elements/96e407bb-e901-4055-b2e8-3a1e4ca1fe29.html" target="element"> Deliver </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f95e7105-923a-4ee0-b64b-c3101700c1b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/f95e7105-923a-4ee0-b64b-c3101700c1b9.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/7df6ad27-6d2e-48bb-a22b-3896f5c76609.html" target="element"> Suppliers </a> </td>
																		<td> <a href="../elements/a0847b96-5472-4d8f-95a8-0639d632a1d2.html" target="element"> Supply </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>