<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Business Model</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Business Model</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/364546ac-7512-4020-a777-74d93821cde8.png" alt="Business Model" usemap="#364546ac-7512-4020-a777-74d93821cde8map"/>
			   <map name="364546ac-7512-4020-a777-74d93821cde8map">
				  		<area shape="rect" coords="1232,802,1365,869" href="../elements/99b8d656-0a24-4069-a3ab-caa17e285cf2.html"  target="element">
				  		<area shape="rect" coords="1239,983,1359,1038" href="../elements/35b90e72-c236-4b4b-b955-fca644cdbbfe.html"  target="element">
				  		<area shape="rect" coords="1430,983,1550,1038" href="../elements/ffb76454-53a9-40c3-aa5f-4a4a9d04df37.html"  target="element">
				  		<area shape="rect" coords="1592,983,1712,1038" href="../elements/0e172b88-1d3a-41dc-9a2e-e3cad215d5fb.html"  target="element">
				  		<area shape="rect" coords="1239,910,1359,965" href="../elements/8af9193d-a0a4-42ed-aa55-f726962af65d.html"  target="element">
				  		<area shape="rect" coords="14,1101,151,1156" href="../elements/70138d17-5b86-4b12-a400-cea8ee7f6c2a.html"  target="element">
				  		<area shape="rect" coords="25,550,151,605" href="../elements/82ac8342-4738-4f29-88d6-767949d2bf0b.html"  target="element">
				  		<area shape="rect" coords="25,694,145,749" href="../elements/fe0fcaec-87a0-4378-a012-9a17420d820a.html"  target="element">
				  		<area shape="rect" coords="12,1012,152,1080" href="../elements/0b177f7d-528e-4fc7-9c2f-968e8719b3b3.html"  target="element">
				  		<area shape="rect" coords="10,929,130,984" href="../elements/a5b6c529-46cf-4dc8-827e-3e18754e3d13.html"  target="element">
				  		<area shape="rect" coords="236,958,356,1013" href="../elements/5e421b2d-b94b-4b16-849a-5c5989b73764.html"  target="element">
				  		<area shape="rect" coords="229,1161,349,1216" href="../elements/278a5cff-3999-4bba-a393-9cdff4f4b3ab.html"  target="element">
				  		<area shape="rect" coords="236,1090,356,1145" href="../elements/df0c50fd-c5c0-4e58-9d51-8d0da0b9e79d.html"  target="element">
				  		<area shape="rect" coords="380,1036,500,1091" href="../elements/9ca27216-e60b-4494-914f-668d61ddfcf9.html"  target="element">
				  		<area shape="rect" coords="236,1025,356,1080" href="../elements/38acbd08-9c5f-4e31-9935-d06cfb10dbcb.html"  target="element">
				  		<area shape="rect" coords="380,550,500,605" href="../elements/af357658-0050-4e6f-872a-d88c9f434d4e.html"  target="element">
				  		<area shape="rect" coords="374,1155,506,1222" href="../elements/3e82159a-28d5-4cc7-a6a6-ce04149ec76a.html"  target="element">
				  		<area shape="rect" coords="380,802,500,857" href="../elements/a915b724-0dec-4de5-91c8-b8d54d724e92.html"  target="element">
				  		<area shape="rect" coords="380,694,500,749" href="../elements/ff871c1e-0487-458c-bf81-6f17052835b2.html"  target="element">
				  		<area shape="rect" coords="380,886,500,941" href="../elements/56be16a3-ffcf-4e8f-a1c3-f354ea352945.html"  target="element">
				  		<area shape="rect" coords="25,616,145,671" href="../elements/90d3e20e-5f99-4552-8b8c-5df7e42bd0f0.html"  target="element">
				  		<area shape="rect" coords="25,838,145,893" href="../elements/4e6a7313-51d7-4fe0-bd94-e188cbfe40ba.html"  target="element">
				  		<area shape="rect" coords="25,766,145,821" href="../elements/c0ab929e-9575-4979-8b32-7889ef0a54f6.html"  target="element">
				  		<area shape="rect" coords="229,694,349,749" href="../elements/cbd2be97-e66c-454c-9ce0-8897b6b850ea.html"  target="element">
				  		<area shape="rect" coords="1239,682,1359,737" href="../elements/8a3c144f-60bc-4639-b8f1-518d32edd922.html"  target="element">
				  		<area shape="rect" coords="1168,286,1288,341" href="../elements/b48a6c38-c135-42ef-94fa-9e599051262d.html"  target="element">
				  						<area shape="rect" coords="828,1325,948,1380" href="../elements/26bb39bc-1b95-49a8-a719-66b964513232.html"  target="element">
				  						<area shape="rect" coords="642,1325,762,1380" href="../elements/e14a1117-48d0-49cd-a57c-c7fbc6dc189f.html"  target="element">

				  				<area shape="rect" coords="600,1270,1000,1410" href="../elements/c967e47d-eb4f-4f3e-882c-5f35728d1986.html"  target="element">
				  						<area shape="rect" coords="828,1126,948,1181" href="../elements/acf8370b-9525-4b38-8098-4881d80c83a6.html"  target="element">

				  				<area shape="rect" coords="600,1078,1000,1218" href="../elements/3fb65e78-c47b-4ef7-abb1-3e5b7fc59aa9.html"  target="element">

				          <area shape="rect" coords="560,1018,1040,1462" href="../objects/901b7f0a-0616-4f70-b0e4-d55056283f31.html" target="element" >
				  						<area shape="rect" coords="625,436,745,491" href="../elements/f8751ba5-1ec0-4fe2-949f-455d8e12047d.html"  target="element">

				  				<area shape="rect" coords="600,400,1000,526" href="../elements/c258bed6-21e7-43ed-906c-a174e56a1ec0.html"  target="element">
				  						<area shape="rect" coords="802,300,922,355" href="../elements/d50484b7-30f8-4902-a0b9-90116c27fec7.html"  target="element">
				  						<area shape="rect" coords="624,296,744,351" href="../elements/3f188645-c3e6-4ba5-bef1-e418fd999a9e.html"  target="element">

				  				<area shape="rect" coords="596,262,996,374" href="../elements/e00f09ec-b1ff-431e-9d72-be80071124e8.html"  target="element">

				          <area shape="rect" coords="560,226,1041,538" href="../objects/86389525-ee1b-4cfe-bf12-64c38a12cb07.html" target="element" >
				  						<area shape="rect" coords="796,862,916,917" href="../elements/b2df77d6-0324-4563-b279-2a9597799ce0.html"  target="element">
				  						<area shape="rect" coords="616,862,736,917" href="../elements/4ddeb72b-18cc-4422-8d04-03c3105d5023.html"  target="element">
				  						<area shape="rect" coords="988,862,1108,917" href="../elements/64f406c9-c5f6-41bd-8600-0876e12cbda3.html"  target="element">

				  				<area shape="rect" coords="592,814,1136,954" href="../elements/4fcf2eb9-5d11-4694-993b-296a662bc32a.html"  target="element">
				  						<area shape="rect" coords="984,714,1104,769" href="../elements/48407ed9-6bb1-474c-8ebd-85806ecc6194.html"  target="element">
				  						<area shape="rect" coords="792,689,912,744" href="../elements/7ed08e74-255d-49b2-bd03-9454e6536999.html"  target="element">
				  						<area shape="rect" coords="622,689,742,744" href="../elements/22ddbb05-5006-4338-836b-1be66d726979.html"  target="element">

				  				<area shape="rect" coords="588,642,1136,782" href="../elements/789db865-c1c1-4056-9bd4-a0c65edddc45.html"  target="element">

				          <area shape="rect" coords="560,586,1196,982" href="../objects/b4f21fe8-4a6d-4dd6-a094-b0516bf368b0.html" target="element" >
				  						<area shape="rect" coords="640,84,760,139" href="../elements/26bb39bc-1b95-49a8-a719-66b964513232.html"  target="element">

				  				<area shape="rect" coords="596,46,996,154" href="../elements/4fee9a31-59ce-4d91-b373-a9deee1b48bb.html"  target="element">

				          <area shape="rect" coords="560,10,1041,167" href="../objects/311b1883-45ae-4d1f-911c-77025f0c087e.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/311b1883-45ae-4d1f-911c-77025f0c087e.html" target="element"> Value Proposition </a> </td>
									           <td> <a href="../objects/311b1883-45ae-4d1f-911c-77025f0c087e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/4fee9a31-59ce-4d91-b373-a9deee1b48bb.html" target="element"> Services </a> </td>
													    <td> <a href="../elements/4fee9a31-59ce-4d91-b373-a9deee1b48bb.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/26bb39bc-1b95-49a8-a719-66b964513232.html" target="element"> Maintenance, Repair and Control </a> </td>
															    <td> <a href="../elements/26bb39bc-1b95-49a8-a719-66b964513232.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/b4f21fe8-4a6d-4dd6-a094-b0516bf368b0.html" target="element"> Value Creation </a> </td>
									           <td> <a href="../objects/b4f21fe8-4a6d-4dd6-a094-b0516bf368b0.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/789db865-c1c1-4056-9bd4-a0c65edddc45.html" target="element"> Partners and stakeholders </a> </td>
													    <td> <a href="../elements/789db865-c1c1-4056-9bd4-a0c65edddc45.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/22ddbb05-5006-4338-836b-1be66d726979.html" target="element"> Manufacturers </a> </td>
															    <td> <a href="../elements/22ddbb05-5006-4338-836b-1be66d726979.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/7ed08e74-255d-49b2-bd03-9454e6536999.html" target="element"> Service providers </a> </td>
															    <td> <a href="../elements/7ed08e74-255d-49b2-bd03-9454e6536999.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/48407ed9-6bb1-474c-8ebd-85806ecc6194.html" target="element"> Cross-functional teams </a> </td>
															    <td> <a href="../elements/48407ed9-6bb1-474c-8ebd-85806ecc6194.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/4fcf2eb9-5d11-4694-993b-296a662bc32a.html" target="element"> Value creation processes </a> </td>
													    <td> <a href="../elements/4fcf2eb9-5d11-4694-993b-296a662bc32a.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/64f406c9-c5f6-41bd-8600-0876e12cbda3.html" target="element"> Maintaining or repairing products, components </a> </td>
															    <td> <a href="../elements/64f406c9-c5f6-41bd-8600-0876e12cbda3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/4ddeb72b-18cc-4422-8d04-03c3105d5023.html" target="element"> Product design </a> </td>
															    <td> <a href="../elements/4ddeb72b-18cc-4422-8d04-03c3105d5023.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/b2df77d6-0324-4563-b279-2a9597799ce0.html" target="element"> Production </a> </td>
															    <td> <a href="../elements/b2df77d6-0324-4563-b279-2a9597799ce0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/86389525-ee1b-4cfe-bf12-64c38a12cb07.html" target="element"> Value Delivery </a> </td>
									           <td> <a href="../objects/86389525-ee1b-4cfe-bf12-64c38a12cb07.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/e00f09ec-b1ff-431e-9d72-be80071124e8.html" target="element"> Target Customers </a> </td>
													    <td> <a href="../elements/e00f09ec-b1ff-431e-9d72-be80071124e8.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3f188645-c3e6-4ba5-bef1-e418fd999a9e.html" target="element"> Cost Conscious Customer </a> </td>
															    <td> <a href="../elements/3f188645-c3e6-4ba5-bef1-e418fd999a9e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/d50484b7-30f8-4902-a0b9-90116c27fec7.html" target="element"> B2B Customer </a> </td>
															    <td> <a href="../elements/d50484b7-30f8-4902-a0b9-90116c27fec7.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/c258bed6-21e7-43ed-906c-a174e56a1ec0.html" target="element"> Value Delivery Processes </a> </td>
													    <td> <a href="../elements/c258bed6-21e7-43ed-906c-a174e56a1ec0.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/f8751ba5-1ec0-4fe2-949f-455d8e12047d.html" target="element"> Providing (product-based) services and results </a> </td>
															    <td> <a href="../elements/f8751ba5-1ec0-4fe2-949f-455d8e12047d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/901b7f0a-0616-4f70-b0e4-d55056283f31.html" target="element"> Value Capture </a> </td>
									           <td> <a href="../objects/901b7f0a-0616-4f70-b0e4-d55056283f31.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/3fb65e78-c47b-4ef7-abb1-3e5b7fc59aa9.html" target="element"> Revenues </a> </td>
													    <td> <a href="../elements/3fb65e78-c47b-4ef7-abb1-3e5b7fc59aa9.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/acf8370b-9525-4b38-8098-4881d80c83a6.html" target="element"> Payments for Functions or Results </a> </td>
															    <td> <a href="../elements/acf8370b-9525-4b38-8098-4881d80c83a6.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/c967e47d-eb4f-4f3e-882c-5f35728d1986.html" target="element"> Costs </a> </td>
													    <td> <a href="../elements/c967e47d-eb4f-4f3e-882c-5f35728d1986.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/e14a1117-48d0-49cd-a57c-c7fbc6dc189f.html" target="element"> Labor </a> </td>
															    <td> <a href="../elements/e14a1117-48d0-49cd-a57c-c7fbc6dc189f.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/26bb39bc-1b95-49a8-a719-66b964513232.html" target="element"> Maintenance, Repair and Control </a> </td>
															    <td> <a href="../elements/26bb39bc-1b95-49a8-a719-66b964513232.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/b48a6c38-c135-42ef-94fa-9e599051262d.html" target="element"> Customer </a> </td>
											    <td> <a href="../elements/b48a6c38-c135-42ef-94fa-9e599051262d.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8a3c144f-60bc-4639-b8f1-518d32edd922.html" target="element"> Supplier </a> </td>
											    <td> <a href="../elements/8a3c144f-60bc-4639-b8f1-518d32edd922.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cbd2be97-e66c-454c-9ce0-8897b6b850ea.html" target="element"> Product </a> </td>
											    <td> <a href="../elements/cbd2be97-e66c-454c-9ce0-8897b6b850ea.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c0ab929e-9575-4979-8b32-7889ef0a54f6.html" target="element"> Recyclable </a> </td>
											    <td> <a href="../elements/c0ab929e-9575-4979-8b32-7889ef0a54f6.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4e6a7313-51d7-4fe0-bd94-e188cbfe40ba.html" target="element"> Reusable </a> </td>
											    <td> <a href="../elements/4e6a7313-51d7-4fe0-bd94-e188cbfe40ba.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90d3e20e-5f99-4552-8b8c-5df7e42bd0f0.html" target="element"> Environmentally friendly </a> </td>
											    <td> <a href="../elements/90d3e20e-5f99-4552-8b8c-5df7e42bd0f0.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/56be16a3-ffcf-4e8f-a1c3-f354ea352945.html" target="element"> Radically Innovative </a> </td>
											    <td> <a href="../elements/56be16a3-ffcf-4e8f-a1c3-f354ea352945.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ff871c1e-0487-458c-bf81-6f17052835b2.html" target="element"> Assess value proposition </a> </td>
											    <td> <a href="../elements/ff871c1e-0487-458c-bf81-6f17052835b2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a915b724-0dec-4de5-91c8-b8d54d724e92.html" target="element"> Design of Product  </a> </td>
											    <td> <a href="../elements/a915b724-0dec-4de5-91c8-b8d54d724e92.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3e82159a-28d5-4cc7-a6a6-ce04149ec76a.html" target="element"> Balance economic, environmental and social needs </a> </td>
											    <td> <a href="../elements/3e82159a-28d5-4cc7-a6a6-ce04149ec76a.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/af357658-0050-4e6f-872a-d88c9f434d4e.html" target="element"> Assess entire life-cycle </a> </td>
											    <td> <a href="../elements/af357658-0050-4e6f-872a-d88c9f434d4e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/38acbd08-9c5f-4e31-9935-d06cfb10dbcb.html" target="element"> Internalize externalities </a> </td>
											    <td> <a href="../elements/38acbd08-9c5f-4e31-9935-d06cfb10dbcb.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9ca27216-e60b-4494-914f-668d61ddfcf9.html" target="element"> Integrate knowledge from multiple disciplines </a> </td>
											    <td> <a href="../elements/9ca27216-e60b-4494-914f-668d61ddfcf9.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/df0c50fd-c5c0-4e58-9d51-8d0da0b9e79d.html" target="element"> Reduce waste in life-cycle </a> </td>
											    <td> <a href="../elements/df0c50fd-c5c0-4e58-9d51-8d0da0b9e79d.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/278a5cff-3999-4bba-a393-9cdff4f4b3ab.html" target="element"> Design for easy serviceability </a> </td>
											    <td> <a href="../elements/278a5cff-3999-4bba-a393-9cdff4f4b3ab.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5e421b2d-b94b-4b16-849a-5c5989b73764.html" target="element"> Circularity </a> </td>
											    <td> <a href="../elements/5e421b2d-b94b-4b16-849a-5c5989b73764.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a5b6c529-46cf-4dc8-827e-3e18754e3d13.html" target="element"> Use natural based inputs </a> </td>
											    <td> <a href="../elements/a5b6c529-46cf-4dc8-827e-3e18754e3d13.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0b177f7d-528e-4fc7-9c2f-968e8719b3b3.html" target="element"> Design end-of-life circularity into product </a> </td>
											    <td> <a href="../elements/0b177f7d-528e-4fc7-9c2f-968e8719b3b3.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fe0fcaec-87a0-4378-a012-9a17420d820a.html" target="element"> Product service system </a> </td>
											    <td> <a href="../elements/fe0fcaec-87a0-4378-a012-9a17420d820a.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/82ac8342-4738-4f29-88d6-767949d2bf0b.html" target="element"> Consumed collaboratively </a> </td>
											    <td> <a href="../elements/82ac8342-4738-4f29-88d6-767949d2bf0b.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/70138d17-5b86-4b12-a400-cea8ee7f6c2a.html" target="element"> Offer incentives to return used products </a> </td>
											    <td> <a href="../elements/70138d17-5b86-4b12-a400-cea8ee7f6c2a.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8af9193d-a0a4-42ed-aa55-f726962af65d.html" target="element"> Environmental issues </a> </td>
											    <td> <a href="../elements/8af9193d-a0a4-42ed-aa55-f726962af65d.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0e172b88-1d3a-41dc-9a2e-e3cad215d5fb.html" target="element"> External stakeholders </a> </td>
											    <td> <a href="../elements/0e172b88-1d3a-41dc-9a2e-e3cad215d5fb.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ffb76454-53a9-40c3-aa5f-4a4a9d04df37.html" target="element"> Needs </a> </td>
											    <td> <a href="../elements/ffb76454-53a9-40c3-aa5f-4a4a9d04df37.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/35b90e72-c236-4b4b-b955-fca644cdbbfe.html" target="element"> Take external needs into account </a> </td>
											    <td> <a href="../elements/35b90e72-c236-4b4b-b955-fca644cdbbfe.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/99b8d656-0a24-4069-a3ab-caa17e285cf2.html" target="element"> Improve product design - more eco friendly </a> </td>
											    <td> <a href="../elements/99b8d656-0a24-4069-a3ab-caa17e285cf2.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/bfba556f-e210-4b49-919e-52fd71de8205.html" target="element">  </a> </td>
																				<td> <a href="../elements/bfba556f-e210-4b49-919e-52fd71de8205.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/4fee9a31-59ce-4d91-b373-a9deee1b48bb.html" target="element"> Services </a> </td>
																				<td> <a href="../elements/26bb39bc-1b95-49a8-a719-66b964513232.html" target="element"> Maintenance, Repair and Control </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/a1390866-ff3a-49ef-94c9-6da4a753b9bb.html" target="element">  </a> </td>
																				<td> <a href="../elements/a1390866-ff3a-49ef-94c9-6da4a753b9bb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/789db865-c1c1-4056-9bd4-a0c65edddc45.html" target="element"> Partners and stakeholders </a> </td>
																				<td> <a href="../elements/7ed08e74-255d-49b2-bd03-9454e6536999.html" target="element"> Service providers </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/206127ea-fc29-4a86-a693-997f76060bce.html" target="element">  </a> </td>
																				<td> <a href="../elements/206127ea-fc29-4a86-a693-997f76060bce.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/789db865-c1c1-4056-9bd4-a0c65edddc45.html" target="element"> Partners and stakeholders </a> </td>
																				<td> <a href="../elements/22ddbb05-5006-4338-836b-1be66d726979.html" target="element"> Manufacturers </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2bf08608-833b-488b-be40-613baa361932.html" target="element">  </a> </td>
																				<td> <a href="../elements/2bf08608-833b-488b-be40-613baa361932.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/789db865-c1c1-4056-9bd4-a0c65edddc45.html" target="element"> Partners and stakeholders </a> </td>
																				<td> <a href="../elements/48407ed9-6bb1-474c-8ebd-85806ecc6194.html" target="element"> Cross-functional teams </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/a53c1178-0ba7-466d-aa0a-bd3185ec4ab5.html" target="element">  </a> </td>
																						<td> <a href="../elements/a53c1178-0ba7-466d-aa0a-bd3185ec4ab5.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																						<td> <a href="../elements/22ddbb05-5006-4338-836b-1be66d726979.html" target="element"> Manufacturers </a> </td>
																						<td> <a href="../elements/8a3c144f-60bc-4639-b8f1-518d32edd922.html" target="element"> Supplier </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/0de9e343-6339-436b-93fc-823eb696bc2d.html" target="element">  </a> </td>
																						<td> <a href="../elements/0de9e343-6339-436b-93fc-823eb696bc2d.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																						<td> <a href="../elements/7ed08e74-255d-49b2-bd03-9454e6536999.html" target="element"> Service providers </a> </td>
																						<td> <a href="../elements/8a3c144f-60bc-4639-b8f1-518d32edd922.html" target="element"> Supplier </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/a152a189-8de9-4d66-8dbd-97acb8fd6520.html" target="element">  </a> </td>
																						<td> <a href="../elements/a152a189-8de9-4d66-8dbd-97acb8fd6520.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																						<td> <a href="../elements/48407ed9-6bb1-474c-8ebd-85806ecc6194.html" target="element"> Cross-functional teams </a> </td>
																						<td> <a href="../elements/4ddeb72b-18cc-4422-8d04-03c3105d5023.html" target="element"> Product design </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/2262105a-29e6-42b8-b3db-ff7069b5fcfa.html" target="element">  </a> </td>
																				<td> <a href="../elements/2262105a-29e6-42b8-b3db-ff7069b5fcfa.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/4fcf2eb9-5d11-4694-993b-296a662bc32a.html" target="element"> Value creation processes </a> </td>
																				<td> <a href="../elements/64f406c9-c5f6-41bd-8600-0876e12cbda3.html" target="element"> Maintaining or repairing products, components </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/db7e34e4-5486-4870-8037-34c1a4588d70.html" target="element">  </a> </td>
																				<td> <a href="../elements/db7e34e4-5486-4870-8037-34c1a4588d70.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/4fcf2eb9-5d11-4694-993b-296a662bc32a.html" target="element"> Value creation processes </a> </td>
																				<td> <a href="../elements/4ddeb72b-18cc-4422-8d04-03c3105d5023.html" target="element"> Product design </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/38a50708-f132-46fb-bd02-ac08a13b0440.html" target="element">  </a> </td>
																				<td> <a href="../elements/38a50708-f132-46fb-bd02-ac08a13b0440.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/4fcf2eb9-5d11-4694-993b-296a662bc32a.html" target="element"> Value creation processes </a> </td>
																				<td> <a href="../elements/b2df77d6-0324-4563-b279-2a9597799ce0.html" target="element"> Production </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/8ea9bfd3-dee2-4075-906a-b95a1fd8a2e7.html" target="element">  </a> </td>
																						<td> <a href="../elements/8ea9bfd3-dee2-4075-906a-b95a1fd8a2e7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/4ddeb72b-18cc-4422-8d04-03c3105d5023.html" target="element"> Product design </a> </td>
																						<td> <a href="../elements/278a5cff-3999-4bba-a393-9cdff4f4b3ab.html" target="element"> Design for easy serviceability </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/183d29e9-519b-4f8f-a5d2-e799141bd955.html" target="element">  </a> </td>
																						<td> <a href="../elements/183d29e9-519b-4f8f-a5d2-e799141bd955.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/4ddeb72b-18cc-4422-8d04-03c3105d5023.html" target="element"> Product design </a> </td>
																						<td> <a href="../elements/56be16a3-ffcf-4e8f-a1c3-f354ea352945.html" target="element"> Radically Innovative </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/dcd2ecbe-820d-42fa-b928-4f22dd7b924b.html" target="element">  </a> </td>
																						<td> <a href="../elements/dcd2ecbe-820d-42fa-b928-4f22dd7b924b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/4ddeb72b-18cc-4422-8d04-03c3105d5023.html" target="element"> Product design </a> </td>
																						<td> <a href="../elements/38acbd08-9c5f-4e31-9935-d06cfb10dbcb.html" target="element"> Internalize externalities </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/bcd97b5d-d01d-493c-8153-f98b7017cd8d.html" target="element">  </a> </td>
																						<td> <a href="../elements/bcd97b5d-d01d-493c-8153-f98b7017cd8d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/4ddeb72b-18cc-4422-8d04-03c3105d5023.html" target="element"> Product design </a> </td>
																						<td> <a href="../elements/5e421b2d-b94b-4b16-849a-5c5989b73764.html" target="element"> Circularity </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/54e6d7d9-2b1f-45a3-81bf-183479aa13c7.html" target="element">  </a> </td>
																						<td> <a href="../elements/54e6d7d9-2b1f-45a3-81bf-183479aa13c7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/4ddeb72b-18cc-4422-8d04-03c3105d5023.html" target="element"> Product design </a> </td>
																						<td> <a href="../elements/9ca27216-e60b-4494-914f-668d61ddfcf9.html" target="element"> Integrate knowledge from multiple disciplines </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/d00d9a2f-d8d6-4b12-82f2-6e0f5a5538d6.html" target="element">  </a> </td>
																						<td> <a href="../elements/d00d9a2f-d8d6-4b12-82f2-6e0f5a5538d6.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																						<td> <a href="../elements/4ddeb72b-18cc-4422-8d04-03c3105d5023.html" target="element"> Product design </a> </td>
																						<td> <a href="../elements/a915b724-0dec-4de5-91c8-b8d54d724e92.html" target="element"> Design of Product  </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/cda8b6bc-e7ed-4b04-84e3-a483982bbedd.html" target="element">  </a> </td>
																						<td> <a href="../elements/cda8b6bc-e7ed-4b04-84e3-a483982bbedd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/4ddeb72b-18cc-4422-8d04-03c3105d5023.html" target="element"> Product design </a> </td>
																						<td> <a href="../elements/3e82159a-28d5-4cc7-a6a6-ce04149ec76a.html" target="element"> Balance economic, environmental and social needs </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/ca16d6ea-51e1-48d2-a581-f6eefc6d9de7.html" target="element">  </a> </td>
																						<td> <a href="../elements/ca16d6ea-51e1-48d2-a581-f6eefc6d9de7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/4ddeb72b-18cc-4422-8d04-03c3105d5023.html" target="element"> Product design </a> </td>
																						<td> <a href="../elements/df0c50fd-c5c0-4e58-9d51-8d0da0b9e79d.html" target="element"> Reduce waste in life-cycle </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/02c3e61c-d17c-4147-9d19-7e682e788b9e.html" target="element">  </a> </td>
																						<td> <a href="../elements/02c3e61c-d17c-4147-9d19-7e682e788b9e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/4ddeb72b-18cc-4422-8d04-03c3105d5023.html" target="element"> Product design </a> </td>
																						<td> <a href="../elements/99b8d656-0a24-4069-a3ab-caa17e285cf2.html" target="element"> Improve product design - more eco friendly </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/fe0534e8-d55e-402c-9259-cc091bb20a34.html" target="element">  </a> </td>
																						<td> <a href="../elements/fe0534e8-d55e-402c-9259-cc091bb20a34.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/4ddeb72b-18cc-4422-8d04-03c3105d5023.html" target="element"> Product design </a> </td>
																						<td> <a href="../elements/8af9193d-a0a4-42ed-aa55-f726962af65d.html" target="element"> Environmental issues </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/fc3f2002-abf9-4959-9330-4f49c5082cd7.html" target="element">  </a> </td>
																						<td> <a href="../elements/fc3f2002-abf9-4959-9330-4f49c5082cd7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/4ddeb72b-18cc-4422-8d04-03c3105d5023.html" target="element"> Product design </a> </td>
																						<td> <a href="../elements/35b90e72-c236-4b4b-b955-fca644cdbbfe.html" target="element"> Take external needs into account </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/10ffe4b5-6217-45a5-b2ab-5dfe6845a551.html" target="element">  </a> </td>
																						<td> <a href="../elements/10ffe4b5-6217-45a5-b2ab-5dfe6845a551.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/b2df77d6-0324-4563-b279-2a9597799ce0.html" target="element"> Production </a> </td>
																						<td> <a href="../elements/8af9193d-a0a4-42ed-aa55-f726962af65d.html" target="element"> Environmental issues </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/04f1f054-46d8-4851-a101-fa432012e8f6.html" target="element">  </a> </td>
																				<td> <a href="../elements/04f1f054-46d8-4851-a101-fa432012e8f6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/e00f09ec-b1ff-431e-9d72-be80071124e8.html" target="element"> Target Customers </a> </td>
																				<td> <a href="../elements/d50484b7-30f8-4902-a0b9-90116c27fec7.html" target="element"> B2B Customer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b970b376-63be-4e3a-8df4-026f25f4e019.html" target="element">  </a> </td>
																				<td> <a href="../elements/b970b376-63be-4e3a-8df4-026f25f4e019.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/e00f09ec-b1ff-431e-9d72-be80071124e8.html" target="element"> Target Customers </a> </td>
																				<td> <a href="../elements/3f188645-c3e6-4ba5-bef1-e418fd999a9e.html" target="element"> Cost Conscious Customer </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/bb42874f-a008-4756-915b-fffe65d46775.html" target="element">  </a> </td>
																						<td> <a href="../elements/bb42874f-a008-4756-915b-fffe65d46775.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																						<td> <a href="../elements/3f188645-c3e6-4ba5-bef1-e418fd999a9e.html" target="element"> Cost Conscious Customer </a> </td>
																						<td> <a href="../elements/b48a6c38-c135-42ef-94fa-9e599051262d.html" target="element"> Customer </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/db27dde5-1531-437c-bdf4-f5dffc56ec55.html" target="element">  </a> </td>
																						<td> <a href="../elements/db27dde5-1531-437c-bdf4-f5dffc56ec55.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																						<td> <a href="../elements/d50484b7-30f8-4902-a0b9-90116c27fec7.html" target="element"> B2B Customer </a> </td>
																						<td> <a href="../elements/b48a6c38-c135-42ef-94fa-9e599051262d.html" target="element"> Customer </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/3f974751-e64c-44fc-bd51-60d36f3fe3f3.html" target="element">  </a> </td>
																				<td> <a href="../elements/3f974751-e64c-44fc-bd51-60d36f3fe3f3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/c258bed6-21e7-43ed-906c-a174e56a1ec0.html" target="element"> Value Delivery Processes </a> </td>
																				<td> <a href="../elements/f8751ba5-1ec0-4fe2-949f-455d8e12047d.html" target="element"> Providing (product-based) services and results </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/fae8c696-c2a2-4e28-8d8a-9a8d7f7e1e01.html" target="element">  </a> </td>
																				<td> <a href="../elements/fae8c696-c2a2-4e28-8d8a-9a8d7f7e1e01.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/3fb65e78-c47b-4ef7-abb1-3e5b7fc59aa9.html" target="element"> Revenues </a> </td>
																				<td> <a href="../elements/acf8370b-9525-4b38-8098-4881d80c83a6.html" target="element"> Payments for Functions or Results </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/c7887a07-ad5b-4384-be7f-ed62007cdcd3.html" target="element">  </a> </td>
																				<td> <a href="../elements/c7887a07-ad5b-4384-be7f-ed62007cdcd3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/c967e47d-eb4f-4f3e-882c-5f35728d1986.html" target="element"> Costs </a> </td>
																				<td> <a href="../elements/26bb39bc-1b95-49a8-a719-66b964513232.html" target="element"> Maintenance, Repair and Control </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/068a39e2-a585-4d21-a4ba-7bf46d35492b.html" target="element">  </a> </td>
																				<td> <a href="../elements/068a39e2-a585-4d21-a4ba-7bf46d35492b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/c967e47d-eb4f-4f3e-882c-5f35728d1986.html" target="element"> Costs </a> </td>
																				<td> <a href="../elements/e14a1117-48d0-49cd-a57c-c7fbc6dc189f.html" target="element"> Labor </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/fab34165-766c-4eef-b516-1de2dd4856cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/fab34165-766c-4eef-b516-1de2dd4856cd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/cbd2be97-e66c-454c-9ce0-8897b6b850ea.html" target="element"> Product </a> </td>
																		<td> <a href="../elements/90d3e20e-5f99-4552-8b8c-5df7e42bd0f0.html" target="element"> Environmentally friendly </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a0357fa1-7bda-47e2-840e-2cab319686af.html" target="element">  </a> </td>
																		<td> <a href="../elements/a0357fa1-7bda-47e2-840e-2cab319686af.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/cbd2be97-e66c-454c-9ce0-8897b6b850ea.html" target="element"> Product </a> </td>
																		<td> <a href="../elements/a915b724-0dec-4de5-91c8-b8d54d724e92.html" target="element"> Design of Product  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/53e76bf6-e107-4e1d-9a5b-de5529669953.html" target="element">  </a> </td>
																		<td> <a href="../elements/53e76bf6-e107-4e1d-9a5b-de5529669953.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/cbd2be97-e66c-454c-9ce0-8897b6b850ea.html" target="element"> Product </a> </td>
																		<td> <a href="../elements/82ac8342-4738-4f29-88d6-767949d2bf0b.html" target="element"> Consumed collaboratively </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d85fc80a-6318-4bec-b13e-bc4a3790adac.html" target="element">  </a> </td>
																		<td> <a href="../elements/d85fc80a-6318-4bec-b13e-bc4a3790adac.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/cbd2be97-e66c-454c-9ce0-8897b6b850ea.html" target="element"> Product </a> </td>
																		<td> <a href="../elements/c0ab929e-9575-4979-8b32-7889ef0a54f6.html" target="element"> Recyclable </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/48b7ae98-2d77-4a8a-9549-5c1036e22ff6.html" target="element">  </a> </td>
																		<td> <a href="../elements/48b7ae98-2d77-4a8a-9549-5c1036e22ff6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/cbd2be97-e66c-454c-9ce0-8897b6b850ea.html" target="element"> Product </a> </td>
																		<td> <a href="../elements/fe0fcaec-87a0-4378-a012-9a17420d820a.html" target="element"> Product service system </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cf864fc7-3fed-49fc-b58e-bb55f95b0a76.html" target="element">  </a> </td>
																		<td> <a href="../elements/cf864fc7-3fed-49fc-b58e-bb55f95b0a76.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/cbd2be97-e66c-454c-9ce0-8897b6b850ea.html" target="element"> Product </a> </td>
																		<td> <a href="../elements/4e6a7313-51d7-4fe0-bd94-e188cbfe40ba.html" target="element"> Reusable </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9b9c5af4-d5de-4a2d-809c-491521aa1f9e.html" target="element">  </a> </td>
																		<td> <a href="../elements/9b9c5af4-d5de-4a2d-809c-491521aa1f9e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/ff871c1e-0487-458c-bf81-6f17052835b2.html" target="element"> Assess value proposition </a> </td>
																		<td> <a href="../elements/a915b724-0dec-4de5-91c8-b8d54d724e92.html" target="element"> Design of Product  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b9c26f01-035d-43bc-847f-ad06b790e9c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/b9c26f01-035d-43bc-847f-ad06b790e9c2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ff871c1e-0487-458c-bf81-6f17052835b2.html" target="element"> Assess value proposition </a> </td>
																		<td> <a href="../elements/af357658-0050-4e6f-872a-d88c9f434d4e.html" target="element"> Assess entire life-cycle </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4b968735-d9a1-43fc-ac6b-e1dc4431fae1.html" target="element">  </a> </td>
																		<td> <a href="../elements/4b968735-d9a1-43fc-ac6b-e1dc4431fae1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a5b6c529-46cf-4dc8-827e-3e18754e3d13.html" target="element"> Use natural based inputs </a> </td>
																		<td> <a href="../elements/5e421b2d-b94b-4b16-849a-5c5989b73764.html" target="element"> Circularity </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/964efb39-2e31-4f6e-aa2c-682da4ce98ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/964efb39-2e31-4f6e-aa2c-682da4ce98ba.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0b177f7d-528e-4fc7-9c2f-968e8719b3b3.html" target="element"> Design end-of-life circularity into product </a> </td>
																		<td> <a href="../elements/5e421b2d-b94b-4b16-849a-5c5989b73764.html" target="element"> Circularity </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/747322cb-28e7-4afd-b0f0-9a1f1f0c6eab.html" target="element">  </a> </td>
																		<td> <a href="../elements/747322cb-28e7-4afd-b0f0-9a1f1f0c6eab.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/70138d17-5b86-4b12-a400-cea8ee7f6c2a.html" target="element"> Offer incentives to return used products </a> </td>
																		<td> <a href="../elements/5e421b2d-b94b-4b16-849a-5c5989b73764.html" target="element"> Circularity </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/65160fbf-323f-457b-a6c4-a1aa4ca64070.html" target="element">  </a> </td>
																		<td> <a href="../elements/65160fbf-323f-457b-a6c4-a1aa4ca64070.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/0e172b88-1d3a-41dc-9a2e-e3cad215d5fb.html" target="element"> External stakeholders </a> </td>
																		<td> <a href="../elements/ffb76454-53a9-40c3-aa5f-4a4a9d04df37.html" target="element"> Needs </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/27760fc2-6ae8-4677-b46f-7a9116c1509b.html" target="element">  </a> </td>
																		<td> <a href="../elements/27760fc2-6ae8-4677-b46f-7a9116c1509b.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/ffb76454-53a9-40c3-aa5f-4a4a9d04df37.html" target="element"> Needs </a> </td>
																		<td> <a href="../elements/35b90e72-c236-4b4b-b955-fca644cdbbfe.html" target="element"> Take external needs into account </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>