<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Pattern View</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Pattern View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/48943b45-d466-44ee-bff7-f984ca537fe5.png" alt="Pattern View" usemap="#48943b45-d466-44ee-bff7-f984ca537fe5map"/>
			   <map name="48943b45-d466-44ee-bff7-f984ca537fe5map">
				  		<area shape="rect" coords="10,262,191,335" href="../elements/e0b0ca01-d684-4401-a67d-e1d273ffeba3.html"  target="element">
				  		<area shape="rect" coords="10,166,191,239" href="../elements/bf890d15-1ff8-4130-9a7e-588af5723d26.html"  target="element">
				  		<area shape="rect" coords="1029,682,1210,755" href="../elements/acf00d59-ae9b-4e18-8f64-731af7f1bcf8.html"  target="element">
				  				<area shape="rect" coords="802,514,983,587" href="../elements/5723f8e4-ab0d-417c-917e-b99f1baf7516.html"  target="element">
				  				<area shape="rect" coords="802,430,979,501" href="../elements/153d6d61-2790-4365-89af-5a57675ed223.html"  target="element">

				  		<area shape="rect" coords="790,394,994,599" href="../elements/824e96aa-7729-4d10-9929-987d86f605f1.html"  target="element">
				  		<area shape="rect" coords="10,46,229,119" href="../elements/6bea8549-ff91-42df-aa01-2101120beda2.html"  target="element">
				  		<area shape="rect" coords="556,262,737,335" href="../elements/0304ddf2-e358-4ca6-9424-a8daa7cecf19.html"  target="element">
				  		<area shape="rect" coords="274,262,455,335" href="../elements/1ac98fe3-e4eb-414d-a946-c91841ece021.html"  target="element">
				  		<area shape="rect" coords="250,166,431,239" href="../elements/7030be89-9c14-4ee4-8b33-1fabe1cfc706.html"  target="element">
				  		<area shape="rect" coords="1029,10,1210,83" href="../elements/c17146d6-1152-49e7-9866-0997b2072f06.html"  target="element">
				  		<area shape="rect" coords="274,886,455,959" href="../elements/fb1c9787-cd85-40e2-852c-c53873f4ce5b.html"  target="element">
				  		<area shape="rect" coords="556,166,737,239" href="../elements/ebfc2607-1209-4790-9edb-a43bdf3de750.html"  target="element">
				  		<area shape="rect" coords="790,958,971,1031" href="../elements/cbe41891-382e-45d1-8429-996100722450.html"  target="element">
				  		<area shape="rect" coords="790,874,971,947" href="../elements/207f8327-62ff-488f-b4a2-868d1691a2fe.html"  target="element">
				  				<area shape="rect" coords="286,778,479,851" href="../elements/5d708a1c-db89-4c7e-9aad-294b64dbd77c.html"  target="element">
				  				<area shape="rect" coords="286,682,479,755" href="../elements/ed5a7bb3-0941-4e30-a52c-d98f7173d2d0.html"  target="element">

				  		<area shape="rect" coords="274,646,503,863" href="../elements/e7998bb0-5f52-47b6-9007-2f1fd48815ca.html"  target="element">
				  				<area shape="rect" coords="287,526,480,599" href="../elements/7ed860d8-27dc-4e98-be7a-933de48a8ac4.html"  target="element">
				  				<area shape="rect" coords="286,430,481,502" href="../elements/2d8e9caa-13da-4f55-803d-0920e2589929.html"  target="element">

				  		<area shape="rect" coords="274,394,503,611" href="../elements/8855a497-f3e6-40e8-8994-2d90168a6190.html"  target="element">
				  				<area shape="rect" coords="796,778,989,851" href="../elements/857056db-21fb-446f-8130-7dd356180ff3.html"  target="element">
				  				<area shape="rect" coords="802,682,983,755" href="../elements/9c85c5bf-374d-45bb-8fd7-b145488b153d.html"  target="element">

				  		<area shape="rect" coords="790,646,995,863" href="../elements/e4008d1b-2fed-469e-a428-ffc391c9f31f.html"  target="element">
				  		<area shape="rect" coords="802,166,983,239" href="../elements/5053b970-9f27-4b07-b792-9c915d509b99.html"  target="element">
				  		<area shape="rect" coords="803,262,983,335" href="../elements/f66e5bc0-72c3-4d28-8098-4c779611d36a.html"  target="element">
				  				<area shape="rect" coords="549,526,742,599" href="../elements/cfed1e60-6266-4654-9faa-82b5d428f9cb.html"  target="element">
				  				<area shape="rect" coords="550,430,741,502" href="../elements/e6988111-4c2c-4ee2-bd2f-5a1202936a7a.html"  target="element">

				  		<area shape="rect" coords="538,394,755,611" href="../elements/7f30ebd5-f330-45d7-a9ca-bb9336c03174.html"  target="element">
				  				<area shape="rect" coords="550,778,743,851" href="../elements/d414edd6-262f-468b-9fb4-4680ae610add.html"  target="element">
				  				<area shape="rect" coords="550,682,743,755" href="../elements/591078f9-02c5-4060-b6db-3089d8b2580f.html"  target="element">

				  		<area shape="rect" coords="538,646,755,863" href="../elements/94fb0b4b-7d35-4554-9da7-f1d7defb2bb8.html"  target="element">
				  		<area shape="rect" coords="274,46,455,119" href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html"  target="element">
				  		<area shape="rect" coords="718,10,899,83" href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
											    <td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
											    <td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/94fb0b4b-7d35-4554-9da7-f1d7defb2bb8.html" target="element"> Pattern171: Financials </a> </td>
											    <td> <a href="../elements/94fb0b4b-7d35-4554-9da7-f1d7defb2bb8.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/591078f9-02c5-4060-b6db-3089d8b2580f.html" target="element"> Pattern171: Financials - Business </a> </td>
													    <td> <a href="../elements/591078f9-02c5-4060-b6db-3089d8b2580f.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d414edd6-262f-468b-9fb4-4680ae610add.html" target="element"> NewPattern001: SaaS </a> </td>
													    <td> <a href="../elements/d414edd6-262f-468b-9fb4-4680ae610add.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/7f30ebd5-f330-45d7-a9ca-bb9336c03174.html" target="element"> Pattern173: ResourcesAreScarce </a> </td>
											    <td> <a href="../elements/7f30ebd5-f330-45d7-a9ca-bb9336c03174.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/e6988111-4c2c-4ee2-bd2f-5a1202936a7a.html" target="element"> Pattern173: ResourcesAreScarce - Business </a> </td>
													    <td> <a href="../elements/e6988111-4c2c-4ee2-bd2f-5a1202936a7a.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cfed1e60-6266-4654-9faa-82b5d428f9cb.html" target="element"> NewPattern001: SaaS </a> </td>
													    <td> <a href="../elements/cfed1e60-6266-4654-9faa-82b5d428f9cb.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/f66e5bc0-72c3-4d28-8098-4c779611d36a.html" target="element"> Pattern169: VendingMachine </a> </td>
											    <td> <a href="../elements/f66e5bc0-72c3-4d28-8098-4c779611d36a.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5053b970-9f27-4b07-b792-9c915d509b99.html" target="element"> Pattern156: KnowledgeBase </a> </td>
											    <td> <a href="../elements/5053b970-9f27-4b07-b792-9c915d509b99.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e4008d1b-2fed-469e-a428-ffc391c9f31f.html" target="element"> Pattern170: KnowYourCustomer </a> </td>
											    <td> <a href="../elements/e4008d1b-2fed-469e-a428-ffc391c9f31f.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/9c85c5bf-374d-45bb-8fd7-b145488b153d.html" target="element"> Pattern170: KnowYourCustomer - Business </a> </td>
													    <td> <a href="../elements/9c85c5bf-374d-45bb-8fd7-b145488b153d.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/857056db-21fb-446f-8130-7dd356180ff3.html" target="element"> NewPattern001: SaaS </a> </td>
													    <td> <a href="../elements/857056db-21fb-446f-8130-7dd356180ff3.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/8855a497-f3e6-40e8-8994-2d90168a6190.html" target="element"> Pattern166: BUSINESS INTELLIGENCE </a> </td>
											    <td> <a href="../elements/8855a497-f3e6-40e8-8994-2d90168a6190.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/2d8e9caa-13da-4f55-803d-0920e2589929.html" target="element"> Pattern166: BUSINESS INTELLIGENCE - Business </a> </td>
													    <td> <a href="../elements/2d8e9caa-13da-4f55-803d-0920e2589929.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7ed860d8-27dc-4e98-be7a-933de48a8ac4.html" target="element"> NewPattern001: SaaS </a> </td>
													    <td> <a href="../elements/7ed860d8-27dc-4e98-be7a-933de48a8ac4.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e7998bb0-5f52-47b6-9007-2f1fd48815ca.html" target="element"> Pattern174: FromSupplierToCustomer </a> </td>
											    <td> <a href="../elements/e7998bb0-5f52-47b6-9007-2f1fd48815ca.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/ed5a7bb3-0941-4e30-a52c-d98f7173d2d0.html" target="element"> Pattern174: FromSupplierToCustomer - Business  </a> </td>
													    <td> <a href="../elements/ed5a7bb3-0941-4e30-a52c-d98f7173d2d0.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5d708a1c-db89-4c7e-9aad-294b64dbd77c.html" target="element"> NewPattern001: SaaS </a> </td>
													    <td> <a href="../elements/5d708a1c-db89-4c7e-9aad-294b64dbd77c.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/207f8327-62ff-488f-b4a2-868d1691a2fe.html" target="element"> Sustainable Pattern: Customer Relations </a> </td>
											    <td> <a href="../elements/207f8327-62ff-488f-b4a2-868d1691a2fe.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cbe41891-382e-45d1-8429-996100722450.html" target="element"> Sustainable Pattern: Customer Channels </a> </td>
											    <td> <a href="../elements/cbe41891-382e-45d1-8429-996100722450.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ebfc2607-1209-4790-9edb-a43bdf3de750.html" target="element"> Sustainable Pattern: Key Activities - Projects </a> </td>
											    <td> <a href="../elements/ebfc2607-1209-4790-9edb-a43bdf3de750.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fb1c9787-cd85-40e2-852c-c53873f4ce5b.html" target="element"> Sustainable Pattern: Key Partners </a> </td>
											    <td> <a href="../elements/fb1c9787-cd85-40e2-852c-c53873f4ce5b.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c17146d6-1152-49e7-9866-0997b2072f06.html" target="element"> Sustainable Pattern: Key Resources </a> </td>
											    <td> <a href="../elements/c17146d6-1152-49e7-9866-0997b2072f06.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7030be89-9c14-4ee4-8b33-1fabe1cfc706.html" target="element"> Sustainable Pattern: Value Proposition </a> </td>
											    <td> <a href="../elements/7030be89-9c14-4ee4-8b33-1fabe1cfc706.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1ac98fe3-e4eb-414d-a946-c91841ece021.html" target="element"> Sustainable Pattern: Key Activities - Products </a> </td>
											    <td> <a href="../elements/1ac98fe3-e4eb-414d-a946-c91841ece021.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0304ddf2-e358-4ca6-9424-a8daa7cecf19.html" target="element"> Sustainable Pattern: Key Activities - waste </a> </td>
											    <td> <a href="../elements/0304ddf2-e358-4ca6-9424-a8daa7cecf19.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6bea8549-ff91-42df-aa01-2101120beda2.html" target="element"> Pattern163: Virtual Dossier </a> </td>
											    <td> <a href="../elements/6bea8549-ff91-42df-aa01-2101120beda2.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/824e96aa-7729-4d10-9929-987d86f605f1.html" target="element"> Pattern168: WorkTogether </a> </td>
											    <td> <a href="../elements/824e96aa-7729-4d10-9929-987d86f605f1.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/153d6d61-2790-4365-89af-5a57675ed223.html" target="element"> Pattern168: WorkTogether - Business </a> </td>
													    <td> <a href="../elements/153d6d61-2790-4365-89af-5a57675ed223.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5723f8e4-ab0d-417c-917e-b99f1baf7516.html" target="element"> NewPattern001: SaaS  </a> </td>
													    <td> <a href="../elements/5723f8e4-ab0d-417c-917e-b99f1baf7516.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/acf00d59-ae9b-4e18-8f64-731af7f1bcf8.html" target="element"> Pattern153: WebPortal </a> </td>
											    <td> <a href="../elements/acf00d59-ae9b-4e18-8f64-731af7f1bcf8.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bf890d15-1ff8-4130-9a7e-588af5723d26.html" target="element"> Pattern162: CASE MANAGEMENT </a> </td>
											    <td> <a href="../elements/bf890d15-1ff8-4130-9a7e-588af5723d26.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e0b0ca01-d684-4401-a67d-e1d273ffeba3.html" target="element"> Pattern159: BUSINESS PROCESS MANAGEMENT </a> </td>
											    <td> <a href="../elements/e0b0ca01-d684-4401-a67d-e1d273ffeba3.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/5cac32a8-4b2f-44bc-9f41-aa66e13ba1a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/5cac32a8-4b2f-44bc-9f41-aa66e13ba1a6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/479b9276-b769-4a15-984e-06582f94dda8.html" target="element">  </a> </td>
																		<td> <a href="../elements/479b9276-b769-4a15-984e-06582f94dda8.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/e4008d1b-2fed-469e-a428-ffc391c9f31f.html" target="element"> Pattern170: KnowYourCustomer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9d73d5c3-978f-4f93-ae22-810fbb9148d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/9d73d5c3-978f-4f93-ae22-810fbb9148d7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/5053b970-9f27-4b07-b792-9c915d509b99.html" target="element"> Pattern156: KnowledgeBase </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9d544e25-dbbc-4d0d-9473-55f2d02a50d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/9d544e25-dbbc-4d0d-9473-55f2d02a50d6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/94fb0b4b-7d35-4554-9da7-f1d7defb2bb8.html" target="element"> Pattern171: Financials </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1ca1d05c-9d4d-4ad7-aec3-e37d291802cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/1ca1d05c-9d4d-4ad7-aec3-e37d291802cd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/8855a497-f3e6-40e8-8994-2d90168a6190.html" target="element"> Pattern166: BUSINESS INTELLIGENCE </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fb786dd8-ac5d-4783-b89f-f09d35d269ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb786dd8-ac5d-4783-b89f-f09d35d269ec.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/7f30ebd5-f330-45d7-a9ca-bb9336c03174.html" target="element"> Pattern173: ResourcesAreScarce </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c53888fc-c719-450b-82a8-ee4e501440ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/c53888fc-c719-450b-82a8-ee4e501440ab.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/f66e5bc0-72c3-4d28-8098-4c779611d36a.html" target="element"> Pattern169: VendingMachine </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/26d6d2f4-ae39-4756-b519-6b90482be9b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/26d6d2f4-ae39-4756-b519-6b90482be9b2.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/e7998bb0-5f52-47b6-9007-2f1fd48815ca.html" target="element"> Pattern174: FromSupplierToCustomer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6a860118-6946-4334-b4c5-6fb88ca76cba.html" target="element">  </a> </td>
																		<td> <a href="../elements/6a860118-6946-4334-b4c5-6fb88ca76cba.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/ebfc2607-1209-4790-9edb-a43bdf3de750.html" target="element"> Sustainable Pattern: Key Activities - Projects </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0b54fad7-bf98-4560-952c-c81a053e1076.html" target="element">  </a> </td>
																		<td> <a href="../elements/0b54fad7-bf98-4560-952c-c81a053e1076.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/0304ddf2-e358-4ca6-9424-a8daa7cecf19.html" target="element"> Sustainable Pattern: Key Activities - waste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/adf7e3bf-aedb-4a48-aee5-f107ef05f654.html" target="element">  </a> </td>
																		<td> <a href="../elements/adf7e3bf-aedb-4a48-aee5-f107ef05f654.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/824e96aa-7729-4d10-9929-987d86f605f1.html" target="element"> Pattern168: WorkTogether </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5e146f1c-d8ed-4e68-bc32-79011ca59b0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/5e146f1c-d8ed-4e68-bc32-79011ca59b0c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/7030be89-9c14-4ee4-8b33-1fabe1cfc706.html" target="element"> Sustainable Pattern: Value Proposition </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e66c81ce-7c39-4e32-aea3-3e231bcbe47d.html" target="element">  </a> </td>
																		<td> <a href="../elements/e66c81ce-7c39-4e32-aea3-3e231bcbe47d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/1ac98fe3-e4eb-414d-a946-c91841ece021.html" target="element"> Sustainable Pattern: Key Activities - Products </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6ed9f59e-e978-47f2-958c-0175f09bf170.html" target="element">  </a> </td>
																		<td> <a href="../elements/6ed9f59e-e978-47f2-958c-0175f09bf170.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/bf890d15-1ff8-4130-9a7e-588af5723d26.html" target="element"> Pattern162: CASE MANAGEMENT </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/819639f7-e928-499e-b8e6-a92a73708f86.html" target="element">  </a> </td>
																		<td> <a href="../elements/819639f7-e928-499e-b8e6-a92a73708f86.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/94fb0b4b-7d35-4554-9da7-f1d7defb2bb8.html" target="element"> Pattern171: Financials </a> </td>
																		<td> <a href="../elements/591078f9-02c5-4060-b6db-3089d8b2580f.html" target="element"> Pattern171: Financials - Business </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aef48c7d-95e6-4712-a73a-90426f02e926.html" target="element">  </a> </td>
																		<td> <a href="../elements/aef48c7d-95e6-4712-a73a-90426f02e926.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/94fb0b4b-7d35-4554-9da7-f1d7defb2bb8.html" target="element"> Pattern171: Financials </a> </td>
																		<td> <a href="../elements/d414edd6-262f-468b-9fb4-4680ae610add.html" target="element"> NewPattern001: SaaS </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/2eff9602-a845-4436-812f-d87772a333da.html" target="element">  </a> </td>
																				<td> <a href="../elements/2eff9602-a845-4436-812f-d87772a333da.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/d414edd6-262f-468b-9fb4-4680ae610add.html" target="element"> NewPattern001: SaaS </a> </td>
																				<td> <a href="../elements/591078f9-02c5-4060-b6db-3089d8b2580f.html" target="element"> Pattern171: Financials - Business </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/d0c7862c-cd3a-4000-8cee-653dd524cc90.html" target="element">  </a> </td>
																		<td> <a href="../elements/d0c7862c-cd3a-4000-8cee-653dd524cc90.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7f30ebd5-f330-45d7-a9ca-bb9336c03174.html" target="element"> Pattern173: ResourcesAreScarce </a> </td>
																		<td> <a href="../elements/e6988111-4c2c-4ee2-bd2f-5a1202936a7a.html" target="element"> Pattern173: ResourcesAreScarce - Business </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/02504b42-6ff2-4371-a898-7227dc9d64a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/02504b42-6ff2-4371-a898-7227dc9d64a0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7f30ebd5-f330-45d7-a9ca-bb9336c03174.html" target="element"> Pattern173: ResourcesAreScarce </a> </td>
																		<td> <a href="../elements/cfed1e60-6266-4654-9faa-82b5d428f9cb.html" target="element"> NewPattern001: SaaS </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/2b391147-1dda-4a13-b7f8-cf20489db8f9.html" target="element">  </a> </td>
																				<td> <a href="../elements/2b391147-1dda-4a13-b7f8-cf20489db8f9.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/cfed1e60-6266-4654-9faa-82b5d428f9cb.html" target="element"> NewPattern001: SaaS </a> </td>
																				<td> <a href="../elements/e6988111-4c2c-4ee2-bd2f-5a1202936a7a.html" target="element"> Pattern173: ResourcesAreScarce - Business </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/2237a499-c929-4068-8cd0-d783c3479515.html" target="element">  </a> </td>
																		<td> <a href="../elements/2237a499-c929-4068-8cd0-d783c3479515.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/e4008d1b-2fed-469e-a428-ffc391c9f31f.html" target="element"> Pattern170: KnowYourCustomer </a> </td>
																		<td> <a href="../elements/207f8327-62ff-488f-b4a2-868d1691a2fe.html" target="element"> Sustainable Pattern: Customer Relations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7f7b48b1-081f-41e9-8e85-c801ff3f3ac1.html" target="element">  </a> </td>
																		<td> <a href="../elements/7f7b48b1-081f-41e9-8e85-c801ff3f3ac1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/e4008d1b-2fed-469e-a428-ffc391c9f31f.html" target="element"> Pattern170: KnowYourCustomer </a> </td>
																		<td> <a href="../elements/cbe41891-382e-45d1-8429-996100722450.html" target="element"> Sustainable Pattern: Customer Channels </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2efa0447-78a6-468e-8b22-046f5834c37b.html" target="element">  </a> </td>
																		<td> <a href="../elements/2efa0447-78a6-468e-8b22-046f5834c37b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e4008d1b-2fed-469e-a428-ffc391c9f31f.html" target="element"> Pattern170: KnowYourCustomer </a> </td>
																		<td> <a href="../elements/9c85c5bf-374d-45bb-8fd7-b145488b153d.html" target="element"> Pattern170: KnowYourCustomer - Business </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/78d84aa2-a57c-4235-94ee-4c365bb0fbf6.html" target="element">  </a> </td>
																		<td> <a href="../elements/78d84aa2-a57c-4235-94ee-4c365bb0fbf6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e4008d1b-2fed-469e-a428-ffc391c9f31f.html" target="element"> Pattern170: KnowYourCustomer </a> </td>
																		<td> <a href="../elements/857056db-21fb-446f-8130-7dd356180ff3.html" target="element"> NewPattern001: SaaS </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/9b9dc1ee-ba8b-4eec-aec4-d9ce893bc3fa.html" target="element">  </a> </td>
																				<td> <a href="../elements/9b9dc1ee-ba8b-4eec-aec4-d9ce893bc3fa.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/857056db-21fb-446f-8130-7dd356180ff3.html" target="element"> NewPattern001: SaaS </a> </td>
																				<td> <a href="../elements/9c85c5bf-374d-45bb-8fd7-b145488b153d.html" target="element"> Pattern170: KnowYourCustomer - Business </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/ee25be3e-e8cb-4159-8736-791270545fac.html" target="element">  </a> </td>
																		<td> <a href="../elements/ee25be3e-e8cb-4159-8736-791270545fac.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/8855a497-f3e6-40e8-8994-2d90168a6190.html" target="element"> Pattern166: BUSINESS INTELLIGENCE </a> </td>
																		<td> <a href="../elements/2d8e9caa-13da-4f55-803d-0920e2589929.html" target="element"> Pattern166: BUSINESS INTELLIGENCE - Business </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a01fbd14-7a86-46e1-8d75-9698dcc47396.html" target="element">  </a> </td>
																		<td> <a href="../elements/a01fbd14-7a86-46e1-8d75-9698dcc47396.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/8855a497-f3e6-40e8-8994-2d90168a6190.html" target="element"> Pattern166: BUSINESS INTELLIGENCE </a> </td>
																		<td> <a href="../elements/7ed860d8-27dc-4e98-be7a-933de48a8ac4.html" target="element"> NewPattern001: SaaS </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/f5778016-ccbc-45e7-bb00-f45f2242d8fb.html" target="element">  </a> </td>
																				<td> <a href="../elements/f5778016-ccbc-45e7-bb00-f45f2242d8fb.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/7ed860d8-27dc-4e98-be7a-933de48a8ac4.html" target="element"> NewPattern001: SaaS </a> </td>
																				<td> <a href="../elements/2d8e9caa-13da-4f55-803d-0920e2589929.html" target="element"> Pattern166: BUSINESS INTELLIGENCE - Business </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/2e895785-ca36-4d9a-9c75-52d336fa5812.html" target="element">  </a> </td>
																		<td> <a href="../elements/2e895785-ca36-4d9a-9c75-52d336fa5812.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/e7998bb0-5f52-47b6-9007-2f1fd48815ca.html" target="element"> Pattern174: FromSupplierToCustomer </a> </td>
																		<td> <a href="../elements/fb1c9787-cd85-40e2-852c-c53873f4ce5b.html" target="element"> Sustainable Pattern: Key Partners </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c01ff7ab-5ec4-43b6-913a-3b2ed4d54e2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/c01ff7ab-5ec4-43b6-913a-3b2ed4d54e2d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7998bb0-5f52-47b6-9007-2f1fd48815ca.html" target="element"> Pattern174: FromSupplierToCustomer </a> </td>
																		<td> <a href="../elements/ed5a7bb3-0941-4e30-a52c-d98f7173d2d0.html" target="element"> Pattern174: FromSupplierToCustomer - Business  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d0abb1ad-5401-4261-be72-73920e3393e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/d0abb1ad-5401-4261-be72-73920e3393e8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7998bb0-5f52-47b6-9007-2f1fd48815ca.html" target="element"> Pattern174: FromSupplierToCustomer </a> </td>
																		<td> <a href="../elements/5d708a1c-db89-4c7e-9aad-294b64dbd77c.html" target="element"> NewPattern001: SaaS </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/cc93336d-9022-47b8-b6c1-fd2fe5bb6a29.html" target="element">  </a> </td>
																				<td> <a href="../elements/cc93336d-9022-47b8-b6c1-fd2fe5bb6a29.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/5d708a1c-db89-4c7e-9aad-294b64dbd77c.html" target="element"> NewPattern001: SaaS </a> </td>
																				<td> <a href="../elements/ed5a7bb3-0941-4e30-a52c-d98f7173d2d0.html" target="element"> Pattern174: FromSupplierToCustomer - Business  </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/66fef997-dcfb-442b-b222-48e9cadbf44f.html" target="element">  </a> </td>
																		<td> <a href="../elements/66fef997-dcfb-442b-b222-48e9cadbf44f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/6bea8549-ff91-42df-aa01-2101120beda2.html" target="element"> Pattern163: Virtual Dossier </a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/49471d98-5dfa-4f5b-9df6-702da37885a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/49471d98-5dfa-4f5b-9df6-702da37885a1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/824e96aa-7729-4d10-9929-987d86f605f1.html" target="element"> Pattern168: WorkTogether </a> </td>
																		<td> <a href="../elements/153d6d61-2790-4365-89af-5a57675ed223.html" target="element"> Pattern168: WorkTogether - Business </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a2f62e98-26ad-4cd1-900c-70592ab428d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/a2f62e98-26ad-4cd1-900c-70592ab428d5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/824e96aa-7729-4d10-9929-987d86f605f1.html" target="element"> Pattern168: WorkTogether </a> </td>
																		<td> <a href="../elements/5723f8e4-ab0d-417c-917e-b99f1baf7516.html" target="element"> NewPattern001: SaaS  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/f11a97d2-91b6-4f32-8aac-a651b976fefb.html" target="element">  </a> </td>
																				<td> <a href="../elements/f11a97d2-91b6-4f32-8aac-a651b976fefb.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/5723f8e4-ab0d-417c-917e-b99f1baf7516.html" target="element"> NewPattern001: SaaS  </a> </td>
																				<td> <a href="../elements/153d6d61-2790-4365-89af-5a57675ed223.html" target="element"> Pattern168: WorkTogether - Business </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/c94c647c-1a3d-4486-bade-9440437bf5ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/c94c647c-1a3d-4486-bade-9440437bf5ee.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/acf00d59-ae9b-4e18-8f64-731af7f1bcf8.html" target="element"> Pattern153: WebPortal </a> </td>
																		<td> <a href="../elements/e4008d1b-2fed-469e-a428-ffc391c9f31f.html" target="element"> Pattern170: KnowYourCustomer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0e0a8743-3cf6-408a-a6e8-5a1ce89b88f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/0e0a8743-3cf6-408a-a6e8-5a1ce89b88f1.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e0b0ca01-d684-4401-a67d-e1d273ffeba3.html" target="element"> Pattern159: BUSINESS PROCESS MANAGEMENT </a> </td>
																		<td> <a href="../elements/bf890d15-1ff8-4130-9a7e-588af5723d26.html" target="element"> Pattern162: CASE MANAGEMENT </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>