<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for Digital Sales</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Generated View for Digital Sales</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/52bc44f3-19cf-43ed-ac6a-14293ec010d2.png" alt="Generated View for Digital Sales" usemap="#52bc44f3-19cf-43ed-ac6a-14293ec010d2map"/>
			   <map name="52bc44f3-19cf-43ed-ac6a-14293ec010d2map">
				  		<area shape="rect" coords="250,278,370,333" href="../elements/564ef5f2-a23d-4f14-b12b-698b369c0d53.html"  target="element">
				  		<area shape="rect" coords="22,278,142,333" href="../elements/d904ebbb-58a8-40ae-b099-a80c6ce9cc25.html"  target="element">
				  		<area shape="rect" coords="156,10,276,65" href="../elements/6886062b-97b3-47d3-a379-2e7a5b99aae1.html"  target="element">
				  				<area shape="rect" coords="238,158,358,213" href="../elements/7835f62d-ab3d-4f55-a2b5-8f96382a59aa.html"  target="element">
				  				<area shape="rect" coords="22,158,142,213" href="../elements/2fbac3c6-c5ba-4218-804e-723d257146de.html"  target="element">

				  		<area shape="rect" coords="10,110,383,251" href="../elements/972e199d-4cd9-48c7-b99e-1fe59a65f97d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/972e199d-4cd9-48c7-b99e-1fe59a65f97d.html" target="element"> Digital Sales </a> </td>
											    <td> <a href="../elements/972e199d-4cd9-48c7-b99e-1fe59a65f97d.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/2fbac3c6-c5ba-4218-804e-723d257146de.html" target="element"> Manage Vending Machine </a> </td>
													    <td> <a href="../elements/2fbac3c6-c5ba-4218-804e-723d257146de.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7835f62d-ab3d-4f55-a2b5-8f96382a59aa.html" target="element"> Buy Goods from Vending Machine </a> </td>
													    <td> <a href="../elements/7835f62d-ab3d-4f55-a2b5-8f96382a59aa.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/6886062b-97b3-47d3-a379-2e7a5b99aae1.html" target="element"> Value Chain (macro 1) </a> </td>
											    <td> <a href="../elements/6886062b-97b3-47d3-a379-2e7a5b99aae1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d904ebbb-58a8-40ae-b099-a80c6ce9cc25.html" target="element"> Administrator </a> </td>
											    <td> <a href="../elements/d904ebbb-58a8-40ae-b099-a80c6ce9cc25.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/564ef5f2-a23d-4f14-b12b-698b369c0d53.html" target="element"> Customer </a> </td>
											    <td> <a href="../elements/564ef5f2-a23d-4f14-b12b-698b369c0d53.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/9ec75a26-775d-4093-b1be-02581509fc15.html" target="element">  </a> </td>
																		<td> <a href="../elements/9ec75a26-775d-4093-b1be-02581509fc15.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/972e199d-4cd9-48c7-b99e-1fe59a65f97d.html" target="element"> Digital Sales </a> </td>
																		<td> <a href="../elements/2fbac3c6-c5ba-4218-804e-723d257146de.html" target="element"> Manage Vending Machine </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e8359d8d-9dbe-4f6f-8987-26f14b1419e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/e8359d8d-9dbe-4f6f-8987-26f14b1419e1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/972e199d-4cd9-48c7-b99e-1fe59a65f97d.html" target="element"> Digital Sales </a> </td>
																		<td> <a href="../elements/7835f62d-ab3d-4f55-a2b5-8f96382a59aa.html" target="element"> Buy Goods from Vending Machine </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/a27ba61f-6360-4491-b748-8c0d0820e64e.html" target="element">  </a> </td>
																		<td> <a href="../elements/a27ba61f-6360-4491-b748-8c0d0820e64e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6886062b-97b3-47d3-a379-2e7a5b99aae1.html" target="element"> Value Chain (macro 1) </a> </td>
																		<td> <a href="../elements/972e199d-4cd9-48c7-b99e-1fe59a65f97d.html" target="element"> Digital Sales </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9fb3facc-f9f5-4418-b708-bd63a9f79ee6.html" target="element">  </a> </td>
																		<td> <a href="../elements/9fb3facc-f9f5-4418-b708-bd63a9f79ee6.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/d904ebbb-58a8-40ae-b099-a80c6ce9cc25.html" target="element"> Administrator </a> </td>
																		<td> <a href="../elements/2fbac3c6-c5ba-4218-804e-723d257146de.html" target="element"> Manage Vending Machine </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/68409da6-e14e-4a8d-9efe-ad8cef753cf9.html" target="element">  </a> </td>
																		<td> <a href="../elements/68409da6-e14e-4a8d-9efe-ad8cef753cf9.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/564ef5f2-a23d-4f14-b12b-698b369c0d53.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/7835f62d-ab3d-4f55-a2b5-8f96382a59aa.html" target="element"> Buy Goods from Vending Machine </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>