<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for Input Financial Information</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Generated View for Input Financial Information</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/53db21c8-d26a-4afd-ab48-536c11be1904.png" alt="Generated View for Input Financial Information" usemap="#53db21c8-d26a-4afd-ab48-536c11be1904map"/>
			   <map name="53db21c8-d26a-4afd-ab48-536c11be1904map">
				  		<area shape="rect" coords="46,18,166,73" href="../elements/a767bd1c-12de-4742-a85f-b9de81ef52cb.html"  target="element">
				  		<area shape="rect" coords="238,10,358,65" href="../elements/c95d8bdb-1ac7-4902-8f4d-36a3566507a4.html"  target="element">
				  		<area shape="rect" coords="394,10,514,65" href="../elements/e5b10a44-4997-422f-884d-66626a201150.html"  target="element">
				  				<area shape="rect" coords="482,308,602,363" href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html"  target="element">
				  				<area shape="rect" coords="480,223,600,278" href="../elements/07c80e3e-2f6d-40ba-b6bd-94c116214755.html"  target="element">
				  				<area shape="rect" coords="420,239,435,254" href="../elements/2a789952-488d-4a7a-8776-d4bbc04f9f58.html"  target="element">
				  				<area shape="rect" coords="223,244,238,259" href="../elements/630a2bb6-4a8d-4ee2-89f8-8834ce0e2b27.html"  target="element">
				  				<area shape="rect" coords="272,598,392,653" href="../elements/eb9c54da-02f7-486e-9b03-fb3061e5bcb5.html"  target="element">
				  				<area shape="rect" coords="270,526,390,581" href="../elements/05add26c-8e35-45cf-9f5b-c614b3bed2ab.html"  target="element">
				  				<area shape="rect" coords="271,454,391,509" href="../elements/d9ba6882-3dec-4f0b-b1b2-2dc552491b51.html"  target="element">
				  				<area shape="rect" coords="271,376,391,431" href="../elements/16f83ff0-0833-449b-aa6b-887b8bd48962.html"  target="element">
				  				<area shape="rect" coords="270,300,390,355" href="../elements/af89ccae-dcd7-46f2-9c1e-c4d0df4f7d92.html"  target="element">
				  				<area shape="rect" coords="270,223,390,278" href="../elements/ceceb37d-6148-4e44-b33d-b6f931940fd2.html"  target="element">
				  				<area shape="rect" coords="58,226,178,281" href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html"  target="element">

				  		<area shape="rect" coords="10,178,634,697" href="../elements/a739918f-9264-46f5-926e-079933925e2a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/a739918f-9264-46f5-926e-079933925e2a.html" target="element"> Input Financial Information </a> </td>
											    <td> <a href="../elements/a739918f-9264-46f5-926e-079933925e2a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html" target="element"> Login </a> </td>
													    <td> <a href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ceceb37d-6148-4e44-b33d-b6f931940fd2.html" target="element"> Modify Accounts </a> </td>
													    <td> <a href="../elements/ceceb37d-6148-4e44-b33d-b6f931940fd2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/af89ccae-dcd7-46f2-9c1e-c4d0df4f7d92.html" target="element"> Modify Accounts Payable </a> </td>
													    <td> <a href="../elements/af89ccae-dcd7-46f2-9c1e-c4d0df4f7d92.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/16f83ff0-0833-449b-aa6b-887b8bd48962.html" target="element"> Generate Invoice </a> </td>
													    <td> <a href="../elements/16f83ff0-0833-449b-aa6b-887b8bd48962.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d9ba6882-3dec-4f0b-b1b2-2dc552491b51.html" target="element"> Modify Cash  Management </a> </td>
													    <td> <a href="../elements/d9ba6882-3dec-4f0b-b1b2-2dc552491b51.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/05add26c-8e35-45cf-9f5b-c614b3bed2ab.html" target="element"> Modify Payroll </a> </td>
													    <td> <a href="../elements/05add26c-8e35-45cf-9f5b-c614b3bed2ab.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/eb9c54da-02f7-486e-9b03-fb3061e5bcb5.html" target="element"> Modify Asset Management </a> </td>
													    <td> <a href="../elements/eb9c54da-02f7-486e-9b03-fb3061e5bcb5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/630a2bb6-4a8d-4ee2-89f8-8834ce0e2b27.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/630a2bb6-4a8d-4ee2-89f8-8834ce0e2b27.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2a789952-488d-4a7a-8776-d4bbc04f9f58.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/2a789952-488d-4a7a-8776-d4bbc04f9f58.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/07c80e3e-2f6d-40ba-b6bd-94c116214755.html" target="element"> Transfer to Ledger </a> </td>
													    <td> <a href="../elements/07c80e3e-2f6d-40ba-b6bd-94c116214755.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
													    <td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e5b10a44-4997-422f-884d-66626a201150.html" target="element"> Financial Staff </a> </td>
											    <td> <a href="../elements/e5b10a44-4997-422f-884d-66626a201150.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c95d8bdb-1ac7-4902-8f4d-36a3566507a4.html" target="element"> Business Users </a> </td>
											    <td> <a href="../elements/c95d8bdb-1ac7-4902-8f4d-36a3566507a4.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a767bd1c-12de-4742-a85f-b9de81ef52cb.html" target="element"> Financials </a> </td>
											    <td> <a href="../elements/a767bd1c-12de-4742-a85f-b9de81ef52cb.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/5056b0d0-4a2d-4b52-bcb3-14d1d0b10e26.html" target="element">  </a> </td>
																		<td> <a href="../elements/5056b0d0-4a2d-4b52-bcb3-14d1d0b10e26.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a739918f-9264-46f5-926e-079933925e2a.html" target="element"> Input Financial Information </a> </td>
																		<td> <a href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html" target="element"> Login </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c683d6c7-0abe-4e73-a4b9-762d983585c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/c683d6c7-0abe-4e73-a4b9-762d983585c5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a739918f-9264-46f5-926e-079933925e2a.html" target="element"> Input Financial Information </a> </td>
																		<td> <a href="../elements/ceceb37d-6148-4e44-b33d-b6f931940fd2.html" target="element"> Modify Accounts </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/63a7addb-19b5-45b3-b87a-4967adfe28e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/63a7addb-19b5-45b3-b87a-4967adfe28e7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a739918f-9264-46f5-926e-079933925e2a.html" target="element"> Input Financial Information </a> </td>
																		<td> <a href="../elements/af89ccae-dcd7-46f2-9c1e-c4d0df4f7d92.html" target="element"> Modify Accounts Payable </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8c17af71-bbe0-4c93-b467-bb76e86762ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/8c17af71-bbe0-4c93-b467-bb76e86762ca.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a739918f-9264-46f5-926e-079933925e2a.html" target="element"> Input Financial Information </a> </td>
																		<td> <a href="../elements/16f83ff0-0833-449b-aa6b-887b8bd48962.html" target="element"> Generate Invoice </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d1bde1f8-9a0b-49a4-9dcd-857eedc6fc11.html" target="element">  </a> </td>
																		<td> <a href="../elements/d1bde1f8-9a0b-49a4-9dcd-857eedc6fc11.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a739918f-9264-46f5-926e-079933925e2a.html" target="element"> Input Financial Information </a> </td>
																		<td> <a href="../elements/d9ba6882-3dec-4f0b-b1b2-2dc552491b51.html" target="element"> Modify Cash  Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8eb6ae6e-4c42-4a3a-83c6-9bfdffb3e055.html" target="element">  </a> </td>
																		<td> <a href="../elements/8eb6ae6e-4c42-4a3a-83c6-9bfdffb3e055.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a739918f-9264-46f5-926e-079933925e2a.html" target="element"> Input Financial Information </a> </td>
																		<td> <a href="../elements/05add26c-8e35-45cf-9f5b-c614b3bed2ab.html" target="element"> Modify Payroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/795d193d-f36c-471d-b9ec-83f21f4a568c.html" target="element">  </a> </td>
																		<td> <a href="../elements/795d193d-f36c-471d-b9ec-83f21f4a568c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a739918f-9264-46f5-926e-079933925e2a.html" target="element"> Input Financial Information </a> </td>
																		<td> <a href="../elements/eb9c54da-02f7-486e-9b03-fb3061e5bcb5.html" target="element"> Modify Asset Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b8ef6640-9866-487b-b503-efa6c83733f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/b8ef6640-9866-487b-b503-efa6c83733f3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a739918f-9264-46f5-926e-079933925e2a.html" target="element"> Input Financial Information </a> </td>
																		<td> <a href="../elements/07c80e3e-2f6d-40ba-b6bd-94c116214755.html" target="element"> Transfer to Ledger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d10b8b15-e4e0-462f-b07b-ff4155dd397c.html" target="element">  </a> </td>
																		<td> <a href="../elements/d10b8b15-e4e0-462f-b07b-ff4155dd397c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a739918f-9264-46f5-926e-079933925e2a.html" target="element"> Input Financial Information </a> </td>
																		<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/200f338e-560e-462b-bf7a-907ae8bac443.html" target="element">  </a> </td>
																				<td> <a href="../elements/200f338e-560e-462b-bf7a-907ae8bac443.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html" target="element"> Login </a> </td>
																				<td> <a href="../elements/630a2bb6-4a8d-4ee2-89f8-8834ce0e2b27.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/92ebfa75-f8e1-4274-aa0e-781851a3b765.html" target="element">  </a> </td>
																				<td> <a href="../elements/92ebfa75-f8e1-4274-aa0e-781851a3b765.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/ceceb37d-6148-4e44-b33d-b6f931940fd2.html" target="element"> Modify Accounts </a> </td>
																				<td> <a href="../elements/2a789952-488d-4a7a-8776-d4bbc04f9f58.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/1c43f61d-1ef3-4627-b805-1a751bcf39dd.html" target="element">  </a> </td>
																				<td> <a href="../elements/1c43f61d-1ef3-4627-b805-1a751bcf39dd.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/af89ccae-dcd7-46f2-9c1e-c4d0df4f7d92.html" target="element"> Modify Accounts Payable </a> </td>
																				<td> <a href="../elements/2a789952-488d-4a7a-8776-d4bbc04f9f58.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/983e0d01-1d2c-4a59-a053-f271e7a58d6c.html" target="element">  </a> </td>
																				<td> <a href="../elements/983e0d01-1d2c-4a59-a053-f271e7a58d6c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/16f83ff0-0833-449b-aa6b-887b8bd48962.html" target="element"> Generate Invoice </a> </td>
																				<td> <a href="../elements/2a789952-488d-4a7a-8776-d4bbc04f9f58.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/bafeb226-fab5-4eca-a675-bdc1e24445cb.html" target="element">  </a> </td>
																				<td> <a href="../elements/bafeb226-fab5-4eca-a675-bdc1e24445cb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/d9ba6882-3dec-4f0b-b1b2-2dc552491b51.html" target="element"> Modify Cash  Management </a> </td>
																				<td> <a href="../elements/2a789952-488d-4a7a-8776-d4bbc04f9f58.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/129ec1c8-160b-4567-871a-4d0b0bfee298.html" target="element">  </a> </td>
																				<td> <a href="../elements/129ec1c8-160b-4567-871a-4d0b0bfee298.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/05add26c-8e35-45cf-9f5b-c614b3bed2ab.html" target="element"> Modify Payroll </a> </td>
																				<td> <a href="../elements/2a789952-488d-4a7a-8776-d4bbc04f9f58.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/4dd2d732-1bf3-49ea-ab33-c6d6655a320b.html" target="element">  </a> </td>
																				<td> <a href="../elements/4dd2d732-1bf3-49ea-ab33-c6d6655a320b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/eb9c54da-02f7-486e-9b03-fb3061e5bcb5.html" target="element"> Modify Asset Management </a> </td>
																				<td> <a href="../elements/2a789952-488d-4a7a-8776-d4bbc04f9f58.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c6984563-fdb3-4d21-9ce2-993cf12011fe.html" target="element">  </a> </td>
																				<td> <a href="../elements/c6984563-fdb3-4d21-9ce2-993cf12011fe.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/630a2bb6-4a8d-4ee2-89f8-8834ce0e2b27.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/05add26c-8e35-45cf-9f5b-c614b3bed2ab.html" target="element"> Modify Payroll </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2322b936-d65a-4494-8103-c7c1c0a26674.html" target="element">  </a> </td>
																				<td> <a href="../elements/2322b936-d65a-4494-8103-c7c1c0a26674.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/630a2bb6-4a8d-4ee2-89f8-8834ce0e2b27.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/d9ba6882-3dec-4f0b-b1b2-2dc552491b51.html" target="element"> Modify Cash  Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bb91e1a3-36cd-40b9-9309-e7fa4c10f671.html" target="element">  </a> </td>
																				<td> <a href="../elements/bb91e1a3-36cd-40b9-9309-e7fa4c10f671.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/630a2bb6-4a8d-4ee2-89f8-8834ce0e2b27.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/ceceb37d-6148-4e44-b33d-b6f931940fd2.html" target="element"> Modify Accounts </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e74c9f5c-edc2-4772-bdc7-3732a3e7d557.html" target="element">  </a> </td>
																				<td> <a href="../elements/e74c9f5c-edc2-4772-bdc7-3732a3e7d557.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/630a2bb6-4a8d-4ee2-89f8-8834ce0e2b27.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/af89ccae-dcd7-46f2-9c1e-c4d0df4f7d92.html" target="element"> Modify Accounts Payable </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/47d7df62-7a73-41d9-9ae7-42bdc62a269c.html" target="element">  </a> </td>
																				<td> <a href="../elements/47d7df62-7a73-41d9-9ae7-42bdc62a269c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/630a2bb6-4a8d-4ee2-89f8-8834ce0e2b27.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/16f83ff0-0833-449b-aa6b-887b8bd48962.html" target="element"> Generate Invoice </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/550eb555-704c-43da-ac2c-ee73d418a9e8.html" target="element">  </a> </td>
																				<td> <a href="../elements/550eb555-704c-43da-ac2c-ee73d418a9e8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/630a2bb6-4a8d-4ee2-89f8-8834ce0e2b27.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/eb9c54da-02f7-486e-9b03-fb3061e5bcb5.html" target="element"> Modify Asset Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/878d86b1-6933-4174-bb1b-938e7ab39425.html" target="element">  </a> </td>
																				<td> <a href="../elements/878d86b1-6933-4174-bb1b-938e7ab39425.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2a789952-488d-4a7a-8776-d4bbc04f9f58.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e3be38ee-2fd5-4e4a-b340-e97ac5b59999.html" target="element">  </a> </td>
																				<td> <a href="../elements/e3be38ee-2fd5-4e4a-b340-e97ac5b59999.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2a789952-488d-4a7a-8776-d4bbc04f9f58.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/07c80e3e-2f6d-40ba-b6bd-94c116214755.html" target="element"> Transfer to Ledger </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ff03a767-379b-4a21-9d1f-479f2639983b.html" target="element">  </a> </td>
																				<td> <a href="../elements/ff03a767-379b-4a21-9d1f-479f2639983b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/07c80e3e-2f6d-40ba-b6bd-94c116214755.html" target="element"> Transfer to Ledger </a> </td>
																				<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/5cae4204-b5df-456a-9641-70c1775808ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/5cae4204-b5df-456a-9641-70c1775808ef.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/e5b10a44-4997-422f-884d-66626a201150.html" target="element"> Financial Staff </a> </td>
																		<td> <a href="../elements/a739918f-9264-46f5-926e-079933925e2a.html" target="element"> Input Financial Information </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8021806a-f7f0-4fff-9511-749875ed1a24.html" target="element">  </a> </td>
																		<td> <a href="../elements/8021806a-f7f0-4fff-9511-749875ed1a24.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/c95d8bdb-1ac7-4902-8f4d-36a3566507a4.html" target="element"> Business Users </a> </td>
																		<td> <a href="../elements/a739918f-9264-46f5-926e-079933925e2a.html" target="element"> Input Financial Information </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4f6f0cde-894c-4d06-b69f-1819aa8a1144.html" target="element">  </a> </td>
																		<td> <a href="../elements/4f6f0cde-894c-4d06-b69f-1819aa8a1144.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a767bd1c-12de-4742-a85f-b9de81ef52cb.html" target="element"> Financials </a> </td>
																		<td> <a href="../elements/a739918f-9264-46f5-926e-079933925e2a.html" target="element"> Input Financial Information </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>