<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for Waste Management</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Generated View for Waste Management</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/5df7f38e-bcb7-476e-bf7a-72422f2e1942.png" alt="Generated View for Waste Management" usemap="#5df7f38e-bcb7-476e-bf7a-72422f2e1942map"/>
			   <map name="5df7f38e-bcb7-476e-bf7a-72422f2e1942map">
				  		<area shape="rect" coords="441,110,561,165" href="../elements/463a7303-d3f3-4eb3-88b0-56bfa4e81eb8.html"  target="element">
				  		<area shape="rect" coords="441,10,561,65" href="../elements/f9e0f5c3-9bd0-4795-bf89-249e359c61e2.html"  target="element">
				  		<area shape="rect" coords="441,194,561,249" href="../elements/541712cc-0077-4c07-9bbf-93cd950b1dad.html"  target="element">
				  		<area shape="rect" coords="201,290,321,345" href="../elements/7fb74b6a-c21b-4b2e-a7df-c2d23866494a.html"  target="element">
				  		<area shape="rect" coords="370,288,504,343" href="../elements/911cb8f8-f7b9-478c-9a47-4bf7d66f9452.html"  target="element">
				  		<area shape="rect" coords="10,288,130,343" href="../elements/5acb1170-fb98-466f-b213-56c0ee3d8bf7.html"  target="element">
				  		<area shape="rect" coords="131,10,251,65" href="../elements/1f134910-0232-4f09-b328-59bffdc40d12.html"  target="element">
				  		<area shape="rect" coords="213,110,333,165" href="../elements/a21b7074-77b2-470a-b2df-cec7a401bd90.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/a21b7074-77b2-470a-b2df-cec7a401bd90.html" target="element"> Waste Management </a> </td>
											    <td> <a href="../elements/a21b7074-77b2-470a-b2df-cec7a401bd90.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1f134910-0232-4f09-b328-59bffdc40d12.html" target="element"> Support Processes (macro 4) </a> </td>
											    <td> <a href="../elements/1f134910-0232-4f09-b328-59bffdc40d12.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5acb1170-fb98-466f-b213-56c0ee3d8bf7.html" target="element"> Waste stewardship </a> </td>
											    <td> <a href="../elements/5acb1170-fb98-466f-b213-56c0ee3d8bf7.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/911cb8f8-f7b9-478c-9a47-4bf7d66f9452.html" target="element"> Reduce environmental waste </a> </td>
											    <td> <a href="../elements/911cb8f8-f7b9-478c-9a47-4bf7d66f9452.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7fb74b6a-c21b-4b2e-a7df-c2d23866494a.html" target="element"> Harvest rain water </a> </td>
											    <td> <a href="../elements/7fb74b6a-c21b-4b2e-a7df-c2d23866494a.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/541712cc-0077-4c07-9bbf-93cd950b1dad.html" target="element"> Recover food waste for compost </a> </td>
											    <td> <a href="../elements/541712cc-0077-4c07-9bbf-93cd950b1dad.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f9e0f5c3-9bd0-4795-bf89-249e359c61e2.html" target="element"> Recycle waste </a> </td>
											    <td> <a href="../elements/f9e0f5c3-9bd0-4795-bf89-249e359c61e2.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/463a7303-d3f3-4eb3-88b0-56bfa4e81eb8.html" target="element"> Segregate waste </a> </td>
											    <td> <a href="../elements/463a7303-d3f3-4eb3-88b0-56bfa4e81eb8.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/9dea6d16-0897-479e-adc7-b69eabecd40c.html" target="element">  </a> </td>
																		<td> <a href="../elements/9dea6d16-0897-479e-adc7-b69eabecd40c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a21b7074-77b2-470a-b2df-cec7a401bd90.html" target="element"> Waste Management </a> </td>
																		<td> <a href="../elements/f9e0f5c3-9bd0-4795-bf89-249e359c61e2.html" target="element"> Recycle waste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4db2fd99-2ee6-4d4a-a91b-0e66a5871cf1.html" target="element">  </a> </td>
																		<td> <a href="../elements/4db2fd99-2ee6-4d4a-a91b-0e66a5871cf1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a21b7074-77b2-470a-b2df-cec7a401bd90.html" target="element"> Waste Management </a> </td>
																		<td> <a href="../elements/463a7303-d3f3-4eb3-88b0-56bfa4e81eb8.html" target="element"> Segregate waste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dd747a4a-da7d-46e8-b973-8d55f8b63429.html" target="element">  </a> </td>
																		<td> <a href="../elements/dd747a4a-da7d-46e8-b973-8d55f8b63429.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a21b7074-77b2-470a-b2df-cec7a401bd90.html" target="element"> Waste Management </a> </td>
																		<td> <a href="../elements/541712cc-0077-4c07-9bbf-93cd950b1dad.html" target="element"> Recover food waste for compost </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d938761b-c8f4-4c2d-85c1-bce74f189f5c.html" target="element">  </a> </td>
																		<td> <a href="../elements/d938761b-c8f4-4c2d-85c1-bce74f189f5c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a21b7074-77b2-470a-b2df-cec7a401bd90.html" target="element"> Waste Management </a> </td>
																		<td> <a href="../elements/911cb8f8-f7b9-478c-9a47-4bf7d66f9452.html" target="element"> Reduce environmental waste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aa0c082d-7b52-4f3a-b0e9-f48f3861a74d.html" target="element">  </a> </td>
																		<td> <a href="../elements/aa0c082d-7b52-4f3a-b0e9-f48f3861a74d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a21b7074-77b2-470a-b2df-cec7a401bd90.html" target="element"> Waste Management </a> </td>
																		<td> <a href="../elements/7fb74b6a-c21b-4b2e-a7df-c2d23866494a.html" target="element"> Harvest rain water </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/69df57be-f069-4067-854c-52742c6bc9d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/69df57be-f069-4067-854c-52742c6bc9d2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a21b7074-77b2-470a-b2df-cec7a401bd90.html" target="element"> Waste Management </a> </td>
																		<td> <a href="../elements/5acb1170-fb98-466f-b213-56c0ee3d8bf7.html" target="element"> Waste stewardship </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/44ec8a1a-f8b1-4fd5-bb54-54e21aec1490.html" target="element">  </a> </td>
																		<td> <a href="../elements/44ec8a1a-f8b1-4fd5-bb54-54e21aec1490.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1f134910-0232-4f09-b328-59bffdc40d12.html" target="element"> Support Processes (macro 4) </a> </td>
																		<td> <a href="../elements/a21b7074-77b2-470a-b2df-cec7a401bd90.html" target="element"> Waste Management </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>