<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for Analyze information</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Generated View for Analyze information</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/7a3b263a-40e7-4690-b286-6160bb28bb6d.png" alt="Generated View for Analyze information" usemap="#7a3b263a-40e7-4690-b286-6160bb28bb6dmap"/>
			   <map name="7a3b263a-40e7-4690-b286-6160bb28bb6dmap">
				  		<area shape="rect" coords="156,90,276,145" href="../elements/8f47a291-f7f0-447c-addd-2d067b84d245.html"  target="element">
				  		<area shape="rect" coords="156,10,276,65" href="../elements/4dbe1b97-4d41-41fd-8836-ea47afd10b0a.html"  target="element">
				  				<area shape="rect" coords="174,326,189,341" href="../elements/31055294-157b-443e-a394-160328b4a85b.html"  target="element">
				  				<area shape="rect" coords="202,446,322,501" href="../elements/b2977499-76b5-4a26-9dc8-f0f89758c1fe.html"  target="element">
				  				<area shape="rect" coords="372,306,492,361" href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html"  target="element">
				  				<area shape="rect" coords="202,242,322,297" href="../elements/58ac47a3-1f03-48c6-a12b-43fcf6bb8951.html"  target="element">
				  				<area shape="rect" coords="202,306,322,361" href="../elements/84ff4cfe-b3ed-42de-bbf9-4f6cf54af7fe.html"  target="element">
				  				<area shape="rect" coords="202,375,322,430" href="../elements/21572df7-22b9-432d-9170-da554f319b96.html"  target="element">
				  				<area shape="rect" coords="36,306,156,361" href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html"  target="element">

				  		<area shape="rect" coords="10,194,515,531" href="../elements/991c0337-4b0a-4655-a726-af6632519e37.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/991c0337-4b0a-4655-a726-af6632519e37.html" target="element"> Analyze Marketing Information </a> </td>
											    <td> <a href="../elements/991c0337-4b0a-4655-a726-af6632519e37.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html" target="element"> Login </a> </td>
													    <td> <a href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/21572df7-22b9-432d-9170-da554f319b96.html" target="element"> Explore Data </a> </td>
													    <td> <a href="../elements/21572df7-22b9-432d-9170-da554f319b96.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/84ff4cfe-b3ed-42de-bbf9-4f6cf54af7fe.html" target="element"> Create Dashboard </a> </td>
													    <td> <a href="../elements/84ff4cfe-b3ed-42de-bbf9-4f6cf54af7fe.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/58ac47a3-1f03-48c6-a12b-43fcf6bb8951.html" target="element"> Create Adhoc Report </a> </td>
													    <td> <a href="../elements/58ac47a3-1f03-48c6-a12b-43fcf6bb8951.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
													    <td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b2977499-76b5-4a26-9dc8-f0f89758c1fe.html" target="element"> Gather Business Requirements </a> </td>
													    <td> <a href="../elements/b2977499-76b5-4a26-9dc8-f0f89758c1fe.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/31055294-157b-443e-a394-160328b4a85b.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/31055294-157b-443e-a394-160328b4a85b.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/4dbe1b97-4d41-41fd-8836-ea47afd10b0a.html" target="element"> Analyst </a> </td>
											    <td> <a href="../elements/4dbe1b97-4d41-41fd-8836-ea47afd10b0a.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8f47a291-f7f0-447c-addd-2d067b84d245.html" target="element"> Business Intelligence </a> </td>
											    <td> <a href="../elements/8f47a291-f7f0-447c-addd-2d067b84d245.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/f2c64807-8c85-4b5c-bea2-dc7248a52ea5.html" target="element">  </a> </td>
																		<td> <a href="../elements/f2c64807-8c85-4b5c-bea2-dc7248a52ea5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/991c0337-4b0a-4655-a726-af6632519e37.html" target="element"> Analyze Marketing Information </a> </td>
																		<td> <a href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html" target="element"> Login </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d080c7c8-9d25-47f1-8e0c-6c201e0ef372.html" target="element">  </a> </td>
																		<td> <a href="../elements/d080c7c8-9d25-47f1-8e0c-6c201e0ef372.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/991c0337-4b0a-4655-a726-af6632519e37.html" target="element"> Analyze Marketing Information </a> </td>
																		<td> <a href="../elements/21572df7-22b9-432d-9170-da554f319b96.html" target="element"> Explore Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ee4322a2-faeb-4f58-9747-d023a53f4778.html" target="element">  </a> </td>
																		<td> <a href="../elements/ee4322a2-faeb-4f58-9747-d023a53f4778.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/991c0337-4b0a-4655-a726-af6632519e37.html" target="element"> Analyze Marketing Information </a> </td>
																		<td> <a href="../elements/84ff4cfe-b3ed-42de-bbf9-4f6cf54af7fe.html" target="element"> Create Dashboard </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7b6749ca-3615-4ff3-9955-f0b8d743b48c.html" target="element">  </a> </td>
																		<td> <a href="../elements/7b6749ca-3615-4ff3-9955-f0b8d743b48c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/991c0337-4b0a-4655-a726-af6632519e37.html" target="element"> Analyze Marketing Information </a> </td>
																		<td> <a href="../elements/58ac47a3-1f03-48c6-a12b-43fcf6bb8951.html" target="element"> Create Adhoc Report </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ed5e0296-c828-4a94-805c-76d6fca06e08.html" target="element">  </a> </td>
																		<td> <a href="../elements/ed5e0296-c828-4a94-805c-76d6fca06e08.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/991c0337-4b0a-4655-a726-af6632519e37.html" target="element"> Analyze Marketing Information </a> </td>
																		<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/54d71189-2817-42ce-8626-c56cec858e60.html" target="element">  </a> </td>
																		<td> <a href="../elements/54d71189-2817-42ce-8626-c56cec858e60.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/991c0337-4b0a-4655-a726-af6632519e37.html" target="element"> Analyze Marketing Information </a> </td>
																		<td> <a href="../elements/b2977499-76b5-4a26-9dc8-f0f89758c1fe.html" target="element"> Gather Business Requirements </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/c7344416-8cf9-4129-b120-30517af8dbeb.html" target="element">  </a> </td>
																				<td> <a href="../elements/c7344416-8cf9-4129-b120-30517af8dbeb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html" target="element"> Login </a> </td>
																				<td> <a href="../elements/31055294-157b-443e-a394-160328b4a85b.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/7544dc81-7820-498e-bbca-8f1d367d8d08.html" target="element">  </a> </td>
																				<td> <a href="../elements/7544dc81-7820-498e-bbca-8f1d367d8d08.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/21572df7-22b9-432d-9170-da554f319b96.html" target="element"> Explore Data </a> </td>
																				<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/50e1e2f3-85e6-426d-b868-293a68f8433f.html" target="element">  </a> </td>
																				<td> <a href="../elements/50e1e2f3-85e6-426d-b868-293a68f8433f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/84ff4cfe-b3ed-42de-bbf9-4f6cf54af7fe.html" target="element"> Create Dashboard </a> </td>
																				<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f879f076-c80b-45ce-a1ce-e4a98a98a5e4.html" target="element">  </a> </td>
																				<td> <a href="../elements/f879f076-c80b-45ce-a1ce-e4a98a98a5e4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/58ac47a3-1f03-48c6-a12b-43fcf6bb8951.html" target="element"> Create Adhoc Report </a> </td>
																				<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f8b8c5d0-e09f-495a-9184-091d5a795493.html" target="element">  </a> </td>
																				<td> <a href="../elements/f8b8c5d0-e09f-495a-9184-091d5a795493.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/b2977499-76b5-4a26-9dc8-f0f89758c1fe.html" target="element"> Gather Business Requirements </a> </td>
																				<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/eef458e5-4cdf-40b2-9c6e-53d7e79b9322.html" target="element">  </a> </td>
																				<td> <a href="../elements/eef458e5-4cdf-40b2-9c6e-53d7e79b9322.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/31055294-157b-443e-a394-160328b4a85b.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/b2977499-76b5-4a26-9dc8-f0f89758c1fe.html" target="element"> Gather Business Requirements </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/7d42826c-ce5c-426a-a241-4e4b79f1d18d.html" target="element">  </a> </td>
																				<td> <a href="../elements/7d42826c-ce5c-426a-a241-4e4b79f1d18d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/31055294-157b-443e-a394-160328b4a85b.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/21572df7-22b9-432d-9170-da554f319b96.html" target="element"> Explore Data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6da79242-14f0-460b-96cd-3f5f877424ed.html" target="element">  </a> </td>
																				<td> <a href="../elements/6da79242-14f0-460b-96cd-3f5f877424ed.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/31055294-157b-443e-a394-160328b4a85b.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/84ff4cfe-b3ed-42de-bbf9-4f6cf54af7fe.html" target="element"> Create Dashboard </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e8cbecfc-1464-4026-8744-ae17674e9048.html" target="element">  </a> </td>
																				<td> <a href="../elements/e8cbecfc-1464-4026-8744-ae17674e9048.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/31055294-157b-443e-a394-160328b4a85b.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/58ac47a3-1f03-48c6-a12b-43fcf6bb8951.html" target="element"> Create Adhoc Report </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/1fc15560-3e16-47e9-9afa-16aefa80e5ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/1fc15560-3e16-47e9-9afa-16aefa80e5ce.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/4dbe1b97-4d41-41fd-8836-ea47afd10b0a.html" target="element"> Analyst </a> </td>
																		<td> <a href="../elements/991c0337-4b0a-4655-a726-af6632519e37.html" target="element"> Analyze Marketing Information </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d234137b-96fc-466e-8316-3e4a62c10cf2.html" target="element">  </a> </td>
																		<td> <a href="../elements/d234137b-96fc-466e-8316-3e4a62c10cf2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/8f47a291-f7f0-447c-addd-2d067b84d245.html" target="element"> Business Intelligence </a> </td>
																		<td> <a href="../elements/991c0337-4b0a-4655-a726-af6632519e37.html" target="element"> Analyze Marketing Information </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>