<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for Candidate Process</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Generated View for Candidate Process</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/85f1a2ce-a6c2-445c-9ecd-1d1e229cff1d.png" alt="Generated View for Candidate Process" usemap="#85f1a2ce-a6c2-445c-9ecd-1d1e229cff1dmap"/>
			   <map name="85f1a2ce-a6c2-445c-9ecd-1d1e229cff1dmap">
				  		<area shape="rect" coords="335,226,455,281" href="../elements/7050acde-5a8f-42f5-9c9c-9350ad27299f.html"  target="element">
				  		<area shape="rect" coords="156,90,276,145" href="../elements/34ad7d50-92d9-48ca-99bb-79ca34d559aa.html"  target="element">
				  		<area shape="rect" coords="156,10,276,65" href="../elements/e6f781f7-7446-4456-9c64-61fe4c0ae436.html"  target="element">
				  				<area shape="rect" coords="130,230,250,285" href="../elements/6fe262b1-10b3-456b-b087-b501bdf23853.html"  target="element">

				  		<area shape="rect" coords="10,170,323,339" href="../elements/32bb2493-b2e6-4737-9abf-5a861350179f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/32bb2493-b2e6-4737-9abf-5a861350179f.html" target="element"> Candidate Process </a> </td>
											    <td> <a href="../elements/32bb2493-b2e6-4737-9abf-5a861350179f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6fe262b1-10b3-456b-b087-b501bdf23853.html" target="element"> File in Candidature </a> </td>
													    <td> <a href="../elements/6fe262b1-10b3-456b-b087-b501bdf23853.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e6f781f7-7446-4456-9c64-61fe4c0ae436.html" target="element"> Candidate </a> </td>
											    <td> <a href="../elements/e6f781f7-7446-4456-9c64-61fe4c0ae436.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/34ad7d50-92d9-48ca-99bb-79ca34d559aa.html" target="element"> Human Resources </a> </td>
											    <td> <a href="../elements/34ad7d50-92d9-48ca-99bb-79ca34d559aa.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7050acde-5a8f-42f5-9c9c-9350ad27299f.html" target="element"> Manage Candidatures </a> </td>
											    <td> <a href="../elements/7050acde-5a8f-42f5-9c9c-9350ad27299f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/106b8835-6eb6-47fb-a054-4de4bcc0a1c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/106b8835-6eb6-47fb-a054-4de4bcc0a1c3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/32bb2493-b2e6-4737-9abf-5a861350179f.html" target="element"> Candidate Process </a> </td>
																		<td> <a href="../elements/6fe262b1-10b3-456b-b087-b501bdf23853.html" target="element"> File in Candidature </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/58a30679-540e-4fc6-b043-ef4264d12270.html" target="element">  </a> </td>
																				<td> <a href="../elements/58a30679-540e-4fc6-b043-ef4264d12270.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/6fe262b1-10b3-456b-b087-b501bdf23853.html" target="element"> File in Candidature </a> </td>
																				<td> <a href="../elements/7050acde-5a8f-42f5-9c9c-9350ad27299f.html" target="element"> Manage Candidatures </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/f3a2ed32-3312-43fb-b495-1ac499c9d6dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/f3a2ed32-3312-43fb-b495-1ac499c9d6dd.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/e6f781f7-7446-4456-9c64-61fe4c0ae436.html" target="element"> Candidate </a> </td>
																		<td> <a href="../elements/32bb2493-b2e6-4737-9abf-5a861350179f.html" target="element"> Candidate Process </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d3fc618c-fa0d-4e1d-a3bc-6300a0bc5144.html" target="element">  </a> </td>
																		<td> <a href="../elements/d3fc618c-fa0d-4e1d-a3bc-6300a0bc5144.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/34ad7d50-92d9-48ca-99bb-79ca34d559aa.html" target="element"> Human Resources </a> </td>
																		<td> <a href="../elements/32bb2493-b2e6-4737-9abf-5a861350179f.html" target="element"> Candidate Process </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>