<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for Customer Relationship</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Generated View for Customer Relationship</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/94f27ca0-8a7b-4c9e-8565-ef92222a67e4.png" alt="Generated View for Customer Relationship" usemap="#94f27ca0-8a7b-4c9e-8565-ef92222a67e4map"/>
			   <map name="94f27ca0-8a7b-4c9e-8565-ef92222a67e4map">
				  		<area shape="rect" coords="135,566,255,621" href="../elements/6fd09559-81fd-4105-96a4-eabd35129f75.html"  target="element">
				  		<area shape="rect" coords="130,314,260,391" href="../elements/41f8dfe2-423d-46c0-9229-33ac78a09279.html"  target="element">
				  		<area shape="rect" coords="490,566,610,621" href="../elements/cd4a735e-8650-408d-8987-a3608d45e84b.html"  target="element">
				  		<area shape="rect" coords="478,326,598,398" href="../elements/54de4cbd-c574-4b19-8225-818ab445ad40.html"  target="element">
				  		<area shape="rect" coords="1654,374,1774,429" href="../elements/d904ebbb-58a8-40ae-b099-a80c6ce9cc25.html"  target="element">
				  		<area shape="rect" coords="1472,374,1592,429" href="../elements/db3d1c99-d78c-4c55-80be-476b1f76342e.html"  target="element">
				  		<area shape="rect" coords="1096,374,1216,429" href="../elements/9f9d60cd-e920-4bf7-b6a6-08b49ee79e5b.html"  target="element">
				  		<area shape="rect" coords="913,374,1033,429" href="../elements/488f936e-361b-4efa-b7d2-40eda6b4416b.html"  target="element">
				  		<area shape="rect" coords="730,566,850,621" href="../elements/36864649-7fd9-4cd9-aa64-d90d3efd66c9.html"  target="element">
				  		<area shape="rect" coords="816,10,936,65" href="../elements/6886062b-97b3-47d3-a379-2e7a5b99aae1.html"  target="element">
				  				<area shape="rect" coords="550,170,670,225" href="../elements/b3c626d2-f7cf-4233-b24a-0468c7656c26.html"  target="element">
				  				<area shape="rect" coords="214,170,353,225" href="../elements/4fce15e8-f6fb-43bf-ad87-6beeb50f24ba.html"  target="element">
				  				<area shape="rect" coords="70,170,190,225" href="../elements/92f30019-8070-4696-ad8a-166478db863c.html"  target="element">
				  				<area shape="rect" coords="406,170,526,225" href="../elements/2355e627-5b86-4f31-9e13-aca29a0ed7e9.html"  target="element">
				  				<area shape="rect" coords="1462,182,1582,237" href="../elements/9e2c5522-6bca-4353-a729-110fe511a0e6.html"  target="element">
				  				<area shape="rect" coords="718,182,838,237" href="../elements/becb26d7-03ba-42a8-8778-917b63abd4d2.html"  target="element">
				  				<area shape="rect" coords="1644,182,1764,237" href="../elements/06fb56cc-5997-4d7e-a95d-97f60bcc1752.html"  target="element">
				  				<area shape="rect" coords="1086,182,1206,237" href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html"  target="element">
				  				<area shape="rect" coords="903,182,1023,237" href="../elements/759e5bb8-2b44-40fe-926b-d307c5c0587c.html"  target="element">
				  				<area shape="rect" coords="1264,182,1384,237" href="../elements/85ad3c3d-921c-4014-ab54-b1224087d450.html"  target="element">

				  		<area shape="rect" coords="10,110,1798,291" href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
											    <td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/85ad3c3d-921c-4014-ab54-b1224087d450.html" target="element"> Manage Information </a> </td>
													    <td> <a href="../elements/85ad3c3d-921c-4014-ab54-b1224087d450.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/759e5bb8-2b44-40fe-926b-d307c5c0587c.html" target="element"> Interact with Customer </a> </td>
													    <td> <a href="../elements/759e5bb8-2b44-40fe-926b-d307c5c0587c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html" target="element"> Analyze Information </a> </td>
													    <td> <a href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/06fb56cc-5997-4d7e-a95d-97f60bcc1752.html" target="element"> Administer Service </a> </td>
													    <td> <a href="../elements/06fb56cc-5997-4d7e-a95d-97f60bcc1752.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/becb26d7-03ba-42a8-8778-917b63abd4d2.html" target="element"> Interact with Enterprise </a> </td>
													    <td> <a href="../elements/becb26d7-03ba-42a8-8778-917b63abd4d2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9e2c5522-6bca-4353-a729-110fe511a0e6.html" target="element"> Support Customer </a> </td>
													    <td> <a href="../elements/9e2c5522-6bca-4353-a729-110fe511a0e6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2355e627-5b86-4f31-9e13-aca29a0ed7e9.html" target="element"> Co-creation </a> </td>
													    <td> <a href="../elements/2355e627-5b86-4f31-9e13-aca29a0ed7e9.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/92f30019-8070-4696-ad8a-166478db863c.html" target="element"> Production planning </a> </td>
													    <td> <a href="../elements/92f30019-8070-4696-ad8a-166478db863c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4fce15e8-f6fb-43bf-ad87-6beeb50f24ba.html" target="element"> Encourage customer to change products </a> </td>
													    <td> <a href="../elements/4fce15e8-f6fb-43bf-ad87-6beeb50f24ba.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b3c626d2-f7cf-4233-b24a-0468c7656c26.html" target="element"> green-lighting of new products </a> </td>
													    <td> <a href="../elements/b3c626d2-f7cf-4233-b24a-0468c7656c26.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/6886062b-97b3-47d3-a379-2e7a5b99aae1.html" target="element"> Value Chain (macro 1) </a> </td>
											    <td> <a href="../elements/6886062b-97b3-47d3-a379-2e7a5b99aae1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/36864649-7fd9-4cd9-aa64-d90d3efd66c9.html" target="element"> Customer </a> </td>
											    <td> <a href="../elements/36864649-7fd9-4cd9-aa64-d90d3efd66c9.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/488f936e-361b-4efa-b7d2-40eda6b4416b.html" target="element"> Sales </a> </td>
											    <td> <a href="../elements/488f936e-361b-4efa-b7d2-40eda6b4416b.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9f9d60cd-e920-4bf7-b6a6-08b49ee79e5b.html" target="element"> Marketing </a> </td>
											    <td> <a href="../elements/9f9d60cd-e920-4bf7-b6a6-08b49ee79e5b.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/db3d1c99-d78c-4c55-80be-476b1f76342e.html" target="element"> Support </a> </td>
											    <td> <a href="../elements/db3d1c99-d78c-4c55-80be-476b1f76342e.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d904ebbb-58a8-40ae-b099-a80c6ce9cc25.html" target="element"> Administrator </a> </td>
											    <td> <a href="../elements/d904ebbb-58a8-40ae-b099-a80c6ce9cc25.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/54de4cbd-c574-4b19-8225-818ab445ad40.html" target="element"> Collaboration with customers in product design </a> </td>
											    <td> <a href="../elements/54de4cbd-c574-4b19-8225-818ab445ad40.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cd4a735e-8650-408d-8987-a3608d45e84b.html" target="element"> Product Designers </a> </td>
											    <td> <a href="../elements/cd4a735e-8650-408d-8987-a3608d45e84b.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/41f8dfe2-423d-46c0-9229-33ac78a09279.html" target="element"> Collaboration with customers in product life cycle </a> </td>
											    <td> <a href="../elements/41f8dfe2-423d-46c0-9229-33ac78a09279.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6fd09559-81fd-4105-96a4-eabd35129f75.html" target="element"> Production planners </a> </td>
											    <td> <a href="../elements/6fd09559-81fd-4105-96a4-eabd35129f75.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/60ea3b04-4093-4029-a4b8-a0ddde9442a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/60ea3b04-4093-4029-a4b8-a0ddde9442a3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
																		<td> <a href="../elements/85ad3c3d-921c-4014-ab54-b1224087d450.html" target="element"> Manage Information </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3bd2c6d1-3421-4396-9d5a-91a4bed460b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/3bd2c6d1-3421-4396-9d5a-91a4bed460b6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
																		<td> <a href="../elements/759e5bb8-2b44-40fe-926b-d307c5c0587c.html" target="element"> Interact with Customer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d6f5cce4-73f2-44c9-a847-dae477d03a53.html" target="element">  </a> </td>
																		<td> <a href="../elements/d6f5cce4-73f2-44c9-a847-dae477d03a53.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
																		<td> <a href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html" target="element"> Analyze Information </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0574042d-fea5-4ddd-80c7-1171e03c5a8d.html" target="element">  </a> </td>
																		<td> <a href="../elements/0574042d-fea5-4ddd-80c7-1171e03c5a8d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
																		<td> <a href="../elements/06fb56cc-5997-4d7e-a95d-97f60bcc1752.html" target="element"> Administer Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/63225770-911e-442a-a62f-05bf69e28450.html" target="element">  </a> </td>
																		<td> <a href="../elements/63225770-911e-442a-a62f-05bf69e28450.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
																		<td> <a href="../elements/becb26d7-03ba-42a8-8778-917b63abd4d2.html" target="element"> Interact with Enterprise </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e68e1d9c-947a-4d95-8f5e-fd80534a66a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/e68e1d9c-947a-4d95-8f5e-fd80534a66a8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
																		<td> <a href="../elements/9e2c5522-6bca-4353-a729-110fe511a0e6.html" target="element"> Support Customer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b98c1bf0-9f98-499b-adc1-409a090bca0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/b98c1bf0-9f98-499b-adc1-409a090bca0c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
																		<td> <a href="../elements/2355e627-5b86-4f31-9e13-aca29a0ed7e9.html" target="element"> Co-creation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/00e9bcd4-afd2-4843-a426-69af3143a2c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/00e9bcd4-afd2-4843-a426-69af3143a2c6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
																		<td> <a href="../elements/92f30019-8070-4696-ad8a-166478db863c.html" target="element"> Production planning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e1cd5d88-12a5-4959-8af4-cdb70aa5b88e.html" target="element">  </a> </td>
																		<td> <a href="../elements/e1cd5d88-12a5-4959-8af4-cdb70aa5b88e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
																		<td> <a href="../elements/4fce15e8-f6fb-43bf-ad87-6beeb50f24ba.html" target="element"> Encourage customer to change products </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/30e05a88-fc7a-4c3f-b7b8-3f48d36eaafc.html" target="element">  </a> </td>
																		<td> <a href="../elements/30e05a88-fc7a-4c3f-b7b8-3f48d36eaafc.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
																		<td> <a href="../elements/b3c626d2-f7cf-4233-b24a-0468c7656c26.html" target="element"> green-lighting of new products </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/85c7d452-8cce-4f9d-b087-27161dd05026.html" target="element">  </a> </td>
																		<td> <a href="../elements/85c7d452-8cce-4f9d-b087-27161dd05026.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6886062b-97b3-47d3-a379-2e7a5b99aae1.html" target="element"> Value Chain (macro 1) </a> </td>
																		<td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ba398b7b-93fc-4f7f-9545-1fddf65b0b89.html" target="element">  </a> </td>
																		<td> <a href="../elements/ba398b7b-93fc-4f7f-9545-1fddf65b0b89.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/36864649-7fd9-4cd9-aa64-d90d3efd66c9.html" target="element"> Customer </a> </td>
																		<td> <a href="../elements/becb26d7-03ba-42a8-8778-917b63abd4d2.html" target="element"> Interact with Enterprise </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6f136fa5-c246-4786-8165-312396857234.html" target="element">  </a> </td>
																		<td> <a href="../elements/6f136fa5-c246-4786-8165-312396857234.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/488f936e-361b-4efa-b7d2-40eda6b4416b.html" target="element"> Sales </a> </td>
																		<td> <a href="../elements/759e5bb8-2b44-40fe-926b-d307c5c0587c.html" target="element"> Interact with Customer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/14238d06-2cfa-4714-9e63-89bd88c7b32b.html" target="element">  </a> </td>
																		<td> <a href="../elements/14238d06-2cfa-4714-9e63-89bd88c7b32b.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/9f9d60cd-e920-4bf7-b6a6-08b49ee79e5b.html" target="element"> Marketing </a> </td>
																		<td> <a href="../elements/85ad3c3d-921c-4014-ab54-b1224087d450.html" target="element"> Manage Information </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c4ce8ecf-293e-4c3f-94e5-4f7119a2ffbc.html" target="element">  </a> </td>
																		<td> <a href="../elements/c4ce8ecf-293e-4c3f-94e5-4f7119a2ffbc.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/9f9d60cd-e920-4bf7-b6a6-08b49ee79e5b.html" target="element"> Marketing </a> </td>
																		<td> <a href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html" target="element"> Analyze Information </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/09760543-27ef-4a24-b8af-91c0139fedcc.html" target="element">  </a> </td>
																		<td> <a href="../elements/09760543-27ef-4a24-b8af-91c0139fedcc.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/db3d1c99-d78c-4c55-80be-476b1f76342e.html" target="element"> Support </a> </td>
																		<td> <a href="../elements/9e2c5522-6bca-4353-a729-110fe511a0e6.html" target="element"> Support Customer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/637b11f1-c308-49cf-ab5a-45418efcd589.html" target="element">  </a> </td>
																		<td> <a href="../elements/637b11f1-c308-49cf-ab5a-45418efcd589.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/d904ebbb-58a8-40ae-b099-a80c6ce9cc25.html" target="element"> Administrator </a> </td>
																		<td> <a href="../elements/06fb56cc-5997-4d7e-a95d-97f60bcc1752.html" target="element"> Administer Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bd075b7c-e809-4708-bd8a-9adbb820cb90.html" target="element">  </a> </td>
																		<td> <a href="../elements/bd075b7c-e809-4708-bd8a-9adbb820cb90.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/54de4cbd-c574-4b19-8225-818ab445ad40.html" target="element"> Collaboration with customers in product design </a> </td>
																		<td> <a href="../elements/cd4a735e-8650-408d-8987-a3608d45e84b.html" target="element"> Product Designers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4fe814d2-202b-40fb-9833-9ec42915b916.html" target="element">  </a> </td>
																		<td> <a href="../elements/4fe814d2-202b-40fb-9833-9ec42915b916.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/54de4cbd-c574-4b19-8225-818ab445ad40.html" target="element"> Collaboration with customers in product design </a> </td>
																		<td> <a href="../elements/b3c626d2-f7cf-4233-b24a-0468c7656c26.html" target="element"> green-lighting of new products </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7be76840-9cd0-46c4-b386-10ef29c33f16.html" target="element">  </a> </td>
																		<td> <a href="../elements/7be76840-9cd0-46c4-b386-10ef29c33f16.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/54de4cbd-c574-4b19-8225-818ab445ad40.html" target="element"> Collaboration with customers in product design </a> </td>
																		<td> <a href="../elements/2355e627-5b86-4f31-9e13-aca29a0ed7e9.html" target="element"> Co-creation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/13d55c97-4963-4c0d-a062-19b93f8789c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/13d55c97-4963-4c0d-a062-19b93f8789c7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/54de4cbd-c574-4b19-8225-818ab445ad40.html" target="element"> Collaboration with customers in product design </a> </td>
																		<td> <a href="../elements/36864649-7fd9-4cd9-aa64-d90d3efd66c9.html" target="element"> Customer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c0da064f-108c-4331-aa8b-d208cde37e1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/c0da064f-108c-4331-aa8b-d208cde37e1c.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/41f8dfe2-423d-46c0-9229-33ac78a09279.html" target="element"> Collaboration with customers in product life cycle </a> </td>
																		<td> <a href="../elements/4fce15e8-f6fb-43bf-ad87-6beeb50f24ba.html" target="element"> Encourage customer to change products </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9b6ec61b-fbd4-444e-b3b4-14263c23678e.html" target="element">  </a> </td>
																		<td> <a href="../elements/9b6ec61b-fbd4-444e-b3b4-14263c23678e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/41f8dfe2-423d-46c0-9229-33ac78a09279.html" target="element"> Collaboration with customers in product life cycle </a> </td>
																		<td> <a href="../elements/6fd09559-81fd-4105-96a4-eabd35129f75.html" target="element"> Production planners </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/349971c7-3ee0-4a73-870b-987ec836fc51.html" target="element">  </a> </td>
																		<td> <a href="../elements/349971c7-3ee0-4a73-870b-987ec836fc51.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/41f8dfe2-423d-46c0-9229-33ac78a09279.html" target="element"> Collaboration with customers in product life cycle </a> </td>
																		<td> <a href="../elements/92f30019-8070-4696-ad8a-166478db863c.html" target="element"> Production planning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/61f9634e-8b91-4d50-a312-1b28d64400cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/61f9634e-8b91-4d50-a312-1b28d64400cb.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/41f8dfe2-423d-46c0-9229-33ac78a09279.html" target="element"> Collaboration with customers in product life cycle </a> </td>
																		<td> <a href="../elements/36864649-7fd9-4cd9-aa64-d90d3efd66c9.html" target="element"> Customer </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>