<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for Human Resources</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Generated View for Human Resources</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/aba412f3-5e39-45f2-9467-29d141ee264a.png" alt="Generated View for Human Resources" usemap="#aba412f3-5e39-45f2-9467-29d141ee264amap"/>
			   <map name="aba412f3-5e39-45f2-9467-29d141ee264amap">
				  		<area shape="rect" coords="638,26,758,81" href="../elements/3fff46d4-9401-481b-a16b-efbf3d7c0699.html"  target="element">
				  		<area shape="rect" coords="453,26,573,81" href="../elements/e6f781f7-7446-4456-9c64-61fe4c0ae436.html"  target="element">
				  		<area shape="rect" coords="273,26,393,81" href="../elements/bf8b0c89-afd3-478e-82e8-d5de4ffcd0ac.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/1f134910-0232-4f09-b328-59bffdc40d12.html"  target="element">
				  				<area shape="rect" coords="637,170,757,225" href="../elements/be3b02d7-8bfb-4534-98c4-0120e252cfbb.html"  target="element">
				  				<area shape="rect" coords="452,170,572,225" href="../elements/32bb2493-b2e6-4737-9abf-5a861350179f.html"  target="element">
				  				<area shape="rect" coords="271,170,391,225" href="../elements/8f0a1264-c84a-4258-bfc2-95848e73c5c3.html"  target="element">

				  		<area shape="rect" coords="20,110,800,279" href="../elements/34ad7d50-92d9-48ca-99bb-79ca34d559aa.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/34ad7d50-92d9-48ca-99bb-79ca34d559aa.html" target="element"> Human Resources </a> </td>
											    <td> <a href="../elements/34ad7d50-92d9-48ca-99bb-79ca34d559aa.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/8f0a1264-c84a-4258-bfc2-95848e73c5c3.html" target="element"> Employee Processes </a> </td>
													    <td> <a href="../elements/8f0a1264-c84a-4258-bfc2-95848e73c5c3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/32bb2493-b2e6-4737-9abf-5a861350179f.html" target="element"> Candidate Process </a> </td>
													    <td> <a href="../elements/32bb2493-b2e6-4737-9abf-5a861350179f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/be3b02d7-8bfb-4534-98c4-0120e252cfbb.html" target="element"> HR Management Process </a> </td>
													    <td> <a href="../elements/be3b02d7-8bfb-4534-98c4-0120e252cfbb.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/1f134910-0232-4f09-b328-59bffdc40d12.html" target="element"> Support Processes (macro 4) </a> </td>
											    <td> <a href="../elements/1f134910-0232-4f09-b328-59bffdc40d12.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bf8b0c89-afd3-478e-82e8-d5de4ffcd0ac.html" target="element"> Employee </a> </td>
											    <td> <a href="../elements/bf8b0c89-afd3-478e-82e8-d5de4ffcd0ac.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e6f781f7-7446-4456-9c64-61fe4c0ae436.html" target="element"> Candidate </a> </td>
											    <td> <a href="../elements/e6f781f7-7446-4456-9c64-61fe4c0ae436.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3fff46d4-9401-481b-a16b-efbf3d7c0699.html" target="element"> HR Team </a> </td>
											    <td> <a href="../elements/3fff46d4-9401-481b-a16b-efbf3d7c0699.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/accb0f27-68ba-4c65-92dc-d886a09b74e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/accb0f27-68ba-4c65-92dc-d886a09b74e8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/34ad7d50-92d9-48ca-99bb-79ca34d559aa.html" target="element"> Human Resources </a> </td>
																		<td> <a href="../elements/8f0a1264-c84a-4258-bfc2-95848e73c5c3.html" target="element"> Employee Processes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d3fc618c-fa0d-4e1d-a3bc-6300a0bc5144.html" target="element">  </a> </td>
																		<td> <a href="../elements/d3fc618c-fa0d-4e1d-a3bc-6300a0bc5144.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/34ad7d50-92d9-48ca-99bb-79ca34d559aa.html" target="element"> Human Resources </a> </td>
																		<td> <a href="../elements/32bb2493-b2e6-4737-9abf-5a861350179f.html" target="element"> Candidate Process </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4a1b5529-bb1c-41d9-a533-3f536100b665.html" target="element">  </a> </td>
																		<td> <a href="../elements/4a1b5529-bb1c-41d9-a533-3f536100b665.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/34ad7d50-92d9-48ca-99bb-79ca34d559aa.html" target="element"> Human Resources </a> </td>
																		<td> <a href="../elements/be3b02d7-8bfb-4534-98c4-0120e252cfbb.html" target="element"> HR Management Process </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/6ded1b7d-ce07-4d5e-b5e6-49a815e6229b.html" target="element">  </a> </td>
																		<td> <a href="../elements/6ded1b7d-ce07-4d5e-b5e6-49a815e6229b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1f134910-0232-4f09-b328-59bffdc40d12.html" target="element"> Support Processes (macro 4) </a> </td>
																		<td> <a href="../elements/34ad7d50-92d9-48ca-99bb-79ca34d559aa.html" target="element"> Human Resources </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0d1dab91-de9d-4fbf-8eef-987fff6b255e.html" target="element">  </a> </td>
																		<td> <a href="../elements/0d1dab91-de9d-4fbf-8eef-987fff6b255e.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/bf8b0c89-afd3-478e-82e8-d5de4ffcd0ac.html" target="element"> Employee </a> </td>
																		<td> <a href="../elements/8f0a1264-c84a-4258-bfc2-95848e73c5c3.html" target="element"> Employee Processes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f3a2ed32-3312-43fb-b495-1ac499c9d6dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/f3a2ed32-3312-43fb-b495-1ac499c9d6dd.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/e6f781f7-7446-4456-9c64-61fe4c0ae436.html" target="element"> Candidate </a> </td>
																		<td> <a href="../elements/32bb2493-b2e6-4737-9abf-5a861350179f.html" target="element"> Candidate Process </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/42cc6512-a35d-42fc-9d7d-19e2df615449.html" target="element">  </a> </td>
																		<td> <a href="../elements/42cc6512-a35d-42fc-9d7d-19e2df615449.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/3fff46d4-9401-481b-a16b-efbf3d7c0699.html" target="element"> HR Team </a> </td>
																		<td> <a href="../elements/be3b02d7-8bfb-4534-98c4-0120e252cfbb.html" target="element"> HR Management Process </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>