<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Financials Application View</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Financials Application View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/ad38f9c8-d9b1-4a3b-8813-6f2ed4accc1b.png" alt="Financials Application View" usemap="#ad38f9c8-d9b1-4a3b-8813-6f2ed4accc1bmap"/>
			   <map name="ad38f9c8-d9b1-4a3b-8813-6f2ed4accc1bmap">
				  		<area shape="rect" coords="435,310,555,365" href="../elements/fa72ffc6-99f4-4640-8f1d-eebab5ce36a0.html"  target="element">
				  		<area shape="rect" coords="435,82,555,137" href="../elements/a739918f-9264-46f5-926e-079933925e2a.html"  target="element">
				  		<area shape="rect" coords="435,214,555,269" href="../elements/eb428b36-64dc-486e-9fa7-bbaaf38297eb.html"  target="element">
				  		<area shape="rect" coords="387,443,507,498" href="../elements/67d9e82e-bb13-4813-9957-4eafc50a965c.html"  target="element">
				  		<area shape="rect" coords="129,443,249,498" href="../elements/750f9272-e847-427b-8bca-1d7491b0ba32.html"  target="element">
				  				<area shape="rect" coords="207,171,222,186" href="../elements/fe8c4456-458e-4375-97d4-101c906aa8ec.html"  target="element">
				  				<area shape="rect" coords="238,82,358,137" href="../elements/3abfcdf8-832d-4461-8398-de353cab63cd.html"  target="element">
				  				<area shape="rect" coords="58,310,178,365" href="../elements/77c2e8eb-6811-41f7-8264-8f592c40dfce.html"  target="element">
				  				<area shape="rect" coords="238,214,358,269" href="../elements/42af6472-6a61-47c7-b0c4-0502959fb64a.html"  target="element">
				  				<area shape="rect" coords="58,214,178,269" href="../elements/dc20d354-f8e7-4671-bc68-0f113e63cf1d.html"  target="element">
				  				<area shape="rect" coords="58,82,178,137" href="../elements/07309a87-eaa9-43c7-bbc2-aa894522956d.html"  target="element">

				  		<area shape="rect" coords="10,10,388,383" href="../elements/15345e86-89ab-4106-9f2f-bab3e93352e6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/15345e86-89ab-4106-9f2f-bab3e93352e6.html" target="element"> Financial SaaS offering </a> </td>
											    <td> <a href="../elements/15345e86-89ab-4106-9f2f-bab3e93352e6.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/07309a87-eaa9-43c7-bbc2-aa894522956d.html" target="element"> Modify Assets and Treasury </a> </td>
													    <td> <a href="../elements/07309a87-eaa9-43c7-bbc2-aa894522956d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/dc20d354-f8e7-4671-bc68-0f113e63cf1d.html" target="element"> Read Assets and Treasury </a> </td>
													    <td> <a href="../elements/dc20d354-f8e7-4671-bc68-0f113e63cf1d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/42af6472-6a61-47c7-b0c4-0502959fb64a.html" target="element"> Read Accounts and Invoices </a> </td>
													    <td> <a href="../elements/42af6472-6a61-47c7-b0c4-0502959fb64a.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/77c2e8eb-6811-41f7-8264-8f592c40dfce.html" target="element"> Generate Reports </a> </td>
													    <td> <a href="../elements/77c2e8eb-6811-41f7-8264-8f592c40dfce.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3abfcdf8-832d-4461-8398-de353cab63cd.html" target="element"> Modify Accounts </a> </td>
													    <td> <a href="../elements/3abfcdf8-832d-4461-8398-de353cab63cd.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fe8c4456-458e-4375-97d4-101c906aa8ec.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/fe8c4456-458e-4375-97d4-101c906aa8ec.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/750f9272-e847-427b-8bca-1d7491b0ba32.html" target="element"> Financial SaaS terms of service </a> </td>
											    <td> <a href="../elements/750f9272-e847-427b-8bca-1d7491b0ba32.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/67d9e82e-bb13-4813-9957-4eafc50a965c.html" target="element"> Financial SaaS Provider </a> </td>
											    <td> <a href="../elements/67d9e82e-bb13-4813-9957-4eafc50a965c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/eb428b36-64dc-486e-9fa7-bbaaf38297eb.html" target="element"> Retrieve Financial Information </a> </td>
											    <td> <a href="../elements/eb428b36-64dc-486e-9fa7-bbaaf38297eb.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a739918f-9264-46f5-926e-079933925e2a.html" target="element"> Input Financial Information </a> </td>
											    <td> <a href="../elements/a739918f-9264-46f5-926e-079933925e2a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fa72ffc6-99f4-4640-8f1d-eebab5ce36a0.html" target="element"> Analyse and Plan </a> </td>
											    <td> <a href="../elements/fa72ffc6-99f4-4640-8f1d-eebab5ce36a0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/3d292fef-3dd8-4280-a785-67ac37ca7263.html" target="element">  </a> </td>
																		<td> <a href="../elements/3d292fef-3dd8-4280-a785-67ac37ca7263.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/15345e86-89ab-4106-9f2f-bab3e93352e6.html" target="element"> Financial SaaS offering </a> </td>
																		<td> <a href="../elements/07309a87-eaa9-43c7-bbc2-aa894522956d.html" target="element"> Modify Assets and Treasury </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/93bdd609-43c8-4a51-94c2-c8fb11410327.html" target="element">  </a> </td>
																		<td> <a href="../elements/93bdd609-43c8-4a51-94c2-c8fb11410327.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/15345e86-89ab-4106-9f2f-bab3e93352e6.html" target="element"> Financial SaaS offering </a> </td>
																		<td> <a href="../elements/dc20d354-f8e7-4671-bc68-0f113e63cf1d.html" target="element"> Read Assets and Treasury </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b0265eb0-b12a-4884-bfe3-5b3ac78f6c64.html" target="element">  </a> </td>
																		<td> <a href="../elements/b0265eb0-b12a-4884-bfe3-5b3ac78f6c64.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/15345e86-89ab-4106-9f2f-bab3e93352e6.html" target="element"> Financial SaaS offering </a> </td>
																		<td> <a href="../elements/42af6472-6a61-47c7-b0c4-0502959fb64a.html" target="element"> Read Accounts and Invoices </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/00656ddb-5c75-497d-8991-eb0d35d943c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/00656ddb-5c75-497d-8991-eb0d35d943c0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/15345e86-89ab-4106-9f2f-bab3e93352e6.html" target="element"> Financial SaaS offering </a> </td>
																		<td> <a href="../elements/77c2e8eb-6811-41f7-8264-8f592c40dfce.html" target="element"> Generate Reports </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ef01b146-6cda-41ad-8c06-8a27aa003c60.html" target="element">  </a> </td>
																		<td> <a href="../elements/ef01b146-6cda-41ad-8c06-8a27aa003c60.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/15345e86-89ab-4106-9f2f-bab3e93352e6.html" target="element"> Financial SaaS offering </a> </td>
																		<td> <a href="../elements/3abfcdf8-832d-4461-8398-de353cab63cd.html" target="element"> Modify Accounts </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e630351a-f14f-4a2e-9796-c724bcf8601c.html" target="element">  </a> </td>
																		<td> <a href="../elements/e630351a-f14f-4a2e-9796-c724bcf8601c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/15345e86-89ab-4106-9f2f-bab3e93352e6.html" target="element"> Financial SaaS offering </a> </td>
																		<td> <a href="../elements/750f9272-e847-427b-8bca-1d7491b0ba32.html" target="element"> Financial SaaS terms of service </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/aa2e1406-128d-4e83-b971-61edc830281e.html" target="element">  </a> </td>
																				<td> <a href="../elements/aa2e1406-128d-4e83-b971-61edc830281e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/07309a87-eaa9-43c7-bbc2-aa894522956d.html" target="element"> Modify Assets and Treasury </a> </td>
																				<td> <a href="../elements/fe8c4456-458e-4375-97d4-101c906aa8ec.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2dd102dd-9c28-431d-ad5e-e05dbb3ee885.html" target="element">  </a> </td>
																				<td> <a href="../elements/2dd102dd-9c28-431d-ad5e-e05dbb3ee885.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/dc20d354-f8e7-4671-bc68-0f113e63cf1d.html" target="element"> Read Assets and Treasury </a> </td>
																				<td> <a href="../elements/fe8c4456-458e-4375-97d4-101c906aa8ec.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/007e1d6f-f364-4774-b6a5-4028107af6c6.html" target="element">  </a> </td>
																				<td> <a href="../elements/007e1d6f-f364-4774-b6a5-4028107af6c6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/42af6472-6a61-47c7-b0c4-0502959fb64a.html" target="element"> Read Accounts and Invoices </a> </td>
																				<td> <a href="../elements/fe8c4456-458e-4375-97d4-101c906aa8ec.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a1d78cec-32c3-42f2-95e5-1c64e345e20c.html" target="element">  </a> </td>
																				<td> <a href="../elements/a1d78cec-32c3-42f2-95e5-1c64e345e20c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/77c2e8eb-6811-41f7-8264-8f592c40dfce.html" target="element"> Generate Reports </a> </td>
																				<td> <a href="../elements/fa72ffc6-99f4-4640-8f1d-eebab5ce36a0.html" target="element"> Analyse and Plan </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/62e3b92e-a5d5-4c90-be0a-1cb0beb025b3.html" target="element">  </a> </td>
																				<td> <a href="../elements/62e3b92e-a5d5-4c90-be0a-1cb0beb025b3.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/3abfcdf8-832d-4461-8398-de353cab63cd.html" target="element"> Modify Accounts </a> </td>
																				<td> <a href="../elements/fe8c4456-458e-4375-97d4-101c906aa8ec.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2e70b525-3256-4e6c-a8f4-111aead66776.html" target="element">  </a> </td>
																				<td> <a href="../elements/2e70b525-3256-4e6c-a8f4-111aead66776.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/fe8c4456-458e-4375-97d4-101c906aa8ec.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/a739918f-9264-46f5-926e-079933925e2a.html" target="element"> Input Financial Information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/df80f048-a03f-4611-a6db-0afc9705a176.html" target="element">  </a> </td>
																				<td> <a href="../elements/df80f048-a03f-4611-a6db-0afc9705a176.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/fe8c4456-458e-4375-97d4-101c906aa8ec.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/eb428b36-64dc-486e-9fa7-bbaaf38297eb.html" target="element"> Retrieve Financial Information </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/ef7978b4-c158-41f5-8bcf-c48e1fc4fd86.html" target="element">  </a> </td>
																		<td> <a href="../elements/ef7978b4-c158-41f5-8bcf-c48e1fc4fd86.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/750f9272-e847-427b-8bca-1d7491b0ba32.html" target="element"> Financial SaaS terms of service </a> </td>
																		<td> <a href="../elements/67d9e82e-bb13-4813-9957-4eafc50a965c.html" target="element"> Financial SaaS Provider </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>