<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for Administer Service</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Generated View for Administer Service</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/bbb3bed9-eb20-4e2c-a4a7-f48966469f8f.png" alt="Generated View for Administer Service" usemap="#bbb3bed9-eb20-4e2c-a4a7-f48966469f8fmap"/>
			   <map name="bbb3bed9-eb20-4e2c-a4a7-f48966469f8fmap">
				  		<area shape="rect" coords="156,90,276,145" href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html"  target="element">
				  		<area shape="rect" coords="156,10,276,65" href="../elements/d904ebbb-58a8-40ae-b099-a80c6ce9cc25.html"  target="element">
				  				<area shape="rect" coords="203,345,218,360" href="../elements/81824386-6c0e-48bf-9788-c7fa44554446.html"  target="element">
				  				<area shape="rect" coords="395,346,410,361" href="../elements/01b9996a-eeac-4126-9b40-665e83235c8d.html"  target="element">
				  				<area shape="rect" coords="442,326,562,381" href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html"  target="element">
				  				<area shape="rect" coords="246,492,366,547" href="../elements/0a05916d-9330-41d0-a4be-2632d59de3f5.html"  target="element">
				  				<area shape="rect" coords="247,408,367,463" href="../elements/8d5ef35b-f5f2-41f9-adef-23afce16b710.html"  target="element">
				  				<area shape="rect" coords="247,326,367,381" href="../elements/f4dfe4b0-b481-4670-bd00-81335527ef42.html"  target="element">
				  				<area shape="rect" coords="248,249,368,304" href="../elements/63f96c28-f4cf-4e87-b276-f0901c6a37db.html"  target="element">
				  				<area shape="rect" coords="58,326,178,381" href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html"  target="element">

				  		<area shape="rect" coords="10,182,598,555" href="../elements/06fb56cc-5997-4d7e-a95d-97f60bcc1752.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/06fb56cc-5997-4d7e-a95d-97f60bcc1752.html" target="element"> Administer Service </a> </td>
											    <td> <a href="../elements/06fb56cc-5997-4d7e-a95d-97f60bcc1752.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html" target="element"> Login </a> </td>
													    <td> <a href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/63f96c28-f4cf-4e87-b276-f0901c6a37db.html" target="element"> Administrate Ticketing Service </a> </td>
													    <td> <a href="../elements/63f96c28-f4cf-4e87-b276-f0901c6a37db.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f4dfe4b0-b481-4670-bd00-81335527ef42.html" target="element"> Administrate CRM Application </a> </td>
													    <td> <a href="../elements/f4dfe4b0-b481-4670-bd00-81335527ef42.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8d5ef35b-f5f2-41f9-adef-23afce16b710.html" target="element"> Administrate Analysis Engine </a> </td>
													    <td> <a href="../elements/8d5ef35b-f5f2-41f9-adef-23afce16b710.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0a05916d-9330-41d0-a4be-2632d59de3f5.html" target="element"> Administrate Database </a> </td>
													    <td> <a href="../elements/0a05916d-9330-41d0-a4be-2632d59de3f5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
													    <td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/01b9996a-eeac-4126-9b40-665e83235c8d.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/01b9996a-eeac-4126-9b40-665e83235c8d.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/81824386-6c0e-48bf-9788-c7fa44554446.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/81824386-6c0e-48bf-9788-c7fa44554446.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/d904ebbb-58a8-40ae-b099-a80c6ce9cc25.html" target="element"> Administrator </a> </td>
											    <td> <a href="../elements/d904ebbb-58a8-40ae-b099-a80c6ce9cc25.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
											    <td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/098ccca6-cd4b-4a91-8c0c-9ff1c924aa36.html" target="element">  </a> </td>
																		<td> <a href="../elements/098ccca6-cd4b-4a91-8c0c-9ff1c924aa36.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/06fb56cc-5997-4d7e-a95d-97f60bcc1752.html" target="element"> Administer Service </a> </td>
																		<td> <a href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html" target="element"> Login </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/27d83ddc-8b77-4cdc-a873-a235f9f247b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/27d83ddc-8b77-4cdc-a873-a235f9f247b2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/06fb56cc-5997-4d7e-a95d-97f60bcc1752.html" target="element"> Administer Service </a> </td>
																		<td> <a href="../elements/63f96c28-f4cf-4e87-b276-f0901c6a37db.html" target="element"> Administrate Ticketing Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c2bfa528-f5fb-4148-a200-94a64fd1c2c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/c2bfa528-f5fb-4148-a200-94a64fd1c2c1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/06fb56cc-5997-4d7e-a95d-97f60bcc1752.html" target="element"> Administer Service </a> </td>
																		<td> <a href="../elements/f4dfe4b0-b481-4670-bd00-81335527ef42.html" target="element"> Administrate CRM Application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/941af0bf-79e2-41fc-b29d-e9b2296e6cdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/941af0bf-79e2-41fc-b29d-e9b2296e6cdf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/06fb56cc-5997-4d7e-a95d-97f60bcc1752.html" target="element"> Administer Service </a> </td>
																		<td> <a href="../elements/8d5ef35b-f5f2-41f9-adef-23afce16b710.html" target="element"> Administrate Analysis Engine </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6e909101-622d-4d6b-8c90-fc1436434617.html" target="element">  </a> </td>
																		<td> <a href="../elements/6e909101-622d-4d6b-8c90-fc1436434617.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/06fb56cc-5997-4d7e-a95d-97f60bcc1752.html" target="element"> Administer Service </a> </td>
																		<td> <a href="../elements/0a05916d-9330-41d0-a4be-2632d59de3f5.html" target="element"> Administrate Database </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fa3b7942-5041-46d7-a1b9-61e54e8d2cf4.html" target="element">  </a> </td>
																		<td> <a href="../elements/fa3b7942-5041-46d7-a1b9-61e54e8d2cf4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/06fb56cc-5997-4d7e-a95d-97f60bcc1752.html" target="element"> Administer Service </a> </td>
																		<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/bffb7896-1596-4e18-8f4e-b1006c4c714d.html" target="element">  </a> </td>
																				<td> <a href="../elements/bffb7896-1596-4e18-8f4e-b1006c4c714d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/052c3c24-2b90-4886-aacb-bf0849157375.html" target="element"> Login </a> </td>
																				<td> <a href="../elements/81824386-6c0e-48bf-9788-c7fa44554446.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/74ac02bc-cd3e-4866-959e-653ec446a201.html" target="element">  </a> </td>
																				<td> <a href="../elements/74ac02bc-cd3e-4866-959e-653ec446a201.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/63f96c28-f4cf-4e87-b276-f0901c6a37db.html" target="element"> Administrate Ticketing Service </a> </td>
																				<td> <a href="../elements/01b9996a-eeac-4126-9b40-665e83235c8d.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/1435b55d-c018-4eec-a403-219d7affe120.html" target="element">  </a> </td>
																				<td> <a href="../elements/1435b55d-c018-4eec-a403-219d7affe120.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/f4dfe4b0-b481-4670-bd00-81335527ef42.html" target="element"> Administrate CRM Application </a> </td>
																				<td> <a href="../elements/01b9996a-eeac-4126-9b40-665e83235c8d.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/5d1118f7-09d9-411f-9d79-f24ae2ea011e.html" target="element">  </a> </td>
																				<td> <a href="../elements/5d1118f7-09d9-411f-9d79-f24ae2ea011e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/8d5ef35b-f5f2-41f9-adef-23afce16b710.html" target="element"> Administrate Analysis Engine </a> </td>
																				<td> <a href="../elements/01b9996a-eeac-4126-9b40-665e83235c8d.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/295d2cac-277c-4be8-9a4f-2ea21ca4ee7e.html" target="element">  </a> </td>
																				<td> <a href="../elements/295d2cac-277c-4be8-9a4f-2ea21ca4ee7e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/0a05916d-9330-41d0-a4be-2632d59de3f5.html" target="element"> Administrate Database </a> </td>
																				<td> <a href="../elements/01b9996a-eeac-4126-9b40-665e83235c8d.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/fb2becb2-c119-494e-8bdf-30f51abffc78.html" target="element">  </a> </td>
																				<td> <a href="../elements/fb2becb2-c119-494e-8bdf-30f51abffc78.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/01b9996a-eeac-4126-9b40-665e83235c8d.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/186e54cb-6733-4ae4-92e1-2289102f634b.html" target="element">  </a> </td>
																				<td> <a href="../elements/186e54cb-6733-4ae4-92e1-2289102f634b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/81824386-6c0e-48bf-9788-c7fa44554446.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/f4dfe4b0-b481-4670-bd00-81335527ef42.html" target="element"> Administrate CRM Application </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5b250e35-aa34-4046-8924-5fb46bea6a4f.html" target="element">  </a> </td>
																				<td> <a href="../elements/5b250e35-aa34-4046-8924-5fb46bea6a4f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/81824386-6c0e-48bf-9788-c7fa44554446.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/8d5ef35b-f5f2-41f9-adef-23afce16b710.html" target="element"> Administrate Analysis Engine </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/44d617a4-33dd-418f-91a2-cfbb79eaaa7c.html" target="element">  </a> </td>
																				<td> <a href="../elements/44d617a4-33dd-418f-91a2-cfbb79eaaa7c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/81824386-6c0e-48bf-9788-c7fa44554446.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/63f96c28-f4cf-4e87-b276-f0901c6a37db.html" target="element"> Administrate Ticketing Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/71c03049-35c9-4a97-9e6a-905591e65247.html" target="element">  </a> </td>
																				<td> <a href="../elements/71c03049-35c9-4a97-9e6a-905591e65247.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/81824386-6c0e-48bf-9788-c7fa44554446.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/0a05916d-9330-41d0-a4be-2632d59de3f5.html" target="element"> Administrate Database </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/637b11f1-c308-49cf-ab5a-45418efcd589.html" target="element">  </a> </td>
																		<td> <a href="../elements/637b11f1-c308-49cf-ab5a-45418efcd589.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/d904ebbb-58a8-40ae-b099-a80c6ce9cc25.html" target="element"> Administrator </a> </td>
																		<td> <a href="../elements/06fb56cc-5997-4d7e-a95d-97f60bcc1752.html" target="element"> Administer Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0574042d-fea5-4ddd-80c7-1171e03c5a8d.html" target="element">  </a> </td>
																		<td> <a href="../elements/0574042d-fea5-4ddd-80c7-1171e03c5a8d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
																		<td> <a href="../elements/06fb56cc-5997-4d7e-a95d-97f60bcc1752.html" target="element"> Administer Service </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>