<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Business Vision</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Business Vision</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/bbc1e2df-1f76-42c5-8a7e-9522c67c9aea.png" alt="Business Vision" usemap="#bbc1e2df-1f76-42c5-8a7e-9522c67c9aeamap"/>
			   <map name="bbc1e2df-1f76-42c5-8a7e-9522c67c9aeamap">
				  		<area shape="rect" coords="1316,646,1497,719" href="../elements/95282371-b9b3-4f9d-bfd4-059c92dabce5.html"  target="element">
				  		<area shape="rect" coords="1520,646,1701,719" href="../elements/e0b0ca01-d684-4401-a67d-e1d273ffeba3.html"  target="element">
				  		<area shape="rect" coords="704,381,885,454" href="../elements/e7998bb0-5f52-47b6-9007-2f1fd48815ca.html"  target="element">
				  		<area shape="rect" coords="704,478,885,551" href="../elements/bf890d15-1ff8-4130-9a7e-588af5723d26.html"  target="element">
				  		<area shape="rect" coords="908,574,1089,647" href="../elements/8855a497-f3e6-40e8-8994-2d90168a6190.html"  target="element">
				  		<area shape="rect" coords="908,478,1089,551" href="../elements/e4008d1b-2fed-469e-a428-ffc391c9f31f.html"  target="element">
				  		<area shape="rect" coords="704,285,885,358" href="../elements/5053b970-9f27-4b07-b792-9c915d509b99.html"  target="element">
				  		<area shape="rect" coords="908,381,1089,454" href="../elements/28f1a113-97f8-44da-b034-fa8b9f43c2af.html"  target="element">
				  		<area shape="rect" coords="908,285,1089,358" href="../elements/f66e5bc0-72c3-4d28-8098-4c779611d36a.html"  target="element">
				  		<area shape="rect" coords="812,196,993,269" href="../elements/acf00d59-ae9b-4e18-8f64-731af7f1bcf8.html"  target="element">
				  		<area shape="rect" coords="812,106,993,179" href="../elements/7f30ebd5-f330-45d7-a9ca-bb9336c03174.html"  target="element">
				  		<area shape="rect" coords="812,10,993,83" href="../elements/94fb0b4b-7d35-4554-9da7-f1d7defb2bb8.html"  target="element">
				  		<area shape="rect" coords="685,886,866,959" href="../elements/7030be89-9c14-4ee4-8b33-1fabe1cfc706.html"  target="element">
				  		<area shape="rect" coords="468,934,649,1007" href="../elements/c17146d6-1152-49e7-9866-0997b2072f06.html"  target="element">
				  		<area shape="rect" coords="253,886,434,959" href="../elements/fb1c9787-cd85-40e2-852c-c53873f4ce5b.html"  target="element">
				  		<area shape="rect" coords="457,727,638,800" href="../elements/ebfc2607-1209-4790-9edb-a43bdf3de750.html"  target="element">
				  		<area shape="rect" coords="685,790,866,863" href="../elements/cbe41891-382e-45d1-8429-996100722450.html"  target="element">
				  		<area shape="rect" coords="253,790,434,863" href="../elements/207f8327-62ff-488f-b4a2-868d1691a2fe.html"  target="element">
				  		<area shape="rect" coords="499,844,619,899" href="../elements/b1498b1e-42ab-4b16-9064-05aea78f731d.html"  target="element">
				  		<area shape="rect" coords="1460,454,1641,509" href="../elements/5a2496fb-91ba-45cb-abeb-d6ff5fea5782.html"  target="element">
				  		<area shape="rect" coords="1460,370,1641,442" href="../elements/3f4b127e-0a49-4f5a-9c6a-0d871a308ae5.html"  target="element">
				  		<area shape="rect" coords="1460,310,1641,365" href="../elements/445efc64-b17b-44ee-ad1f-54754e1f663c.html"  target="element">
				  		<area shape="rect" coords="1460,250,1641,305" href="../elements/81d47314-ad02-4db4-9086-8addd650bfd9.html"  target="element">
				  		<area shape="rect" coords="1460,190,1641,245" href="../elements/4bae1e24-9f59-4962-a0a8-d1ab4877dd08.html"  target="element">
				  		<area shape="rect" coords="1460,130,1641,185" href="../elements/bda4c037-e334-41e7-927d-8faf7bbc4260.html"  target="element">
				  		<area shape="rect" coords="1256,436,1437,491" href="../elements/e397a498-7ccf-4f83-a92e-31b6873458a8.html"  target="element">
				  		<area shape="rect" coords="1256,369,1437,424" href="../elements/2f8b184f-9dc6-4173-8f93-a0d590bf36e0.html"  target="element">
				  		<area shape="rect" coords="1256,262,1437,358" href="../elements/4d46045d-e953-486d-84e4-758c03739451.html"  target="element">
				  		<area shape="rect" coords="1256,196,1437,251" href="../elements/cfc9184e-1b24-4245-85cf-04c3ee80a0bd.html"  target="element">
				  		<area shape="rect" coords="1256,130,1437,185" href="../elements/e971d9a4-2f9a-4f43-a7a5-008be28f10e6.html"  target="element">
				  		<area shape="rect" coords="1352,22,1533,95" href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html"  target="element">
				  		<area shape="rect" coords="254,466,435,538" href="../elements/26dc7891-a573-4cf5-834b-64f04fd18b8e.html"  target="element">
				  		<area shape="rect" coords="254,382,435,454" href="../elements/58b2f504-a3c0-40f2-9cbb-beef023a362c.html"  target="element">
				  		<area shape="rect" coords="254,298,435,370" href="../elements/874cc80b-628c-44c4-b3b2-e60ff93f7b2a.html"  target="element">
				  		<area shape="rect" coords="254,214,435,286" href="../elements/c9aaf66b-d56b-469a-91e9-3788b761f864.html"  target="element">
				  		<area shape="rect" coords="254,130,435,203" href="../elements/bb2664f3-e5a0-4106-8c3b-f666627d4322.html"  target="element">
				  		<area shape="rect" coords="50,490,231,563" href="../elements/f5f5136d-5de3-4181-857c-e70b6419e3e0.html"  target="element">
				  		<area shape="rect" coords="50,406,231,479" href="../elements/b4c4699a-3b79-4ae7-a708-eb69bd3471fa.html"  target="element">
				  		<area shape="rect" coords="50,334,231,389" href="../elements/44b51fb0-5811-4bf4-a062-d2652d3e62ee.html"  target="element">
				  		<area shape="rect" coords="50,262,231,317" href="../elements/fec0b43c-45ad-404e-bc39-530972440394.html"  target="element">
				  		<area shape="rect" coords="50,196,231,251" href="../elements/f38c8aaf-ada3-4469-8fb8-c460243eca07.html"  target="element">
				  		<area shape="rect" coords="146,22,327,95" href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html"  target="element">
				  		<area shape="rect" coords="50,130,231,185" href="../elements/bc387014-1715-45ab-ab92-4233a6c341d0.html"  target="element">
				  		<area shape="rect" coords="716,1561,836,1616" href="../elements/11776869-0386-44e2-b43a-5f8ceec818ab.html"  target="element">
				  		<area shape="rect" coords="800,1489,920,1544" href="../elements/d862fd0d-7dde-41bf-9263-851cdb644f76.html"  target="element">
				  		<area shape="rect" coords="764,1321,945,1394" href="../elements/6453ebec-a528-4689-9863-7bd4fd9f9124.html"  target="element">
				  		<area shape="rect" coords="896,1429,1016,1484" href="../elements/4ca6dd6c-e4c5-484f-9144-3e6821c2514e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/4ca6dd6c-e4c5-484f-9144-3e6821c2514e.html" target="element"> Requirement </a> </td>
											    <td> <a href="../elements/4ca6dd6c-e4c5-484f-9144-3e6821c2514e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6453ebec-a528-4689-9863-7bd4fd9f9124.html" target="element"> Pattern </a> </td>
											    <td> <a href="../elements/6453ebec-a528-4689-9863-7bd4fd9f9124.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d862fd0d-7dde-41bf-9263-851cdb644f76.html" target="element"> Requirement </a> </td>
											    <td> <a href="../elements/d862fd0d-7dde-41bf-9263-851cdb644f76.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/11776869-0386-44e2-b43a-5f8ceec818ab.html" target="element"> Requirement </a> </td>
											    <td> <a href="../elements/11776869-0386-44e2-b43a-5f8ceec818ab.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bc387014-1715-45ab-ab92-4233a6c341d0.html" target="element"> BR1: The organization must be able to manufacture a good </a> </td>
											    <td> <a href="../elements/bc387014-1715-45ab-ab92-4233a6c341d0.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
											    <td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f38c8aaf-ada3-4469-8fb8-c460243eca07.html" target="element"> BR2: The organization must be able to repair and maintain the goods it produces </a> </td>
											    <td> <a href="../elements/f38c8aaf-ada3-4469-8fb8-c460243eca07.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fec0b43c-45ad-404e-bc39-530972440394.html" target="element"> BR3: The organization must be able to monitor its goods </a> </td>
											    <td> <a href="../elements/fec0b43c-45ad-404e-bc39-530972440394.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/44b51fb0-5811-4bf4-a062-d2652d3e62ee.html" target="element"> BR4: The organization must be able to interface with customers to provide their goods </a> </td>
											    <td> <a href="../elements/44b51fb0-5811-4bf4-a062-d2652d3e62ee.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b4c4699a-3b79-4ae7-a708-eb69bd3471fa.html" target="element"> BR5: The organization must be able to interface with other organizations to provide their goods </a> </td>
											    <td> <a href="../elements/b4c4699a-3b79-4ae7-a708-eb69bd3471fa.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f5f5136d-5de3-4181-857c-e70b6419e3e0.html" target="element"> BR6: The organization must be able to provide its customers with a repair or maintenance service </a> </td>
											    <td> <a href="../elements/f5f5136d-5de3-4181-857c-e70b6419e3e0.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bb2664f3-e5a0-4106-8c3b-f666627d4322.html" target="element"> BR7: The organization must be able to provide its customer with a service based on the goods it manufactures </a> </td>
											    <td> <a href="../elements/bb2664f3-e5a0-4106-8c3b-f666627d4322.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c9aaf66b-d56b-469a-91e9-3788b761f864.html" target="element"> BR8: The organization must be able to gather payments on services provided </a> </td>
											    <td> <a href="../elements/c9aaf66b-d56b-469a-91e9-3788b761f864.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/874cc80b-628c-44c4-b3b2-e60ff93f7b2a.html" target="element"> BR9: The organization must be able to employ human labor for its activities </a> </td>
											    <td> <a href="../elements/874cc80b-628c-44c4-b3b2-e60ff93f7b2a.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/58b2f504-a3c0-40f2-9cbb-beef023a362c.html" target="element"> BR10: The organization must be able to contract suppliers for the elements of their goods that they won't be manufacturing directly </a> </td>
											    <td> <a href="../elements/58b2f504-a3c0-40f2-9cbb-beef023a362c.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/26dc7891-a573-4cf5-834b-64f04fd18b8e.html" target="element"> BR11: The organization must be able to contract services from outside firms if needed </a> </td>
											    <td> <a href="../elements/26dc7891-a573-4cf5-834b-64f04fd18b8e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
											    <td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e971d9a4-2f9a-4f43-a7a5-008be28f10e6.html" target="element"> IBR1: The organization must be able to manage its financial resources </a> </td>
											    <td> <a href="../elements/e971d9a4-2f9a-4f43-a7a5-008be28f10e6.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cfc9184e-1b24-4245-85cf-04c3ee80a0bd.html" target="element"> IBR2: The organization must be able to manage its Human Resources </a> </td>
											    <td> <a href="../elements/cfc9184e-1b24-4245-85cf-04c3ee80a0bd.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4d46045d-e953-486d-84e4-758c03739451.html" target="element"> IBR3: The organization must be able to manage its infrastructure, technological, office space, manufacturing space, among others </a> </td>
											    <td> <a href="../elements/4d46045d-e953-486d-84e4-758c03739451.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2f8b184f-9dc6-4173-8f93-a0d590bf36e0.html" target="element"> IBR4: The organization must be able to manage its material resources </a> </td>
											    <td> <a href="../elements/2f8b184f-9dc6-4173-8f93-a0d590bf36e0.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e397a498-7ccf-4f83-a92e-31b6873458a8.html" target="element"> IBR5: The organization must be able to market its service to its customers </a> </td>
											    <td> <a href="../elements/e397a498-7ccf-4f83-a92e-31b6873458a8.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bda4c037-e334-41e7-927d-8faf7bbc4260.html" target="element"> IBR6: The organization must be able to sell its service to its customers </a> </td>
											    <td> <a href="../elements/bda4c037-e334-41e7-927d-8faf7bbc4260.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4bae1e24-9f59-4962-a0a8-d1ab4877dd08.html" target="element"> IBR7: The organization must be able to communicate with its customers </a> </td>
											    <td> <a href="../elements/4bae1e24-9f59-4962-a0a8-d1ab4877dd08.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/81d47314-ad02-4db4-9086-8addd650bfd9.html" target="element"> IBR8: The organization must be able to generate a strategy </a> </td>
											    <td> <a href="../elements/81d47314-ad02-4db4-9086-8addd650bfd9.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/445efc64-b17b-44ee-ad1f-54754e1f663c.html" target="element"> IBR9: The organization must be able to design new products </a> </td>
											    <td> <a href="../elements/445efc64-b17b-44ee-ad1f-54754e1f663c.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3f4b127e-0a49-4f5a-9c6a-0d871a308ae5.html" target="element"> IBR10: The organization must be able to manage the execution of business processes </a> </td>
											    <td> <a href="../elements/3f4b127e-0a49-4f5a-9c6a-0d871a308ae5.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5a2496fb-91ba-45cb-abeb-d6ff5fea5782.html" target="element"> IBR11: The organization must allow its members to work from home </a> </td>
											    <td> <a href="../elements/5a2496fb-91ba-45cb-abeb-d6ff5fea5782.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b1498b1e-42ab-4b16-9064-05aea78f731d.html" target="element"> Sustainability </a> </td>
											    <td> <a href="../elements/b1498b1e-42ab-4b16-9064-05aea78f731d.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/207f8327-62ff-488f-b4a2-868d1691a2fe.html" target="element"> Sustainable Pattern: Customer Relations </a> </td>
											    <td> <a href="../elements/207f8327-62ff-488f-b4a2-868d1691a2fe.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cbe41891-382e-45d1-8429-996100722450.html" target="element"> Sustainable Pattern: Customer Channels </a> </td>
											    <td> <a href="../elements/cbe41891-382e-45d1-8429-996100722450.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ebfc2607-1209-4790-9edb-a43bdf3de750.html" target="element"> Sustainable Pattern: Key Activities - Projects </a> </td>
											    <td> <a href="../elements/ebfc2607-1209-4790-9edb-a43bdf3de750.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fb1c9787-cd85-40e2-852c-c53873f4ce5b.html" target="element"> Sustainable Pattern: Key Partners </a> </td>
											    <td> <a href="../elements/fb1c9787-cd85-40e2-852c-c53873f4ce5b.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c17146d6-1152-49e7-9866-0997b2072f06.html" target="element"> Sustainable Pattern: Key Resources </a> </td>
											    <td> <a href="../elements/c17146d6-1152-49e7-9866-0997b2072f06.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7030be89-9c14-4ee4-8b33-1fabe1cfc706.html" target="element"> Sustainable Pattern: Value Proposition </a> </td>
											    <td> <a href="../elements/7030be89-9c14-4ee4-8b33-1fabe1cfc706.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/94fb0b4b-7d35-4554-9da7-f1d7defb2bb8.html" target="element"> Pattern171: Financials </a> </td>
											    <td> <a href="../elements/94fb0b4b-7d35-4554-9da7-f1d7defb2bb8.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7f30ebd5-f330-45d7-a9ca-bb9336c03174.html" target="element"> Pattern173: ResourcesAreScarce </a> </td>
											    <td> <a href="../elements/7f30ebd5-f330-45d7-a9ca-bb9336c03174.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/acf00d59-ae9b-4e18-8f64-731af7f1bcf8.html" target="element"> Pattern153: WebPortal </a> </td>
											    <td> <a href="../elements/acf00d59-ae9b-4e18-8f64-731af7f1bcf8.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f66e5bc0-72c3-4d28-8098-4c779611d36a.html" target="element"> Pattern169: VendingMachine </a> </td>
											    <td> <a href="../elements/f66e5bc0-72c3-4d28-8098-4c779611d36a.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/28f1a113-97f8-44da-b034-fa8b9f43c2af.html" target="element"> Pattern141: Personalization </a> </td>
											    <td> <a href="../elements/28f1a113-97f8-44da-b034-fa8b9f43c2af.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5053b970-9f27-4b07-b792-9c915d509b99.html" target="element"> Pattern156: KnowledgeBase </a> </td>
											    <td> <a href="../elements/5053b970-9f27-4b07-b792-9c915d509b99.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e4008d1b-2fed-469e-a428-ffc391c9f31f.html" target="element"> Pattern170: KnowYourCustomer </a> </td>
											    <td> <a href="../elements/e4008d1b-2fed-469e-a428-ffc391c9f31f.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8855a497-f3e6-40e8-8994-2d90168a6190.html" target="element"> Pattern166: BUSINESS INTELLIGENCE </a> </td>
											    <td> <a href="../elements/8855a497-f3e6-40e8-8994-2d90168a6190.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bf890d15-1ff8-4130-9a7e-588af5723d26.html" target="element"> Pattern162: CASE MANAGEMENT </a> </td>
											    <td> <a href="../elements/bf890d15-1ff8-4130-9a7e-588af5723d26.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e7998bb0-5f52-47b6-9007-2f1fd48815ca.html" target="element"> Pattern174: FromSupplierToCustomer </a> </td>
											    <td> <a href="../elements/e7998bb0-5f52-47b6-9007-2f1fd48815ca.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e0b0ca01-d684-4401-a67d-e1d273ffeba3.html" target="element"> Pattern159: BUSINESS PROCESS MANAGEMENT </a> </td>
											    <td> <a href="../elements/e0b0ca01-d684-4401-a67d-e1d273ffeba3.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/95282371-b9b3-4f9d-bfd4-059c92dabce5.html" target="element"> Pattern168: WorkTogether </a> </td>
											    <td> <a href="../elements/95282371-b9b3-4f9d-bfd4-059c92dabce5.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/aa1e3cb3-6332-44b7-b58d-9eca54330701.html" target="element">  </a> </td>
																		<td> <a href="../elements/aa1e3cb3-6332-44b7-b58d-9eca54330701.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6453ebec-a528-4689-9863-7bd4fd9f9124.html" target="element"> Pattern </a> </td>
																		<td> <a href="../elements/4ca6dd6c-e4c5-484f-9144-3e6821c2514e.html" target="element"> Requirement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1c96f1ce-2b78-45f1-91b6-ce0639c712ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/1c96f1ce-2b78-45f1-91b6-ce0639c712ee.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6453ebec-a528-4689-9863-7bd4fd9f9124.html" target="element"> Pattern </a> </td>
																		<td> <a href="../elements/d862fd0d-7dde-41bf-9263-851cdb644f76.html" target="element"> Requirement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d73097d0-59d8-4639-8798-9515d56207bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/d73097d0-59d8-4639-8798-9515d56207bd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6453ebec-a528-4689-9863-7bd4fd9f9124.html" target="element"> Pattern </a> </td>
																		<td> <a href="../elements/11776869-0386-44e2-b43a-5f8ceec818ab.html" target="element"> Requirement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/805ff011-396b-428f-abca-0c8e60033dcd.html" target="element">  </a> </td>
																		<td> <a href="../elements/805ff011-396b-428f-abca-0c8e60033dcd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/bc387014-1715-45ab-ab92-4233a6c341d0.html" target="element"> BR1: The organization must be able to manufacture a good </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a881002a-98e9-4b55-a9e4-97569c85ad8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/a881002a-98e9-4b55-a9e4-97569c85ad8c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/bb2664f3-e5a0-4106-8c3b-f666627d4322.html" target="element"> BR7: The organization must be able to provide its customer with a service based on the goods it manufactures </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/08ca48aa-ed0b-4526-924b-83f1dad0b685.html" target="element">  </a> </td>
																		<td> <a href="../elements/08ca48aa-ed0b-4526-924b-83f1dad0b685.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/f38c8aaf-ada3-4469-8fb8-c460243eca07.html" target="element"> BR2: The organization must be able to repair and maintain the goods it produces </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e606e8b4-3332-4dff-8a58-c9b32f74a2b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/e606e8b4-3332-4dff-8a58-c9b32f74a2b2.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/c9aaf66b-d56b-469a-91e9-3788b761f864.html" target="element"> BR8: The organization must be able to gather payments on services provided </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d69616e8-0f5b-41e0-96f5-ba08cd249577.html" target="element">  </a> </td>
																		<td> <a href="../elements/d69616e8-0f5b-41e0-96f5-ba08cd249577.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/fec0b43c-45ad-404e-bc39-530972440394.html" target="element"> BR3: The organization must be able to monitor its goods </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/17fa5639-95ec-47da-9fb2-c8c0345862b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/17fa5639-95ec-47da-9fb2-c8c0345862b0.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/874cc80b-628c-44c4-b3b2-e60ff93f7b2a.html" target="element"> BR9: The organization must be able to employ human labor for its activities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7ad95cf9-c578-4631-9f62-34dc133666df.html" target="element">  </a> </td>
																		<td> <a href="../elements/7ad95cf9-c578-4631-9f62-34dc133666df.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/58b2f504-a3c0-40f2-9cbb-beef023a362c.html" target="element"> BR10: The organization must be able to contract suppliers for the elements of their goods that they won't be manufacturing directly </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a498c3f4-1eca-4db5-afd4-062d45f4b7b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/a498c3f4-1eca-4db5-afd4-062d45f4b7b7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/26dc7891-a573-4cf5-834b-64f04fd18b8e.html" target="element"> BR11: The organization must be able to contract services from outside firms if needed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dbec339d-4c2b-4fe9-86e2-80a51d8b5ba2.html" target="element">  </a> </td>
																		<td> <a href="../elements/dbec339d-4c2b-4fe9-86e2-80a51d8b5ba2.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/44b51fb0-5811-4bf4-a062-d2652d3e62ee.html" target="element"> BR4: The organization must be able to interface with customers to provide their goods </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c79a090a-4089-45ec-af01-2e867b9d5bc3.html" target="element">  </a> </td>
																		<td> <a href="../elements/c79a090a-4089-45ec-af01-2e867b9d5bc3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/b4c4699a-3b79-4ae7-a708-eb69bd3471fa.html" target="element"> BR5: The organization must be able to interface with other organizations to provide their goods </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3f50dd25-d94c-4631-bfd4-6dec289fd87d.html" target="element">  </a> </td>
																		<td> <a href="../elements/3f50dd25-d94c-4631-bfd4-6dec289fd87d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/f5f5136d-5de3-4181-857c-e70b6419e3e0.html" target="element"> BR6: The organization must be able to provide its customers with a repair or maintenance service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4cf81e82-a961-42b6-8b6f-739b8cee8efa.html" target="element">  </a> </td>
																		<td> <a href="../elements/4cf81e82-a961-42b6-8b6f-739b8cee8efa.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/e971d9a4-2f9a-4f43-a7a5-008be28f10e6.html" target="element"> IBR1: The organization must be able to manage its financial resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/da830844-2775-42d7-8c54-be530b9d2471.html" target="element">  </a> </td>
																		<td> <a href="../elements/da830844-2775-42d7-8c54-be530b9d2471.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/bda4c037-e334-41e7-927d-8faf7bbc4260.html" target="element"> IBR6: The organization must be able to sell its service to its customers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/518f113a-8d8a-4393-843f-b2eca46bfdf2.html" target="element">  </a> </td>
																		<td> <a href="../elements/518f113a-8d8a-4393-843f-b2eca46bfdf2.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/cfc9184e-1b24-4245-85cf-04c3ee80a0bd.html" target="element"> IBR2: The organization must be able to manage its Human Resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/daebfc66-e9c4-4433-9f76-586c61a3c693.html" target="element">  </a> </td>
																		<td> <a href="../elements/daebfc66-e9c4-4433-9f76-586c61a3c693.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/4bae1e24-9f59-4962-a0a8-d1ab4877dd08.html" target="element"> IBR7: The organization must be able to communicate with its customers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7edeabee-f231-4c41-9cc9-59a6121141a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/7edeabee-f231-4c41-9cc9-59a6121141a7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/4d46045d-e953-486d-84e4-758c03739451.html" target="element"> IBR3: The organization must be able to manage its infrastructure, technological, office space, manufacturing space, among others </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1959e34e-9c03-4d10-b7fe-7a5e3d0460ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/1959e34e-9c03-4d10-b7fe-7a5e3d0460ff.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/81d47314-ad02-4db4-9086-8addd650bfd9.html" target="element"> IBR8: The organization must be able to generate a strategy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/261e9edd-7949-43ef-a9b2-2be191df3879.html" target="element">  </a> </td>
																		<td> <a href="../elements/261e9edd-7949-43ef-a9b2-2be191df3879.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/445efc64-b17b-44ee-ad1f-54754e1f663c.html" target="element"> IBR9: The organization must be able to design new products </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/01db1b2c-5510-4522-9fe8-4b3b8c216908.html" target="element">  </a> </td>
																		<td> <a href="../elements/01db1b2c-5510-4522-9fe8-4b3b8c216908.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/2f8b184f-9dc6-4173-8f93-a0d590bf36e0.html" target="element"> IBR4: The organization must be able to manage its material resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7fce1be1-e2c2-4115-a4f2-8e219628ad5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/7fce1be1-e2c2-4115-a4f2-8e219628ad5f.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/3f4b127e-0a49-4f5a-9c6a-0d871a308ae5.html" target="element"> IBR10: The organization must be able to manage the execution of business processes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/313fec52-1e02-47f8-a77d-0b82b62bd43a.html" target="element">  </a> </td>
																		<td> <a href="../elements/313fec52-1e02-47f8-a77d-0b82b62bd43a.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/e397a498-7ccf-4f83-a92e-31b6873458a8.html" target="element"> IBR5: The organization must be able to market its service to its customers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/596905f2-1691-4ba0-b8a9-d0a2ffbed175.html" target="element">  </a> </td>
																		<td> <a href="../elements/596905f2-1691-4ba0-b8a9-d0a2ffbed175.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/5a2496fb-91ba-45cb-abeb-d6ff5fea5782.html" target="element"> IBR11: The organization must allow its members to work from home </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c815cc21-f1e8-4d75-8a40-219fa2344971.html" target="element">  </a> </td>
																		<td> <a href="../elements/c815cc21-f1e8-4d75-8a40-219fa2344971.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/b1498b1e-42ab-4b16-9064-05aea78f731d.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/c17146d6-1152-49e7-9866-0997b2072f06.html" target="element"> Sustainable Pattern: Key Resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f9a64433-3fcc-4851-b15c-faf1453ab562.html" target="element">  </a> </td>
																		<td> <a href="../elements/f9a64433-3fcc-4851-b15c-faf1453ab562.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/b1498b1e-42ab-4b16-9064-05aea78f731d.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/fb1c9787-cd85-40e2-852c-c53873f4ce5b.html" target="element"> Sustainable Pattern: Key Partners </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a2bb1219-2db1-4627-9501-565baf0270ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/a2bb1219-2db1-4627-9501-565baf0270ad.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/b1498b1e-42ab-4b16-9064-05aea78f731d.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/7030be89-9c14-4ee4-8b33-1fabe1cfc706.html" target="element"> Sustainable Pattern: Value Proposition </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/28733c1a-3dd3-495a-a5fd-fd69b0ab6ea0.html" target="element">  </a> </td>
																		<td> <a href="../elements/28733c1a-3dd3-495a-a5fd-fd69b0ab6ea0.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/b1498b1e-42ab-4b16-9064-05aea78f731d.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/207f8327-62ff-488f-b4a2-868d1691a2fe.html" target="element"> Sustainable Pattern: Customer Relations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2cc2ccc4-ffc6-45b9-b249-f36836bba63f.html" target="element">  </a> </td>
																		<td> <a href="../elements/2cc2ccc4-ffc6-45b9-b249-f36836bba63f.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/b1498b1e-42ab-4b16-9064-05aea78f731d.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/cbe41891-382e-45d1-8429-996100722450.html" target="element"> Sustainable Pattern: Customer Channels </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aa9c2816-e689-49ce-bf43-aa2ef80b23dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/aa9c2816-e689-49ce-bf43-aa2ef80b23dc.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/b1498b1e-42ab-4b16-9064-05aea78f731d.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/ebfc2607-1209-4790-9edb-a43bdf3de750.html" target="element"> Sustainable Pattern: Key Activities - Projects </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/30d6a7b9-e812-43d2-bc13-ecd607d1b92c.html" target="element">  </a> </td>
																		<td> <a href="../elements/30d6a7b9-e812-43d2-bc13-ecd607d1b92c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/94fb0b4b-7d35-4554-9da7-f1d7defb2bb8.html" target="element"> Pattern171: Financials </a> </td>
																		<td> <a href="../elements/e971d9a4-2f9a-4f43-a7a5-008be28f10e6.html" target="element"> IBR1: The organization must be able to manage its financial resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8d73efd0-5504-44ac-af27-aa7388f69860.html" target="element">  </a> </td>
																		<td> <a href="../elements/8d73efd0-5504-44ac-af27-aa7388f69860.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/94fb0b4b-7d35-4554-9da7-f1d7defb2bb8.html" target="element"> Pattern171: Financials </a> </td>
																		<td> <a href="../elements/c9aaf66b-d56b-469a-91e9-3788b761f864.html" target="element"> BR8: The organization must be able to gather payments on services provided </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3bf40780-dbd0-4034-a670-bc5d82c466de.html" target="element">  </a> </td>
																		<td> <a href="../elements/3bf40780-dbd0-4034-a670-bc5d82c466de.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7f30ebd5-f330-45d7-a9ca-bb9336c03174.html" target="element"> Pattern173: ResourcesAreScarce </a> </td>
																		<td> <a href="../elements/cfc9184e-1b24-4245-85cf-04c3ee80a0bd.html" target="element"> IBR2: The organization must be able to manage its Human Resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3067b1eb-c025-4d0e-93af-11531a05ed8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/3067b1eb-c025-4d0e-93af-11531a05ed8b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7f30ebd5-f330-45d7-a9ca-bb9336c03174.html" target="element"> Pattern173: ResourcesAreScarce </a> </td>
																		<td> <a href="../elements/874cc80b-628c-44c4-b3b2-e60ff93f7b2a.html" target="element"> BR9: The organization must be able to employ human labor for its activities </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/99b07c8f-742a-41c3-a421-bde6fea76a68.html" target="element">  </a> </td>
																		<td> <a href="../elements/99b07c8f-742a-41c3-a421-bde6fea76a68.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/acf00d59-ae9b-4e18-8f64-731af7f1bcf8.html" target="element"> Pattern153: WebPortal </a> </td>
																		<td> <a href="../elements/4bae1e24-9f59-4962-a0a8-d1ab4877dd08.html" target="element"> IBR7: The organization must be able to communicate with its customers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b0c15b92-6110-48dd-9ab9-88bc3bb0eca9.html" target="element">  </a> </td>
																		<td> <a href="../elements/b0c15b92-6110-48dd-9ab9-88bc3bb0eca9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/acf00d59-ae9b-4e18-8f64-731af7f1bcf8.html" target="element"> Pattern153: WebPortal </a> </td>
																		<td> <a href="../elements/b4c4699a-3b79-4ae7-a708-eb69bd3471fa.html" target="element"> BR5: The organization must be able to interface with other organizations to provide their goods </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a8e9aba0-0fb2-4f58-8c16-9206719f0da6.html" target="element">  </a> </td>
																		<td> <a href="../elements/a8e9aba0-0fb2-4f58-8c16-9206719f0da6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/f66e5bc0-72c3-4d28-8098-4c779611d36a.html" target="element"> Pattern169: VendingMachine </a> </td>
																		<td> <a href="../elements/bda4c037-e334-41e7-927d-8faf7bbc4260.html" target="element"> IBR6: The organization must be able to sell its service to its customers </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/63484cec-175c-496a-90f0-46653c953693.html" target="element">  </a> </td>
																		<td> <a href="../elements/63484cec-175c-496a-90f0-46653c953693.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/28f1a113-97f8-44da-b034-fa8b9f43c2af.html" target="element"> Pattern141: Personalization </a> </td>
																		<td> <a href="../elements/bda4c037-e334-41e7-927d-8faf7bbc4260.html" target="element"> IBR6: The organization must be able to sell its service to its customers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/511f3f0d-e732-4ddd-ae2d-5f0b9bf9c81a.html" target="element">  </a> </td>
																		<td> <a href="../elements/511f3f0d-e732-4ddd-ae2d-5f0b9bf9c81a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/28f1a113-97f8-44da-b034-fa8b9f43c2af.html" target="element"> Pattern141: Personalization </a> </td>
																		<td> <a href="../elements/e397a498-7ccf-4f83-a92e-31b6873458a8.html" target="element"> IBR5: The organization must be able to market its service to its customers </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f36eeddf-b928-43ff-80b3-0227dc7de175.html" target="element"> Incompletely </a> </td>
																		<td> <a href="../elements/f36eeddf-b928-43ff-80b3-0227dc7de175.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/5053b970-9f27-4b07-b792-9c915d509b99.html" target="element"> Pattern156: KnowledgeBase </a> </td>
																		<td> <a href="../elements/f38c8aaf-ada3-4469-8fb8-c460243eca07.html" target="element"> BR2: The organization must be able to repair and maintain the goods it produces </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/aa582016-333e-43fb-b47d-5e49b9926416.html" target="element">  </a> </td>
																		<td> <a href="../elements/aa582016-333e-43fb-b47d-5e49b9926416.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e4008d1b-2fed-469e-a428-ffc391c9f31f.html" target="element"> Pattern170: KnowYourCustomer </a> </td>
																		<td> <a href="../elements/e397a498-7ccf-4f83-a92e-31b6873458a8.html" target="element"> IBR5: The organization must be able to market its service to its customers </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c544b045-5675-4e9c-bcd4-8cdb23839431.html" target="element">  </a> </td>
																		<td> <a href="../elements/c544b045-5675-4e9c-bcd4-8cdb23839431.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/8855a497-f3e6-40e8-8994-2d90168a6190.html" target="element"> Pattern166: BUSINESS INTELLIGENCE </a> </td>
																		<td> <a href="../elements/81d47314-ad02-4db4-9086-8addd650bfd9.html" target="element"> IBR8: The organization must be able to generate a strategy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e8e861f5-5134-4cea-bf12-5490717e02d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/e8e861f5-5134-4cea-bf12-5490717e02d3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bf890d15-1ff8-4130-9a7e-588af5723d26.html" target="element"> Pattern162: CASE MANAGEMENT </a> </td>
																		<td> <a href="../elements/44b51fb0-5811-4bf4-a062-d2652d3e62ee.html" target="element"> BR4: The organization must be able to interface with customers to provide their goods </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fdadea90-a53d-4884-9034-c5f8a705ea60.html" target="element">  </a> </td>
																		<td> <a href="../elements/fdadea90-a53d-4884-9034-c5f8a705ea60.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bf890d15-1ff8-4130-9a7e-588af5723d26.html" target="element"> Pattern162: CASE MANAGEMENT </a> </td>
																		<td> <a href="../elements/bb2664f3-e5a0-4106-8c3b-f666627d4322.html" target="element"> BR7: The organization must be able to provide its customer with a service based on the goods it manufactures </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5bacfb8d-de46-4813-bc6d-8fd495f124b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/5bacfb8d-de46-4813-bc6d-8fd495f124b3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e7998bb0-5f52-47b6-9007-2f1fd48815ca.html" target="element"> Pattern174: FromSupplierToCustomer </a> </td>
																		<td> <a href="../elements/58b2f504-a3c0-40f2-9cbb-beef023a362c.html" target="element"> BR10: The organization must be able to contract suppliers for the elements of their goods that they won't be manufacturing directly </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d1057e69-cbc7-490a-baa3-8b6da98eb64e.html" target="element">  </a> </td>
																		<td> <a href="../elements/d1057e69-cbc7-490a-baa3-8b6da98eb64e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e0b0ca01-d684-4401-a67d-e1d273ffeba3.html" target="element"> Pattern159: BUSINESS PROCESS MANAGEMENT </a> </td>
																		<td> <a href="../elements/3f4b127e-0a49-4f5a-9c6a-0d871a308ae5.html" target="element"> IBR10: The organization must be able to manage the execution of business processes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1235970d-a593-4543-b159-2ae4b95cb035.html" target="element">  </a> </td>
																		<td> <a href="../elements/1235970d-a593-4543-b159-2ae4b95cb035.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/95282371-b9b3-4f9d-bfd4-059c92dabce5.html" target="element"> Pattern168: WorkTogether </a> </td>
																		<td> <a href="../elements/5a2496fb-91ba-45cb-abeb-d6ff5fea5782.html" target="element"> IBR11: The organization must allow its members to work from home </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>