<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for Analyze Information</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Generated View for Analyze Information</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/ca6001f1-10dd-4173-b517-ee071f30ad08.png" alt="Generated View for Analyze Information" usemap="#ca6001f1-10dd-4173-b517-ee071f30ad08map"/>
			   <map name="ca6001f1-10dd-4173-b517-ee071f30ad08map">
				  		<area shape="rect" coords="156,90,276,145" href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html"  target="element">
				  		<area shape="rect" coords="156,10,276,65" href="../elements/9f9d60cd-e920-4bf7-b6a6-08b49ee79e5b.html"  target="element">
				  				<area shape="rect" coords="502,326,622,381" href="../elements/48dac496-05a3-428f-a7fe-90e7670b0a99.html"  target="element">
				  				<area shape="rect" coords="442,346,457,361" href="../elements/1973dc96-2a07-4c08-a8c5-1b7d2ed2e12d.html"  target="element">
				  				<area shape="rect" coords="182,346,197,361" href="../elements/74799362-dbe2-4192-8c25-e87046ed854e.html"  target="element">
				  				<area shape="rect" coords="278,493,398,548" href="../elements/022c0d2d-4183-45e0-9b18-4516985f85f7.html"  target="element">
				  				<area shape="rect" coords="278,409,398,464" href="../elements/b43da524-3caf-4cc4-af23-f429f45e26db.html"  target="element">
				  				<area shape="rect" coords="279,325,399,380" href="../elements/106db9e3-e195-4cec-a44f-ee2fd0000a61.html"  target="element">
				  				<area shape="rect" coords="279,245,399,300" href="../elements/a92c3207-86c5-46df-bb35-3de30f4b3efd.html"  target="element">
				  				<area shape="rect" coords="46,325,166,380" href="../elements/83ac1169-c794-4307-9059-d8ed5ca48a42.html"  target="element">

				  		<area shape="rect" coords="10,182,647,591" href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html" target="element"> Analyze Information </a> </td>
											    <td> <a href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/83ac1169-c794-4307-9059-d8ed5ca48a42.html" target="element"> Login </a> </td>
													    <td> <a href="../elements/83ac1169-c794-4307-9059-d8ed5ca48a42.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a92c3207-86c5-46df-bb35-3de30f4b3efd.html" target="element"> Plan Campaign </a> </td>
													    <td> <a href="../elements/a92c3207-86c5-46df-bb35-3de30f4b3efd.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/106db9e3-e195-4cec-a44f-ee2fd0000a61.html" target="element"> Send Newsletter </a> </td>
													    <td> <a href="../elements/106db9e3-e195-4cec-a44f-ee2fd0000a61.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b43da524-3caf-4cc4-af23-f429f45e26db.html" target="element"> Plan Survey </a> </td>
													    <td> <a href="../elements/b43da524-3caf-4cc4-af23-f429f45e26db.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/022c0d2d-4183-45e0-9b18-4516985f85f7.html" target="element"> Analyze Customer Data </a> </td>
													    <td> <a href="../elements/022c0d2d-4183-45e0-9b18-4516985f85f7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/74799362-dbe2-4192-8c25-e87046ed854e.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/74799362-dbe2-4192-8c25-e87046ed854e.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1973dc96-2a07-4c08-a8c5-1b7d2ed2e12d.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/1973dc96-2a07-4c08-a8c5-1b7d2ed2e12d.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/48dac496-05a3-428f-a7fe-90e7670b0a99.html" target="element"> Logout </a> </td>
													    <td> <a href="../elements/48dac496-05a3-428f-a7fe-90e7670b0a99.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/9f9d60cd-e920-4bf7-b6a6-08b49ee79e5b.html" target="element"> Marketing </a> </td>
											    <td> <a href="../elements/9f9d60cd-e920-4bf7-b6a6-08b49ee79e5b.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
											    <td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/17c7d501-c8cc-4243-ab9e-32546588c1f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/17c7d501-c8cc-4243-ab9e-32546588c1f3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html" target="element"> Analyze Information </a> </td>
																		<td> <a href="../elements/83ac1169-c794-4307-9059-d8ed5ca48a42.html" target="element"> Login </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4d79e026-a368-4c36-bee6-ada95dbc2fcc.html" target="element">  </a> </td>
																		<td> <a href="../elements/4d79e026-a368-4c36-bee6-ada95dbc2fcc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html" target="element"> Analyze Information </a> </td>
																		<td> <a href="../elements/a92c3207-86c5-46df-bb35-3de30f4b3efd.html" target="element"> Plan Campaign </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/babead24-262e-477d-9c03-cc3be2796e44.html" target="element">  </a> </td>
																		<td> <a href="../elements/babead24-262e-477d-9c03-cc3be2796e44.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html" target="element"> Analyze Information </a> </td>
																		<td> <a href="../elements/106db9e3-e195-4cec-a44f-ee2fd0000a61.html" target="element"> Send Newsletter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/445b07e4-0174-4873-922c-408ffc477508.html" target="element">  </a> </td>
																		<td> <a href="../elements/445b07e4-0174-4873-922c-408ffc477508.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html" target="element"> Analyze Information </a> </td>
																		<td> <a href="../elements/b43da524-3caf-4cc4-af23-f429f45e26db.html" target="element"> Plan Survey </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f24aab68-783b-4fa7-ac5c-43c9255dfd95.html" target="element">  </a> </td>
																		<td> <a href="../elements/f24aab68-783b-4fa7-ac5c-43c9255dfd95.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html" target="element"> Analyze Information </a> </td>
																		<td> <a href="../elements/022c0d2d-4183-45e0-9b18-4516985f85f7.html" target="element"> Analyze Customer Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7471f1a6-c83f-4ac8-9f02-bfae7fca5a6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/7471f1a6-c83f-4ac8-9f02-bfae7fca5a6a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html" target="element"> Analyze Information </a> </td>
																		<td> <a href="../elements/48dac496-05a3-428f-a7fe-90e7670b0a99.html" target="element"> Logout </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/79794948-3978-4140-b7bc-1def284130e0.html" target="element">  </a> </td>
																				<td> <a href="../elements/79794948-3978-4140-b7bc-1def284130e0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/83ac1169-c794-4307-9059-d8ed5ca48a42.html" target="element"> Login </a> </td>
																				<td> <a href="../elements/74799362-dbe2-4192-8c25-e87046ed854e.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/1ebc240f-a295-4c0c-a2c0-65f426f004a2.html" target="element">  </a> </td>
																				<td> <a href="../elements/1ebc240f-a295-4c0c-a2c0-65f426f004a2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/a92c3207-86c5-46df-bb35-3de30f4b3efd.html" target="element"> Plan Campaign </a> </td>
																				<td> <a href="../elements/1973dc96-2a07-4c08-a8c5-1b7d2ed2e12d.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/958ce70e-1498-4c0e-93e3-beefb4bb937f.html" target="element">  </a> </td>
																				<td> <a href="../elements/958ce70e-1498-4c0e-93e3-beefb4bb937f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/106db9e3-e195-4cec-a44f-ee2fd0000a61.html" target="element"> Send Newsletter </a> </td>
																				<td> <a href="../elements/1973dc96-2a07-4c08-a8c5-1b7d2ed2e12d.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/6a29d596-eb12-4d75-a36e-0b4fbb689267.html" target="element">  </a> </td>
																				<td> <a href="../elements/6a29d596-eb12-4d75-a36e-0b4fbb689267.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/b43da524-3caf-4cc4-af23-f429f45e26db.html" target="element"> Plan Survey </a> </td>
																				<td> <a href="../elements/1973dc96-2a07-4c08-a8c5-1b7d2ed2e12d.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/fd1ad2c4-4683-4725-a459-a30c6a55469f.html" target="element">  </a> </td>
																				<td> <a href="../elements/fd1ad2c4-4683-4725-a459-a30c6a55469f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/022c0d2d-4183-45e0-9b18-4516985f85f7.html" target="element"> Analyze Customer Data </a> </td>
																				<td> <a href="../elements/1973dc96-2a07-4c08-a8c5-1b7d2ed2e12d.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/da083d26-30ef-4754-9620-0efce954b9c8.html" target="element">  </a> </td>
																				<td> <a href="../elements/da083d26-30ef-4754-9620-0efce954b9c8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/74799362-dbe2-4192-8c25-e87046ed854e.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/b43da524-3caf-4cc4-af23-f429f45e26db.html" target="element"> Plan Survey </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a3b832c6-4f27-4a4c-b047-24cf0ddaeaef.html" target="element">  </a> </td>
																				<td> <a href="../elements/a3b832c6-4f27-4a4c-b047-24cf0ddaeaef.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/74799362-dbe2-4192-8c25-e87046ed854e.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/a92c3207-86c5-46df-bb35-3de30f4b3efd.html" target="element"> Plan Campaign </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/752a5fd5-3ec7-4de9-afd3-60720936343b.html" target="element">  </a> </td>
																				<td> <a href="../elements/752a5fd5-3ec7-4de9-afd3-60720936343b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/74799362-dbe2-4192-8c25-e87046ed854e.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/022c0d2d-4183-45e0-9b18-4516985f85f7.html" target="element"> Analyze Customer Data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a8814506-aad8-4035-b4e4-1f87ac003408.html" target="element">  </a> </td>
																				<td> <a href="../elements/a8814506-aad8-4035-b4e4-1f87ac003408.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/74799362-dbe2-4192-8c25-e87046ed854e.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/106db9e3-e195-4cec-a44f-ee2fd0000a61.html" target="element"> Send Newsletter </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c84c6eee-7f00-4a98-a1a7-3446ac175059.html" target="element">  </a> </td>
																				<td> <a href="../elements/c84c6eee-7f00-4a98-a1a7-3446ac175059.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/1973dc96-2a07-4c08-a8c5-1b7d2ed2e12d.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/48dac496-05a3-428f-a7fe-90e7670b0a99.html" target="element"> Logout </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/c4ce8ecf-293e-4c3f-94e5-4f7119a2ffbc.html" target="element">  </a> </td>
																		<td> <a href="../elements/c4ce8ecf-293e-4c3f-94e5-4f7119a2ffbc.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/9f9d60cd-e920-4bf7-b6a6-08b49ee79e5b.html" target="element"> Marketing </a> </td>
																		<td> <a href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html" target="element"> Analyze Information </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d6f5cce4-73f2-44c9-a847-dae477d03a53.html" target="element">  </a> </td>
																		<td> <a href="../elements/d6f5cce4-73f2-44c9-a847-dae477d03a53.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
																		<td> <a href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html" target="element"> Analyze Information </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>