<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for Interact with Customer</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Generated View for Interact with Customer</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/d3d9fe02-10ba-4b41-9782-5ad1fbbf6904.png" alt="Generated View for Interact with Customer" usemap="#d3d9fe02-10ba-4b41-9782-5ad1fbbf6904map"/>
			   <map name="d3d9fe02-10ba-4b41-9782-5ad1fbbf6904map">
				  		<area shape="rect" coords="156,90,276,145" href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html"  target="element">
				  		<area shape="rect" coords="156,10,276,65" href="../elements/488f936e-361b-4efa-b7d2-40eda6b4416b.html"  target="element">
				  				<area shape="rect" coords="398,284,413,299" href="../elements/f163934a-4844-4b94-b048-ac27c1c7b7ab.html"  target="element">
				  				<area shape="rect" coords="202,358,217,373" href="../elements/b293d426-dad4-4bdb-9b48-924305578940.html"  target="element">
				  				<area shape="rect" coords="610,338,730,393" href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html"  target="element">
				  				<area shape="rect" coords="455,495,575,550" href="../elements/0e569222-e8d1-4c13-a5d6-78f7f6360dcd.html"  target="element">
				  				<area shape="rect" coords="454,413,574,468" href="../elements/e16fd70f-d854-4dbf-971b-5ff8ed027dae.html"  target="element">
				  				<area shape="rect" coords="455,338,575,393" href="../elements/fbfa20f1-0cd3-4a2d-99dc-009601e6c578.html"  target="element">
				  				<area shape="rect" coords="453,259,573,314" href="../elements/e6e42bb5-5456-48d1-9d85-710f015287a1.html"  target="element">
				  				<area shape="rect" coords="238,495,358,550" href="../elements/4cccf3ad-3777-4d97-844b-09a190939b34.html"  target="element">
				  				<area shape="rect" coords="238,259,358,314" href="../elements/022c0d2d-4183-45e0-9b18-4516985f85f7.html"  target="element">
				  				<area shape="rect" coords="58,338,178,393" href="../elements/008d5a18-2d7d-4e36-9c48-49caeb9839c3.html"  target="element">

				  		<area shape="rect" coords="10,194,790,579" href="../elements/759e5bb8-2b44-40fe-926b-d307c5c0587c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/759e5bb8-2b44-40fe-926b-d307c5c0587c.html" target="element"> Interact with Customer </a> </td>
											    <td> <a href="../elements/759e5bb8-2b44-40fe-926b-d307c5c0587c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/008d5a18-2d7d-4e36-9c48-49caeb9839c3.html" target="element"> Login </a> </td>
													    <td> <a href="../elements/008d5a18-2d7d-4e36-9c48-49caeb9839c3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/022c0d2d-4183-45e0-9b18-4516985f85f7.html" target="element"> Analyze Customer Data </a> </td>
													    <td> <a href="../elements/022c0d2d-4183-45e0-9b18-4516985f85f7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4cccf3ad-3777-4d97-844b-09a190939b34.html" target="element"> Enter Sales Data </a> </td>
													    <td> <a href="../elements/4cccf3ad-3777-4d97-844b-09a190939b34.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e6e42bb5-5456-48d1-9d85-710f015287a1.html" target="element"> Grant Discounts </a> </td>
													    <td> <a href="../elements/e6e42bb5-5456-48d1-9d85-710f015287a1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fbfa20f1-0cd3-4a2d-99dc-009601e6c578.html" target="element"> Contact Customer </a> </td>
													    <td> <a href="../elements/fbfa20f1-0cd3-4a2d-99dc-009601e6c578.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e16fd70f-d854-4dbf-971b-5ff8ed027dae.html" target="element"> Change Selling Schemas </a> </td>
													    <td> <a href="../elements/e16fd70f-d854-4dbf-971b-5ff8ed027dae.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0e569222-e8d1-4c13-a5d6-78f7f6360dcd.html" target="element"> Evaluate Result </a> </td>
													    <td> <a href="../elements/0e569222-e8d1-4c13-a5d6-78f7f6360dcd.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
													    <td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b293d426-dad4-4bdb-9b48-924305578940.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/b293d426-dad4-4bdb-9b48-924305578940.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f163934a-4844-4b94-b048-ac27c1c7b7ab.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/f163934a-4844-4b94-b048-ac27c1c7b7ab.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/488f936e-361b-4efa-b7d2-40eda6b4416b.html" target="element"> Sales </a> </td>
											    <td> <a href="../elements/488f936e-361b-4efa-b7d2-40eda6b4416b.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
											    <td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/78a39c4b-0f4c-4a18-80ef-ddab6b79bf54.html" target="element">  </a> </td>
																		<td> <a href="../elements/78a39c4b-0f4c-4a18-80ef-ddab6b79bf54.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/759e5bb8-2b44-40fe-926b-d307c5c0587c.html" target="element"> Interact with Customer </a> </td>
																		<td> <a href="../elements/008d5a18-2d7d-4e36-9c48-49caeb9839c3.html" target="element"> Login </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cee577b6-69c1-4fa0-86da-19e84cbb77a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/cee577b6-69c1-4fa0-86da-19e84cbb77a5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/759e5bb8-2b44-40fe-926b-d307c5c0587c.html" target="element"> Interact with Customer </a> </td>
																		<td> <a href="../elements/022c0d2d-4183-45e0-9b18-4516985f85f7.html" target="element"> Analyze Customer Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3894acb0-0b44-4a6e-bda8-f81bb7ade5c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/3894acb0-0b44-4a6e-bda8-f81bb7ade5c4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/759e5bb8-2b44-40fe-926b-d307c5c0587c.html" target="element"> Interact with Customer </a> </td>
																		<td> <a href="../elements/4cccf3ad-3777-4d97-844b-09a190939b34.html" target="element"> Enter Sales Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d3c636b8-dc44-402d-ac49-41eac9353060.html" target="element">  </a> </td>
																		<td> <a href="../elements/d3c636b8-dc44-402d-ac49-41eac9353060.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/759e5bb8-2b44-40fe-926b-d307c5c0587c.html" target="element"> Interact with Customer </a> </td>
																		<td> <a href="../elements/e6e42bb5-5456-48d1-9d85-710f015287a1.html" target="element"> Grant Discounts </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/513acfbb-6a90-4b01-8810-67679280fab4.html" target="element">  </a> </td>
																		<td> <a href="../elements/513acfbb-6a90-4b01-8810-67679280fab4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/759e5bb8-2b44-40fe-926b-d307c5c0587c.html" target="element"> Interact with Customer </a> </td>
																		<td> <a href="../elements/fbfa20f1-0cd3-4a2d-99dc-009601e6c578.html" target="element"> Contact Customer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/604a8989-a157-4c11-bf4c-90a97d4baf2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/604a8989-a157-4c11-bf4c-90a97d4baf2a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/759e5bb8-2b44-40fe-926b-d307c5c0587c.html" target="element"> Interact with Customer </a> </td>
																		<td> <a href="../elements/e16fd70f-d854-4dbf-971b-5ff8ed027dae.html" target="element"> Change Selling Schemas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9c5920c2-c251-4ccd-a4ce-bc97c7775d0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/9c5920c2-c251-4ccd-a4ce-bc97c7775d0b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/759e5bb8-2b44-40fe-926b-d307c5c0587c.html" target="element"> Interact with Customer </a> </td>
																		<td> <a href="../elements/0e569222-e8d1-4c13-a5d6-78f7f6360dcd.html" target="element"> Evaluate Result </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a524b143-54bc-4780-bbfc-83b0d50d1809.html" target="element">  </a> </td>
																		<td> <a href="../elements/a524b143-54bc-4780-bbfc-83b0d50d1809.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/759e5bb8-2b44-40fe-926b-d307c5c0587c.html" target="element"> Interact with Customer </a> </td>
																		<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/c9b48c99-ed56-44ea-bd56-fad138bf4f5d.html" target="element">  </a> </td>
																				<td> <a href="../elements/c9b48c99-ed56-44ea-bd56-fad138bf4f5d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/008d5a18-2d7d-4e36-9c48-49caeb9839c3.html" target="element"> Login </a> </td>
																				<td> <a href="../elements/b293d426-dad4-4bdb-9b48-924305578940.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/004f08b9-d68a-4335-8619-0f2d13de9096.html" target="element">  </a> </td>
																				<td> <a href="../elements/004f08b9-d68a-4335-8619-0f2d13de9096.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/022c0d2d-4183-45e0-9b18-4516985f85f7.html" target="element"> Analyze Customer Data </a> </td>
																				<td> <a href="../elements/f163934a-4844-4b94-b048-ac27c1c7b7ab.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/46d68551-5b32-4ab7-8fa8-7386392806f3.html" target="element">  </a> </td>
																				<td> <a href="../elements/46d68551-5b32-4ab7-8fa8-7386392806f3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/4cccf3ad-3777-4d97-844b-09a190939b34.html" target="element"> Enter Sales Data </a> </td>
																				<td> <a href="../elements/0e569222-e8d1-4c13-a5d6-78f7f6360dcd.html" target="element"> Evaluate Result </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9b45a310-658e-4c56-b8c9-f24f2d31f32e.html" target="element">  </a> </td>
																				<td> <a href="../elements/9b45a310-658e-4c56-b8c9-f24f2d31f32e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/e6e42bb5-5456-48d1-9d85-710f015287a1.html" target="element"> Grant Discounts </a> </td>
																				<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/df3563b0-3049-41ee-8078-cffc1eec7096.html" target="element">  </a> </td>
																				<td> <a href="../elements/df3563b0-3049-41ee-8078-cffc1eec7096.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/fbfa20f1-0cd3-4a2d-99dc-009601e6c578.html" target="element"> Contact Customer </a> </td>
																				<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/886bc062-ef07-4a8a-a722-2b7d4eafc041.html" target="element">  </a> </td>
																				<td> <a href="../elements/886bc062-ef07-4a8a-a722-2b7d4eafc041.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/e16fd70f-d854-4dbf-971b-5ff8ed027dae.html" target="element"> Change Selling Schemas </a> </td>
																				<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/747bbdd0-8b71-41eb-9a9a-87248de12dc1.html" target="element">  </a> </td>
																				<td> <a href="../elements/747bbdd0-8b71-41eb-9a9a-87248de12dc1.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/0e569222-e8d1-4c13-a5d6-78f7f6360dcd.html" target="element"> Evaluate Result </a> </td>
																				<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/eb05cad7-79cd-4ce1-bec2-73059d91fa55.html" target="element">  </a> </td>
																				<td> <a href="../elements/eb05cad7-79cd-4ce1-bec2-73059d91fa55.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/b293d426-dad4-4bdb-9b48-924305578940.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/4cccf3ad-3777-4d97-844b-09a190939b34.html" target="element"> Enter Sales Data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d162f40b-ec03-4340-a6e5-e60d46cad698.html" target="element">  </a> </td>
																				<td> <a href="../elements/d162f40b-ec03-4340-a6e5-e60d46cad698.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/b293d426-dad4-4bdb-9b48-924305578940.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/022c0d2d-4183-45e0-9b18-4516985f85f7.html" target="element"> Analyze Customer Data </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/dd029f3d-cf5d-43b5-9056-9adef533300c.html" target="element">  </a> </td>
																				<td> <a href="../elements/dd029f3d-cf5d-43b5-9056-9adef533300c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/f163934a-4844-4b94-b048-ac27c1c7b7ab.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/fbfa20f1-0cd3-4a2d-99dc-009601e6c578.html" target="element"> Contact Customer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d0562963-996f-406b-8c6f-bff90b4541ee.html" target="element">  </a> </td>
																				<td> <a href="../elements/d0562963-996f-406b-8c6f-bff90b4541ee.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/f163934a-4844-4b94-b048-ac27c1c7b7ab.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/e16fd70f-d854-4dbf-971b-5ff8ed027dae.html" target="element"> Change Selling Schemas </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0a8f54c5-6080-4eac-a6db-251d3bc25868.html" target="element">  </a> </td>
																				<td> <a href="../elements/0a8f54c5-6080-4eac-a6db-251d3bc25868.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/f163934a-4844-4b94-b048-ac27c1c7b7ab.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/e6e42bb5-5456-48d1-9d85-710f015287a1.html" target="element"> Grant Discounts </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/6f136fa5-c246-4786-8165-312396857234.html" target="element">  </a> </td>
																		<td> <a href="../elements/6f136fa5-c246-4786-8165-312396857234.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/488f936e-361b-4efa-b7d2-40eda6b4416b.html" target="element"> Sales </a> </td>
																		<td> <a href="../elements/759e5bb8-2b44-40fe-926b-d307c5c0587c.html" target="element"> Interact with Customer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3bd2c6d1-3421-4396-9d5a-91a4bed460b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/3bd2c6d1-3421-4396-9d5a-91a4bed460b6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/cc6168a7-8eac-47b9-a6e6-6ba2309a8287.html" target="element"> Customer Relationship </a> </td>
																		<td> <a href="../elements/759e5bb8-2b44-40fe-926b-d307c5c0587c.html" target="element"> Interact with Customer </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>