<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for Manage Data Warehouse</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Generated View for Manage Data Warehouse</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/d7177f98-ddd7-4640-9816-8b07c1ef69f2.png" alt="Generated View for Manage Data Warehouse" usemap="#d7177f98-ddd7-4640-9816-8b07c1ef69f2map"/>
			   <map name="d7177f98-ddd7-4640-9816-8b07c1ef69f2map">
				  		<area shape="rect" coords="156,90,276,145" href="../elements/8f47a291-f7f0-447c-addd-2d067b84d245.html"  target="element">
				  		<area shape="rect" coords="156,10,276,65" href="../elements/2fad682d-8ca1-45d5-b499-b6038dc2513c.html"  target="element">
				  				<area shape="rect" coords="239,436,359,491" href="../elements/ca8aff5f-de9a-4a03-99fa-ddcd491c98b4.html"  target="element">
				  				<area shape="rect" coords="238,254,358,309" href="../elements/91c68eca-3900-4d4b-9e1b-14755d354c34.html"  target="element">
				  				<area shape="rect" coords="191,343,206,358" href="../elements/7da5e1c8-3803-4542-8101-5df6315ec928.html"  target="element">
				  				<area shape="rect" coords="406,254,526,324" href="../elements/41f58700-9186-4365-8585-3820821f0a30.html"  target="element">
				  				<area shape="rect" coords="563,254,683,309" href="../elements/abb023f3-9ae8-45e0-850f-ab015da973d5.html"  target="element">
				  				<area shape="rect" coords="238,350,358,405" href="../elements/17a2edfb-f6ca-458a-89ce-b06777d139b7.html"  target="element">
				  				<area shape="rect" coords="563,350,683,405" href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html"  target="element">
				  				<area shape="rect" coords="42,323,162,378" href="../elements/01b5d962-95f8-4641-a831-ab5e3e4f7d5a.html"  target="element">

				  		<area shape="rect" coords="10,194,754,506" href="../elements/6d5577e3-0d86-4cfb-b120-75c039ab310a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/6d5577e3-0d86-4cfb-b120-75c039ab310a.html" target="element"> Manage Data Warehouse </a> </td>
											    <td> <a href="../elements/6d5577e3-0d86-4cfb-b120-75c039ab310a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/01b5d962-95f8-4641-a831-ab5e3e4f7d5a.html" target="element"> Login </a> </td>
													    <td> <a href="../elements/01b5d962-95f8-4641-a831-ab5e3e4f7d5a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
													    <td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/17a2edfb-f6ca-458a-89ce-b06777d139b7.html" target="element"> Manage Data Model </a> </td>
													    <td> <a href="../elements/17a2edfb-f6ca-458a-89ce-b06777d139b7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/abb023f3-9ae8-45e0-850f-ab015da973d5.html" target="element"> Apply changes to Data Warehouse </a> </td>
													    <td> <a href="../elements/abb023f3-9ae8-45e0-850f-ab015da973d5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/41f58700-9186-4365-8585-3820821f0a30.html" target="element"> Define Changes to Data Warehouse </a> </td>
													    <td> <a href="../elements/41f58700-9186-4365-8585-3820821f0a30.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7da5e1c8-3803-4542-8101-5df6315ec928.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/7da5e1c8-3803-4542-8101-5df6315ec928.html" target="element" class="i18n-elementtype-Junction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/91c68eca-3900-4d4b-9e1b-14755d354c34.html" target="element"> Define Business Requirements  </a> </td>
													    <td> <a href="../elements/91c68eca-3900-4d4b-9e1b-14755d354c34.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ca8aff5f-de9a-4a03-99fa-ddcd491c98b4.html" target="element"> Administrate Data Warehouse </a> </td>
													    <td> <a href="../elements/ca8aff5f-de9a-4a03-99fa-ddcd491c98b4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/2fad682d-8ca1-45d5-b499-b6038dc2513c.html" target="element"> Data Warehouse Management team </a> </td>
											    <td> <a href="../elements/2fad682d-8ca1-45d5-b499-b6038dc2513c.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8f47a291-f7f0-447c-addd-2d067b84d245.html" target="element"> Business Intelligence </a> </td>
											    <td> <a href="../elements/8f47a291-f7f0-447c-addd-2d067b84d245.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/1848bdfc-30f4-4599-a572-d19d0a192dc0.html" target="element">  </a> </td>
																		<td> <a href="../elements/1848bdfc-30f4-4599-a572-d19d0a192dc0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6d5577e3-0d86-4cfb-b120-75c039ab310a.html" target="element"> Manage Data Warehouse </a> </td>
																		<td> <a href="../elements/01b5d962-95f8-4641-a831-ab5e3e4f7d5a.html" target="element"> Login </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1b86d00f-b457-4938-b043-fbb61f6dd54e.html" target="element">  </a> </td>
																		<td> <a href="../elements/1b86d00f-b457-4938-b043-fbb61f6dd54e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6d5577e3-0d86-4cfb-b120-75c039ab310a.html" target="element"> Manage Data Warehouse </a> </td>
																		<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/70389739-8a58-4b45-af33-6052534b1cff.html" target="element">  </a> </td>
																		<td> <a href="../elements/70389739-8a58-4b45-af33-6052534b1cff.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6d5577e3-0d86-4cfb-b120-75c039ab310a.html" target="element"> Manage Data Warehouse </a> </td>
																		<td> <a href="../elements/17a2edfb-f6ca-458a-89ce-b06777d139b7.html" target="element"> Manage Data Model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0b8c6a14-b24e-4d54-a2be-2386051b76ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/0b8c6a14-b24e-4d54-a2be-2386051b76ee.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6d5577e3-0d86-4cfb-b120-75c039ab310a.html" target="element"> Manage Data Warehouse </a> </td>
																		<td> <a href="../elements/abb023f3-9ae8-45e0-850f-ab015da973d5.html" target="element"> Apply changes to Data Warehouse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cd338fa5-0a45-40b4-b022-550f2089ff8a.html" target="element">  </a> </td>
																		<td> <a href="../elements/cd338fa5-0a45-40b4-b022-550f2089ff8a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6d5577e3-0d86-4cfb-b120-75c039ab310a.html" target="element"> Manage Data Warehouse </a> </td>
																		<td> <a href="../elements/41f58700-9186-4365-8585-3820821f0a30.html" target="element"> Define Changes to Data Warehouse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cc16bc6a-e82b-47df-bbb1-3e4ffa1c6bc2.html" target="element">  </a> </td>
																		<td> <a href="../elements/cc16bc6a-e82b-47df-bbb1-3e4ffa1c6bc2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6d5577e3-0d86-4cfb-b120-75c039ab310a.html" target="element"> Manage Data Warehouse </a> </td>
																		<td> <a href="../elements/91c68eca-3900-4d4b-9e1b-14755d354c34.html" target="element"> Define Business Requirements  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bfae4f21-fa0d-45fa-b5fa-be6cb464ab25.html" target="element">  </a> </td>
																		<td> <a href="../elements/bfae4f21-fa0d-45fa-b5fa-be6cb464ab25.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6d5577e3-0d86-4cfb-b120-75c039ab310a.html" target="element"> Manage Data Warehouse </a> </td>
																		<td> <a href="../elements/ca8aff5f-de9a-4a03-99fa-ddcd491c98b4.html" target="element"> Administrate Data Warehouse </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/0688cdd7-8d68-4e44-a5c9-5f82bb04f64c.html" target="element">  </a> </td>
																				<td> <a href="../elements/0688cdd7-8d68-4e44-a5c9-5f82bb04f64c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/01b5d962-95f8-4641-a831-ab5e3e4f7d5a.html" target="element"> Login </a> </td>
																				<td> <a href="../elements/7da5e1c8-3803-4542-8101-5df6315ec928.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/3134ac32-d53f-4b6f-8c5d-8cef472dbf93.html" target="element">  </a> </td>
																				<td> <a href="../elements/3134ac32-d53f-4b6f-8c5d-8cef472dbf93.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/17a2edfb-f6ca-458a-89ce-b06777d139b7.html" target="element"> Manage Data Model </a> </td>
																				<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/bfd9d442-e295-4cfc-b213-7b0e1f6e3a8b.html" target="element">  </a> </td>
																				<td> <a href="../elements/bfd9d442-e295-4cfc-b213-7b0e1f6e3a8b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/abb023f3-9ae8-45e0-850f-ab015da973d5.html" target="element"> Apply changes to Data Warehouse </a> </td>
																				<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/06132b91-1493-43f1-9795-2d32378afaaf.html" target="element">  </a> </td>
																				<td> <a href="../elements/06132b91-1493-43f1-9795-2d32378afaaf.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/41f58700-9186-4365-8585-3820821f0a30.html" target="element"> Define Changes to Data Warehouse </a> </td>
																				<td> <a href="../elements/abb023f3-9ae8-45e0-850f-ab015da973d5.html" target="element"> Apply changes to Data Warehouse </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f8c03884-f0f2-4f87-9a91-cbb139bfe8eb.html" target="element">  </a> </td>
																				<td> <a href="../elements/f8c03884-f0f2-4f87-9a91-cbb139bfe8eb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/7da5e1c8-3803-4542-8101-5df6315ec928.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/17a2edfb-f6ca-458a-89ce-b06777d139b7.html" target="element"> Manage Data Model </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/80f609b1-0ecf-4755-ba02-d9a408931daa.html" target="element">  </a> </td>
																				<td> <a href="../elements/80f609b1-0ecf-4755-ba02-d9a408931daa.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/7da5e1c8-3803-4542-8101-5df6315ec928.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/91c68eca-3900-4d4b-9e1b-14755d354c34.html" target="element"> Define Business Requirements  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c39d3224-9442-474d-931e-b8dd34c97654.html" target="element">  </a> </td>
																				<td> <a href="../elements/c39d3224-9442-474d-931e-b8dd34c97654.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/7da5e1c8-3803-4542-8101-5df6315ec928.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/ca8aff5f-de9a-4a03-99fa-ddcd491c98b4.html" target="element"> Administrate Data Warehouse </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/fe2ded2c-d5be-47b6-8724-2e4b6fdd467b.html" target="element">  </a> </td>
																				<td> <a href="../elements/fe2ded2c-d5be-47b6-8724-2e4b6fdd467b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/91c68eca-3900-4d4b-9e1b-14755d354c34.html" target="element"> Define Business Requirements  </a> </td>
																				<td> <a href="../elements/41f58700-9186-4365-8585-3820821f0a30.html" target="element"> Define Changes to Data Warehouse </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/1d6fb650-7af4-413b-a29c-46b90a23e7f6.html" target="element">  </a> </td>
																				<td> <a href="../elements/1d6fb650-7af4-413b-a29c-46b90a23e7f6.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/ca8aff5f-de9a-4a03-99fa-ddcd491c98b4.html" target="element"> Administrate Data Warehouse </a> </td>
																				<td> <a href="../elements/a35989d2-bbf9-4c0c-8ace-2b8c7532b67b.html" target="element"> Logout </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/e6a5a45a-0621-4fd0-ad80-dcb92fb38bc5.html" target="element">  </a> </td>
																		<td> <a href="../elements/e6a5a45a-0621-4fd0-ad80-dcb92fb38bc5.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/2fad682d-8ca1-45d5-b499-b6038dc2513c.html" target="element"> Data Warehouse Management team </a> </td>
																		<td> <a href="../elements/6d5577e3-0d86-4cfb-b120-75c039ab310a.html" target="element"> Manage Data Warehouse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c79d42f6-bf39-486a-af37-5a89e89c0adb.html" target="element">  </a> </td>
																		<td> <a href="../elements/c79d42f6-bf39-486a-af37-5a89e89c0adb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/8f47a291-f7f0-447c-addd-2d067b84d245.html" target="element"> Business Intelligence </a> </td>
																		<td> <a href="../elements/6d5577e3-0d86-4cfb-b120-75c039ab310a.html" target="element"> Manage Data Warehouse </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>