<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>BPM Application View</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>BPM Application View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/dbb3b89f-8ad9-4530-be76-35ef9d11468e.png" alt="BPM Application View" usemap="#dbb3b89f-8ad9-4530-be76-35ef9d11468emap"/>
			   <map name="dbb3b89f-8ad9-4530-be76-35ef9d11468emap">
				  		<area shape="rect" coords="766,149,886,204" href="../elements/cbfff7e2-1f19-46b4-b2e2-07f0c2daebe2.html"  target="element">
				  		<area shape="rect" coords="754,286,874,341" href="../elements/984daea4-afbf-490f-aa1f-93d0c51911c1.html"  target="element">
				  		<area shape="rect" coords="754,10,874,65" href="../elements/2f5443a7-9d53-4c50-8e64-20b47fd777ee.html"  target="element">
				  		<area shape="rect" coords="547,338,667,393" href="../elements/68a9d54e-8bcc-4b6c-ae04-3b0e9ea18fd0.html"  target="element">
				  				<area shape="rect" coords="58,130,178,185" href="../elements/602d7968-fa06-44df-a97b-65719df6aa77.html"  target="element">
				  				<area shape="rect" coords="286,130,419,197" href="../elements/43bfdc3b-8633-4a79-ba93-5df20e56e93f.html"  target="element">
				  				<area shape="rect" coords="514,130,647,185" href="../elements/2e5dba32-fa90-4331-a6f1-cc9f1d9fb054.html"  target="element">

				  		<area shape="rect" coords="10,82,695,281" href="../elements/15c8d434-ac81-4f42-afe5-5d86bc543fcc.html"  target="element">
				  		<area shape="rect" coords="310,346,430,401" href="../elements/4ded499c-b23b-40e0-a144-0ba27ec95f81.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/4ded499c-b23b-40e0-a144-0ba27ec95f81.html" target="element"> BPM SaaS terms of service </a> </td>
											    <td> <a href="../elements/4ded499c-b23b-40e0-a144-0ba27ec95f81.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/15c8d434-ac81-4f42-afe5-5d86bc543fcc.html" target="element"> BPM SaaS Offering </a> </td>
											    <td> <a href="../elements/15c8d434-ac81-4f42-afe5-5d86bc543fcc.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/2e5dba32-fa90-4331-a6f1-cc9f1d9fb054.html" target="element"> Process Administration </a> </td>
													    <td> <a href="../elements/2e5dba32-fa90-4331-a6f1-cc9f1d9fb054.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/43bfdc3b-8633-4a79-ba93-5df20e56e93f.html" target="element"> Execute Defined Activity in Process </a> </td>
													    <td> <a href="../elements/43bfdc3b-8633-4a79-ba93-5df20e56e93f.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/602d7968-fa06-44df-a97b-65719df6aa77.html" target="element"> Process Definition </a> </td>
													    <td> <a href="../elements/602d7968-fa06-44df-a97b-65719df6aa77.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/68a9d54e-8bcc-4b6c-ae04-3b0e9ea18fd0.html" target="element"> BPM SaaS Provider </a> </td>
											    <td> <a href="../elements/68a9d54e-8bcc-4b6c-ae04-3b0e9ea18fd0.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2f5443a7-9d53-4c50-8e64-20b47fd777ee.html" target="element"> Flexible automation </a> </td>
											    <td> <a href="../elements/2f5443a7-9d53-4c50-8e64-20b47fd777ee.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/984daea4-afbf-490f-aa1f-93d0c51911c1.html" target="element"> Incorporate redesign of process </a> </td>
											    <td> <a href="../elements/984daea4-afbf-490f-aa1f-93d0c51911c1.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cbfff7e2-1f19-46b4-b2e2-07f0c2daebe2.html" target="element"> Eliminate paperwork </a> </td>
											    <td> <a href="../elements/cbfff7e2-1f19-46b4-b2e2-07f0c2daebe2.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/49aa7379-4724-4e3f-bd41-32a551a1e701.html" target="element">  </a> </td>
																		<td> <a href="../elements/49aa7379-4724-4e3f-bd41-32a551a1e701.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/15c8d434-ac81-4f42-afe5-5d86bc543fcc.html" target="element"> BPM SaaS Offering </a> </td>
																		<td> <a href="../elements/2e5dba32-fa90-4331-a6f1-cc9f1d9fb054.html" target="element"> Process Administration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e8889c47-d5be-4e65-8814-d462f115c11b.html" target="element">  </a> </td>
																		<td> <a href="../elements/e8889c47-d5be-4e65-8814-d462f115c11b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/15c8d434-ac81-4f42-afe5-5d86bc543fcc.html" target="element"> BPM SaaS Offering </a> </td>
																		<td> <a href="../elements/43bfdc3b-8633-4a79-ba93-5df20e56e93f.html" target="element"> Execute Defined Activity in Process </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dc66449a-efed-4e35-aa14-4b90f0cb08b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/dc66449a-efed-4e35-aa14-4b90f0cb08b6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/15c8d434-ac81-4f42-afe5-5d86bc543fcc.html" target="element"> BPM SaaS Offering </a> </td>
																		<td> <a href="../elements/602d7968-fa06-44df-a97b-65719df6aa77.html" target="element"> Process Definition </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/88806d6d-e92e-4eac-bdb9-2ccfb285420b.html" target="element">  </a> </td>
																		<td> <a href="../elements/88806d6d-e92e-4eac-bdb9-2ccfb285420b.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/15c8d434-ac81-4f42-afe5-5d86bc543fcc.html" target="element"> BPM SaaS Offering </a> </td>
																		<td> <a href="../elements/4ded499c-b23b-40e0-a144-0ba27ec95f81.html" target="element"> BPM SaaS terms of service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dbe43077-8cbc-4f4f-9fb7-5755f2c816cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/dbe43077-8cbc-4f4f-9fb7-5755f2c816cb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/15c8d434-ac81-4f42-afe5-5d86bc543fcc.html" target="element"> BPM SaaS Offering </a> </td>
																		<td> <a href="../elements/2f5443a7-9d53-4c50-8e64-20b47fd777ee.html" target="element"> Flexible automation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c8ceeeef-6eff-4027-8c4d-930ec8ad72d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/c8ceeeef-6eff-4027-8c4d-930ec8ad72d5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/15c8d434-ac81-4f42-afe5-5d86bc543fcc.html" target="element"> BPM SaaS Offering </a> </td>
																		<td> <a href="../elements/cbfff7e2-1f19-46b4-b2e2-07f0c2daebe2.html" target="element"> Eliminate paperwork </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d68ee4db-8297-4349-a00a-f7f153ba11f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/d68ee4db-8297-4349-a00a-f7f153ba11f9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/15c8d434-ac81-4f42-afe5-5d86bc543fcc.html" target="element"> BPM SaaS Offering </a> </td>
																		<td> <a href="../elements/984daea4-afbf-490f-aa1f-93d0c51911c1.html" target="element"> Incorporate redesign of process </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/02181e3e-85ba-4202-8329-d537633d733e.html" target="element">  </a> </td>
																		<td> <a href="../elements/02181e3e-85ba-4202-8329-d537633d733e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/68a9d54e-8bcc-4b6c-ae04-3b0e9ea18fd0.html" target="element"> BPM SaaS Provider </a> </td>
																		<td> <a href="../elements/4ded499c-b23b-40e0-a144-0ba27ec95f81.html" target="element"> BPM SaaS terms of service </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>