<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Business Intelligence Application View</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Business Intelligence Application View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/dcefeae2-9ade-4d82-ad6b-3217c56adb2b.png" alt="Business Intelligence Application View" usemap="#dcefeae2-9ade-4d82-ad6b-3217c56adb2bmap"/>
			   <map name="dcefeae2-9ade-4d82-ad6b-3217c56adb2bmap">
				  		<area shape="rect" coords="874,82,994,137" href="../elements/46f13c60-a4ab-487c-a988-4fa8efd2bf8a.html"  target="element">
				  		<area shape="rect" coords="873,178,993,233" href="../elements/6d5577e3-0d86-4cfb-b120-75c039ab310a.html"  target="element">
				  		<area shape="rect" coords="10,190,130,245" href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html"  target="element">
				  		<area shape="rect" coords="718,526,838,581" href="../elements/0b87df8a-f0bc-4bf3-88ee-139de8d5f799.html"  target="element">
				  		<area shape="rect" coords="444,528,564,583" href="../elements/83daafb8-22b2-467c-884b-eb3845289574.html"  target="element">
				  				<area shape="rect" coords="278,183,398,238" href="../elements/f101f708-5320-4e13-ab93-d59ec8c54c65.html"  target="element">
				  				<area shape="rect" coords="278,274,398,329" href="../elements/7ea535db-b8af-492c-8f66-0265b1bbd428.html"  target="element">
				  				<area shape="rect" coords="278,84,398,139" href="../elements/8318e9e0-6cac-4ad5-a2d1-0e461816fb4f.html"  target="element">
				  				<area shape="rect" coords="552,180,681,235" href="../elements/3d969c90-d6af-4791-b189-27fd244c9dab.html"  target="element">
				  				<area shape="rect" coords="538,84,671,139" href="../elements/13f3f634-a93f-4b98-8a69-98fb7f62a69d.html"  target="element">

				  		<area shape="rect" coords="166,10,826,383" href="../elements/0e61f802-af6c-43bb-a9db-4b95705974e6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/0e61f802-af6c-43bb-a9db-4b95705974e6.html" target="element"> BI SaaS Offering </a> </td>
											    <td> <a href="../elements/0e61f802-af6c-43bb-a9db-4b95705974e6.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/13f3f634-a93f-4b98-8a69-98fb7f62a69d.html" target="element"> ETL Administration </a> </td>
													    <td> <a href="../elements/13f3f634-a93f-4b98-8a69-98fb7f62a69d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3d969c90-d6af-4791-b189-27fd244c9dab.html" target="element"> Datawarehouse Administration  </a> </td>
													    <td> <a href="../elements/3d969c90-d6af-4791-b189-27fd244c9dab.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8318e9e0-6cac-4ad5-a2d1-0e461816fb4f.html" target="element"> Visualize Data </a> </td>
													    <td> <a href="../elements/8318e9e0-6cac-4ad5-a2d1-0e461816fb4f.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7ea535db-b8af-492c-8f66-0265b1bbd428.html" target="element"> Manage Dashboards </a> </td>
													    <td> <a href="../elements/7ea535db-b8af-492c-8f66-0265b1bbd428.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f101f708-5320-4e13-ab93-d59ec8c54c65.html" target="element"> Manage adhoc reports </a> </td>
													    <td> <a href="../elements/f101f708-5320-4e13-ab93-d59ec8c54c65.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/83daafb8-22b2-467c-884b-eb3845289574.html" target="element"> BI SaaS terms of Service </a> </td>
											    <td> <a href="../elements/83daafb8-22b2-467c-884b-eb3845289574.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0b87df8a-f0bc-4bf3-88ee-139de8d5f799.html" target="element"> BI Service  Provider </a> </td>
											    <td> <a href="../elements/0b87df8a-f0bc-4bf3-88ee-139de8d5f799.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html" target="element"> Analyze Information </a> </td>
											    <td> <a href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6d5577e3-0d86-4cfb-b120-75c039ab310a.html" target="element"> Manage Data Warehouse </a> </td>
											    <td> <a href="../elements/6d5577e3-0d86-4cfb-b120-75c039ab310a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/46f13c60-a4ab-487c-a988-4fa8efd2bf8a.html" target="element"> Manage ETL system </a> </td>
											    <td> <a href="../elements/46f13c60-a4ab-487c-a988-4fa8efd2bf8a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/a1cadded-7b2e-4aae-b782-fb908656044b.html" target="element">  </a> </td>
																		<td> <a href="../elements/a1cadded-7b2e-4aae-b782-fb908656044b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0e61f802-af6c-43bb-a9db-4b95705974e6.html" target="element"> BI SaaS Offering </a> </td>
																		<td> <a href="../elements/13f3f634-a93f-4b98-8a69-98fb7f62a69d.html" target="element"> ETL Administration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/15f10667-66ff-43e6-88ba-f053316ca0e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/15f10667-66ff-43e6-88ba-f053316ca0e6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0e61f802-af6c-43bb-a9db-4b95705974e6.html" target="element"> BI SaaS Offering </a> </td>
																		<td> <a href="../elements/3d969c90-d6af-4791-b189-27fd244c9dab.html" target="element"> Datawarehouse Administration  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c3b352d7-a16d-4b30-965b-ecdc382dc0c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/c3b352d7-a16d-4b30-965b-ecdc382dc0c2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0e61f802-af6c-43bb-a9db-4b95705974e6.html" target="element"> BI SaaS Offering </a> </td>
																		<td> <a href="../elements/8318e9e0-6cac-4ad5-a2d1-0e461816fb4f.html" target="element"> Visualize Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/81c693d9-597c-49db-8540-5e0ef9b01acf.html" target="element">  </a> </td>
																		<td> <a href="../elements/81c693d9-597c-49db-8540-5e0ef9b01acf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0e61f802-af6c-43bb-a9db-4b95705974e6.html" target="element"> BI SaaS Offering </a> </td>
																		<td> <a href="../elements/7ea535db-b8af-492c-8f66-0265b1bbd428.html" target="element"> Manage Dashboards </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f4dc3899-ef10-4a4d-9326-a681c53175ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/f4dc3899-ef10-4a4d-9326-a681c53175ae.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0e61f802-af6c-43bb-a9db-4b95705974e6.html" target="element"> BI SaaS Offering </a> </td>
																		<td> <a href="../elements/f101f708-5320-4e13-ab93-d59ec8c54c65.html" target="element"> Manage adhoc reports </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dc2bc3d8-df95-4bdd-8b87-eb32da9c739f.html" target="element">  </a> </td>
																		<td> <a href="../elements/dc2bc3d8-df95-4bdd-8b87-eb32da9c739f.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/0e61f802-af6c-43bb-a9db-4b95705974e6.html" target="element"> BI SaaS Offering </a> </td>
																		<td> <a href="../elements/83daafb8-22b2-467c-884b-eb3845289574.html" target="element"> BI SaaS terms of Service </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/5e0faa79-9071-4c67-a045-e159b401e6f1.html" target="element">  </a> </td>
																				<td> <a href="../elements/5e0faa79-9071-4c67-a045-e159b401e6f1.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/13f3f634-a93f-4b98-8a69-98fb7f62a69d.html" target="element"> ETL Administration </a> </td>
																				<td> <a href="../elements/46f13c60-a4ab-487c-a988-4fa8efd2bf8a.html" target="element"> Manage ETL system </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f13228e5-8330-49ed-9ae4-0113a6b817bc.html" target="element">  </a> </td>
																				<td> <a href="../elements/f13228e5-8330-49ed-9ae4-0113a6b817bc.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/3d969c90-d6af-4791-b189-27fd244c9dab.html" target="element"> Datawarehouse Administration  </a> </td>
																				<td> <a href="../elements/6d5577e3-0d86-4cfb-b120-75c039ab310a.html" target="element"> Manage Data Warehouse </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9be842b3-3c4d-4608-a5c6-ccaf1164e103.html" target="element">  </a> </td>
																				<td> <a href="../elements/9be842b3-3c4d-4608-a5c6-ccaf1164e103.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/8318e9e0-6cac-4ad5-a2d1-0e461816fb4f.html" target="element"> Visualize Data </a> </td>
																				<td> <a href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html" target="element"> Analyze Information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/1e9f00f3-3904-4abc-a9a0-294af109d719.html" target="element">  </a> </td>
																				<td> <a href="../elements/1e9f00f3-3904-4abc-a9a0-294af109d719.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/7ea535db-b8af-492c-8f66-0265b1bbd428.html" target="element"> Manage Dashboards </a> </td>
																				<td> <a href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html" target="element"> Analyze Information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2fa37121-c045-472d-afea-8b5d5a2512ac.html" target="element">  </a> </td>
																				<td> <a href="../elements/2fa37121-c045-472d-afea-8b5d5a2512ac.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/f101f708-5320-4e13-ab93-d59ec8c54c65.html" target="element"> Manage adhoc reports </a> </td>
																				<td> <a href="../elements/72ac3731-f40f-45fd-8f00-0cba0dcb0a9e.html" target="element"> Analyze Information </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/5e245049-4198-4783-9adc-490f10904fdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/5e245049-4198-4783-9adc-490f10904fdf.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/0b87df8a-f0bc-4bf3-88ee-139de8d5f799.html" target="element"> BI Service  Provider </a> </td>
																		<td> <a href="../elements/83daafb8-22b2-467c-884b-eb3845289574.html" target="element"> BI SaaS terms of Service </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>