<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Business Vision req only</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Business Vision req only</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/e5bd3d12-f3a2-4ab1-84bd-06db60b91825.png" alt="Business Vision req only" usemap="#e5bd3d12-f3a2-4ab1-84bd-06db60b91825map"/>
			   <map name="e5bd3d12-f3a2-4ab1-84bd-06db60b91825map">
				  		<area shape="rect" coords="664,454,845,509" href="../elements/5a2496fb-91ba-45cb-abeb-d6ff5fea5782.html"  target="element">
				  		<area shape="rect" coords="664,370,845,442" href="../elements/3f4b127e-0a49-4f5a-9c6a-0d871a308ae5.html"  target="element">
				  		<area shape="rect" coords="664,310,845,365" href="../elements/445efc64-b17b-44ee-ad1f-54754e1f663c.html"  target="element">
				  		<area shape="rect" coords="664,250,845,305" href="../elements/81d47314-ad02-4db4-9086-8addd650bfd9.html"  target="element">
				  		<area shape="rect" coords="664,190,845,245" href="../elements/4bae1e24-9f59-4962-a0a8-d1ab4877dd08.html"  target="element">
				  		<area shape="rect" coords="664,130,845,185" href="../elements/bda4c037-e334-41e7-927d-8faf7bbc4260.html"  target="element">
				  		<area shape="rect" coords="460,436,641,491" href="../elements/e397a498-7ccf-4f83-a92e-31b6873458a8.html"  target="element">
				  		<area shape="rect" coords="460,369,641,424" href="../elements/2f8b184f-9dc6-4173-8f93-a0d590bf36e0.html"  target="element">
				  		<area shape="rect" coords="460,262,641,358" href="../elements/4d46045d-e953-486d-84e4-758c03739451.html"  target="element">
				  		<area shape="rect" coords="460,196,641,251" href="../elements/cfc9184e-1b24-4245-85cf-04c3ee80a0bd.html"  target="element">
				  		<area shape="rect" coords="460,130,641,185" href="../elements/e971d9a4-2f9a-4f43-a7a5-008be28f10e6.html"  target="element">
				  		<area shape="rect" coords="556,22,737,95" href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html"  target="element">
				  		<area shape="rect" coords="214,454,395,526" href="../elements/26dc7891-a573-4cf5-834b-64f04fd18b8e.html"  target="element">
				  		<area shape="rect" coords="214,370,395,442" href="../elements/58b2f504-a3c0-40f2-9cbb-beef023a362c.html"  target="element">
				  		<area shape="rect" coords="214,286,395,358" href="../elements/874cc80b-628c-44c4-b3b2-e60ff93f7b2a.html"  target="element">
				  		<area shape="rect" coords="214,202,395,274" href="../elements/c9aaf66b-d56b-469a-91e9-3788b761f864.html"  target="element">
				  		<area shape="rect" coords="214,118,395,191" href="../elements/bb2664f3-e5a0-4106-8c3b-f666627d4322.html"  target="element">
				  		<area shape="rect" coords="10,478,191,551" href="../elements/f5f5136d-5de3-4181-857c-e70b6419e3e0.html"  target="element">
				  		<area shape="rect" coords="10,394,191,467" href="../elements/b4c4699a-3b79-4ae7-a708-eb69bd3471fa.html"  target="element">
				  		<area shape="rect" coords="10,322,191,377" href="../elements/44b51fb0-5811-4bf4-a062-d2652d3e62ee.html"  target="element">
				  		<area shape="rect" coords="10,250,191,305" href="../elements/fec0b43c-45ad-404e-bc39-530972440394.html"  target="element">
				  		<area shape="rect" coords="10,184,191,239" href="../elements/f38c8aaf-ada3-4469-8fb8-c460243eca07.html"  target="element">
				  		<area shape="rect" coords="106,10,287,83" href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html"  target="element">
				  		<area shape="rect" coords="10,118,191,173" href="../elements/bc387014-1715-45ab-ab92-4233a6c341d0.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/bc387014-1715-45ab-ab92-4233a6c341d0.html" target="element"> BR1: The organization must be able to manufacture a good </a> </td>
											    <td> <a href="../elements/bc387014-1715-45ab-ab92-4233a6c341d0.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
											    <td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f38c8aaf-ada3-4469-8fb8-c460243eca07.html" target="element"> BR2: The organization must be able to repair and maintain the goods it produces </a> </td>
											    <td> <a href="../elements/f38c8aaf-ada3-4469-8fb8-c460243eca07.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fec0b43c-45ad-404e-bc39-530972440394.html" target="element"> BR3: The organization must be able to monitor its goods </a> </td>
											    <td> <a href="../elements/fec0b43c-45ad-404e-bc39-530972440394.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/44b51fb0-5811-4bf4-a062-d2652d3e62ee.html" target="element"> BR4: The organization must be able to interface with customers to provide their goods </a> </td>
											    <td> <a href="../elements/44b51fb0-5811-4bf4-a062-d2652d3e62ee.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b4c4699a-3b79-4ae7-a708-eb69bd3471fa.html" target="element"> BR5: The organization must be able to interface with other organizations to provide their goods </a> </td>
											    <td> <a href="../elements/b4c4699a-3b79-4ae7-a708-eb69bd3471fa.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f5f5136d-5de3-4181-857c-e70b6419e3e0.html" target="element"> BR6: The organization must be able to provide its customers with a repair or maintenance service </a> </td>
											    <td> <a href="../elements/f5f5136d-5de3-4181-857c-e70b6419e3e0.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bb2664f3-e5a0-4106-8c3b-f666627d4322.html" target="element"> BR7: The organization must be able to provide its customer with a service based on the goods it manufactures </a> </td>
											    <td> <a href="../elements/bb2664f3-e5a0-4106-8c3b-f666627d4322.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c9aaf66b-d56b-469a-91e9-3788b761f864.html" target="element"> BR8: The organization must be able to gather payments on services provided </a> </td>
											    <td> <a href="../elements/c9aaf66b-d56b-469a-91e9-3788b761f864.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/874cc80b-628c-44c4-b3b2-e60ff93f7b2a.html" target="element"> BR9: The organization must be able to employ human labor for its activities </a> </td>
											    <td> <a href="../elements/874cc80b-628c-44c4-b3b2-e60ff93f7b2a.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/58b2f504-a3c0-40f2-9cbb-beef023a362c.html" target="element"> BR10: The organization must be able to contract suppliers for the elements of their goods that they won't be manufacturing directly </a> </td>
											    <td> <a href="../elements/58b2f504-a3c0-40f2-9cbb-beef023a362c.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/26dc7891-a573-4cf5-834b-64f04fd18b8e.html" target="element"> BR11: The organization must be able to contract services from outside firms if needed </a> </td>
											    <td> <a href="../elements/26dc7891-a573-4cf5-834b-64f04fd18b8e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
											    <td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e971d9a4-2f9a-4f43-a7a5-008be28f10e6.html" target="element"> IBR1: The organization must be able to manage its financial resources </a> </td>
											    <td> <a href="../elements/e971d9a4-2f9a-4f43-a7a5-008be28f10e6.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cfc9184e-1b24-4245-85cf-04c3ee80a0bd.html" target="element"> IBR2: The organization must be able to manage its Human Resources </a> </td>
											    <td> <a href="../elements/cfc9184e-1b24-4245-85cf-04c3ee80a0bd.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4d46045d-e953-486d-84e4-758c03739451.html" target="element"> IBR3: The organization must be able to manage its infrastructure, technological, office space, manufacturing space, among others </a> </td>
											    <td> <a href="../elements/4d46045d-e953-486d-84e4-758c03739451.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2f8b184f-9dc6-4173-8f93-a0d590bf36e0.html" target="element"> IBR4: The organization must be able to manage its material resources </a> </td>
											    <td> <a href="../elements/2f8b184f-9dc6-4173-8f93-a0d590bf36e0.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e397a498-7ccf-4f83-a92e-31b6873458a8.html" target="element"> IBR5: The organization must be able to market its service to its customers </a> </td>
											    <td> <a href="../elements/e397a498-7ccf-4f83-a92e-31b6873458a8.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bda4c037-e334-41e7-927d-8faf7bbc4260.html" target="element"> IBR6: The organization must be able to sell its service to its customers </a> </td>
											    <td> <a href="../elements/bda4c037-e334-41e7-927d-8faf7bbc4260.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4bae1e24-9f59-4962-a0a8-d1ab4877dd08.html" target="element"> IBR7: The organization must be able to communicate with its customers </a> </td>
											    <td> <a href="../elements/4bae1e24-9f59-4962-a0a8-d1ab4877dd08.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/81d47314-ad02-4db4-9086-8addd650bfd9.html" target="element"> IBR8: The organization must be able to generate a strategy </a> </td>
											    <td> <a href="../elements/81d47314-ad02-4db4-9086-8addd650bfd9.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/445efc64-b17b-44ee-ad1f-54754e1f663c.html" target="element"> IBR9: The organization must be able to design new products </a> </td>
											    <td> <a href="../elements/445efc64-b17b-44ee-ad1f-54754e1f663c.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3f4b127e-0a49-4f5a-9c6a-0d871a308ae5.html" target="element"> IBR10: The organization must be able to manage the execution of business processes </a> </td>
											    <td> <a href="../elements/3f4b127e-0a49-4f5a-9c6a-0d871a308ae5.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5a2496fb-91ba-45cb-abeb-d6ff5fea5782.html" target="element"> IBR11: The organization must allow its members to work from home </a> </td>
											    <td> <a href="../elements/5a2496fb-91ba-45cb-abeb-d6ff5fea5782.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/805ff011-396b-428f-abca-0c8e60033dcd.html" target="element">  </a> </td>
																		<td> <a href="../elements/805ff011-396b-428f-abca-0c8e60033dcd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/bc387014-1715-45ab-ab92-4233a6c341d0.html" target="element"> BR1: The organization must be able to manufacture a good </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a881002a-98e9-4b55-a9e4-97569c85ad8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/a881002a-98e9-4b55-a9e4-97569c85ad8c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/bb2664f3-e5a0-4106-8c3b-f666627d4322.html" target="element"> BR7: The organization must be able to provide its customer with a service based on the goods it manufactures </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/08ca48aa-ed0b-4526-924b-83f1dad0b685.html" target="element">  </a> </td>
																		<td> <a href="../elements/08ca48aa-ed0b-4526-924b-83f1dad0b685.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/f38c8aaf-ada3-4469-8fb8-c460243eca07.html" target="element"> BR2: The organization must be able to repair and maintain the goods it produces </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e606e8b4-3332-4dff-8a58-c9b32f74a2b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/e606e8b4-3332-4dff-8a58-c9b32f74a2b2.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/c9aaf66b-d56b-469a-91e9-3788b761f864.html" target="element"> BR8: The organization must be able to gather payments on services provided </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d69616e8-0f5b-41e0-96f5-ba08cd249577.html" target="element">  </a> </td>
																		<td> <a href="../elements/d69616e8-0f5b-41e0-96f5-ba08cd249577.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/fec0b43c-45ad-404e-bc39-530972440394.html" target="element"> BR3: The organization must be able to monitor its goods </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/17fa5639-95ec-47da-9fb2-c8c0345862b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/17fa5639-95ec-47da-9fb2-c8c0345862b0.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/874cc80b-628c-44c4-b3b2-e60ff93f7b2a.html" target="element"> BR9: The organization must be able to employ human labor for its activities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7ad95cf9-c578-4631-9f62-34dc133666df.html" target="element">  </a> </td>
																		<td> <a href="../elements/7ad95cf9-c578-4631-9f62-34dc133666df.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/58b2f504-a3c0-40f2-9cbb-beef023a362c.html" target="element"> BR10: The organization must be able to contract suppliers for the elements of their goods that they won't be manufacturing directly </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a498c3f4-1eca-4db5-afd4-062d45f4b7b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/a498c3f4-1eca-4db5-afd4-062d45f4b7b7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/26dc7891-a573-4cf5-834b-64f04fd18b8e.html" target="element"> BR11: The organization must be able to contract services from outside firms if needed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dbec339d-4c2b-4fe9-86e2-80a51d8b5ba2.html" target="element">  </a> </td>
																		<td> <a href="../elements/dbec339d-4c2b-4fe9-86e2-80a51d8b5ba2.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/44b51fb0-5811-4bf4-a062-d2652d3e62ee.html" target="element"> BR4: The organization must be able to interface with customers to provide their goods </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c79a090a-4089-45ec-af01-2e867b9d5bc3.html" target="element">  </a> </td>
																		<td> <a href="../elements/c79a090a-4089-45ec-af01-2e867b9d5bc3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/b4c4699a-3b79-4ae7-a708-eb69bd3471fa.html" target="element"> BR5: The organization must be able to interface with other organizations to provide their goods </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3f50dd25-d94c-4631-bfd4-6dec289fd87d.html" target="element">  </a> </td>
																		<td> <a href="../elements/3f50dd25-d94c-4631-bfd4-6dec289fd87d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f4ffbcb9-c270-44e6-b53d-638594aeda66.html" target="element"> Pattern001: Repair and Maintenance </a> </td>
																		<td> <a href="../elements/f5f5136d-5de3-4181-857c-e70b6419e3e0.html" target="element"> BR6: The organization must be able to provide its customers with a repair or maintenance service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4cf81e82-a961-42b6-8b6f-739b8cee8efa.html" target="element">  </a> </td>
																		<td> <a href="../elements/4cf81e82-a961-42b6-8b6f-739b8cee8efa.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/e971d9a4-2f9a-4f43-a7a5-008be28f10e6.html" target="element"> IBR1: The organization must be able to manage its financial resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/da830844-2775-42d7-8c54-be530b9d2471.html" target="element">  </a> </td>
																		<td> <a href="../elements/da830844-2775-42d7-8c54-be530b9d2471.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/bda4c037-e334-41e7-927d-8faf7bbc4260.html" target="element"> IBR6: The organization must be able to sell its service to its customers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/518f113a-8d8a-4393-843f-b2eca46bfdf2.html" target="element">  </a> </td>
																		<td> <a href="../elements/518f113a-8d8a-4393-843f-b2eca46bfdf2.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/cfc9184e-1b24-4245-85cf-04c3ee80a0bd.html" target="element"> IBR2: The organization must be able to manage its Human Resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/daebfc66-e9c4-4433-9f76-586c61a3c693.html" target="element">  </a> </td>
																		<td> <a href="../elements/daebfc66-e9c4-4433-9f76-586c61a3c693.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/4bae1e24-9f59-4962-a0a8-d1ab4877dd08.html" target="element"> IBR7: The organization must be able to communicate with its customers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7edeabee-f231-4c41-9cc9-59a6121141a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/7edeabee-f231-4c41-9cc9-59a6121141a7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/4d46045d-e953-486d-84e4-758c03739451.html" target="element"> IBR3: The organization must be able to manage its infrastructure, technological, office space, manufacturing space, among others </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1959e34e-9c03-4d10-b7fe-7a5e3d0460ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/1959e34e-9c03-4d10-b7fe-7a5e3d0460ff.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/81d47314-ad02-4db4-9086-8addd650bfd9.html" target="element"> IBR8: The organization must be able to generate a strategy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/261e9edd-7949-43ef-a9b2-2be191df3879.html" target="element">  </a> </td>
																		<td> <a href="../elements/261e9edd-7949-43ef-a9b2-2be191df3879.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/445efc64-b17b-44ee-ad1f-54754e1f663c.html" target="element"> IBR9: The organization must be able to design new products </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/01db1b2c-5510-4522-9fe8-4b3b8c216908.html" target="element">  </a> </td>
																		<td> <a href="../elements/01db1b2c-5510-4522-9fe8-4b3b8c216908.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/2f8b184f-9dc6-4173-8f93-a0d590bf36e0.html" target="element"> IBR4: The organization must be able to manage its material resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7fce1be1-e2c2-4115-a4f2-8e219628ad5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/7fce1be1-e2c2-4115-a4f2-8e219628ad5f.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/3f4b127e-0a49-4f5a-9c6a-0d871a308ae5.html" target="element"> IBR10: The organization must be able to manage the execution of business processes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/313fec52-1e02-47f8-a77d-0b82b62bd43a.html" target="element">  </a> </td>
																		<td> <a href="../elements/313fec52-1e02-47f8-a77d-0b82b62bd43a.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/e397a498-7ccf-4f83-a92e-31b6873458a8.html" target="element"> IBR5: The organization must be able to market its service to its customers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/596905f2-1691-4ba0-b8a9-d0a2ffbed175.html" target="element">  </a> </td>
																		<td> <a href="../elements/596905f2-1691-4ba0-b8a9-d0a2ffbed175.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/621ed31d-1082-4c92-8b98-91c57319e00d.html" target="element"> Pattern104: Basic process architecture pattern </a> </td>
																		<td> <a href="../elements/5a2496fb-91ba-45cb-abeb-d6ff5fea5782.html" target="element"> IBR11: The organization must allow its members to work from home </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>