<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for Employee Processes</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Generated View for Employee Processes</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/f462b16b-878d-43ea-84f6-df13a23a4a16.png" alt="Generated View for Employee Processes" usemap="#f462b16b-878d-43ea-84f6-df13a23a4a16map"/>
			   <map name="f462b16b-878d-43ea-84f6-df13a23a4a16map">
				  		<area shape="rect" coords="358,314,478,369" href="../elements/160d8897-0874-4788-b2a2-aae7471d794f.html"  target="element">
				  		<area shape="rect" coords="358,530,478,585" href="../elements/af71990b-7c8d-4883-a87b-753edeb64b01.html"  target="element">
				  		<area shape="rect" coords="24,90,144,145" href="../elements/34ad7d50-92d9-48ca-99bb-79ca34d559aa.html"  target="element">
				  		<area shape="rect" coords="24,10,144,65" href="../elements/bf8b0c89-afd3-478e-82e8-d5de4ffcd0ac.html"  target="element">
				  				<area shape="rect" coords="94,314,214,369" href="../elements/14a70433-ffc9-4e63-97a8-4ada8cf41ff5.html"  target="element">
				  				<area shape="rect" coords="94,525,214,580" href="../elements/a85a6ab3-a32b-4a77-88fc-0145294ee3e5.html"  target="element">
				  				<area shape="rect" coords="94,453,214,508" href="../elements/61e60581-af2f-43d2-916c-66ac069acebb.html"  target="element">
				  				<area shape="rect" coords="94,381,214,436" href="../elements/203f5b0c-acfd-4b0c-aa76-e96a865cd3f8.html"  target="element">

				  		<area shape="rect" coords="10,230,287,615" href="../elements/8f0a1264-c84a-4258-bfc2-95848e73c5c3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/8f0a1264-c84a-4258-bfc2-95848e73c5c3.html" target="element"> Employee Processes </a> </td>
											    <td> <a href="../elements/8f0a1264-c84a-4258-bfc2-95848e73c5c3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/203f5b0c-acfd-4b0c-aa76-e96a865cd3f8.html" target="element"> Change Personal Information </a> </td>
													    <td> <a href="../elements/203f5b0c-acfd-4b0c-aa76-e96a865cd3f8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/61e60581-af2f-43d2-916c-66ac069acebb.html" target="element"> Search Person </a> </td>
													    <td> <a href="../elements/61e60581-af2f-43d2-916c-66ac069acebb.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a85a6ab3-a32b-4a77-88fc-0145294ee3e5.html" target="element"> Report Time </a> </td>
													    <td> <a href="../elements/a85a6ab3-a32b-4a77-88fc-0145294ee3e5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/14a70433-ffc9-4e63-97a8-4ada8cf41ff5.html" target="element"> File in request </a> </td>
													    <td> <a href="../elements/14a70433-ffc9-4e63-97a8-4ada8cf41ff5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/bf8b0c89-afd3-478e-82e8-d5de4ffcd0ac.html" target="element"> Employee </a> </td>
											    <td> <a href="../elements/bf8b0c89-afd3-478e-82e8-d5de4ffcd0ac.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/34ad7d50-92d9-48ca-99bb-79ca34d559aa.html" target="element"> Human Resources </a> </td>
											    <td> <a href="../elements/34ad7d50-92d9-48ca-99bb-79ca34d559aa.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/af71990b-7c8d-4883-a87b-753edeb64b01.html" target="element"> Manage Organization </a> </td>
											    <td> <a href="../elements/af71990b-7c8d-4883-a87b-753edeb64b01.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/160d8897-0874-4788-b2a2-aae7471d794f.html" target="element"> Manage Employee Requests </a> </td>
											    <td> <a href="../elements/160d8897-0874-4788-b2a2-aae7471d794f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/8d8da87c-75db-4d73-a1f5-6ea16ad105e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/8d8da87c-75db-4d73-a1f5-6ea16ad105e4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/8f0a1264-c84a-4258-bfc2-95848e73c5c3.html" target="element"> Employee Processes </a> </td>
																		<td> <a href="../elements/203f5b0c-acfd-4b0c-aa76-e96a865cd3f8.html" target="element"> Change Personal Information </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/382e82b0-f145-45b8-aa14-4f75f824213e.html" target="element">  </a> </td>
																		<td> <a href="../elements/382e82b0-f145-45b8-aa14-4f75f824213e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/8f0a1264-c84a-4258-bfc2-95848e73c5c3.html" target="element"> Employee Processes </a> </td>
																		<td> <a href="../elements/61e60581-af2f-43d2-916c-66ac069acebb.html" target="element"> Search Person </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/810e7459-858f-456d-b63f-6a71371dd885.html" target="element">  </a> </td>
																		<td> <a href="../elements/810e7459-858f-456d-b63f-6a71371dd885.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/8f0a1264-c84a-4258-bfc2-95848e73c5c3.html" target="element"> Employee Processes </a> </td>
																		<td> <a href="../elements/a85a6ab3-a32b-4a77-88fc-0145294ee3e5.html" target="element"> Report Time </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4c73e4c4-1557-42e5-9f7c-8e82448dda7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/4c73e4c4-1557-42e5-9f7c-8e82448dda7e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/8f0a1264-c84a-4258-bfc2-95848e73c5c3.html" target="element"> Employee Processes </a> </td>
																		<td> <a href="../elements/14a70433-ffc9-4e63-97a8-4ada8cf41ff5.html" target="element"> File in request </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/cc594cf1-94e3-48f0-8bb2-dde177f457a1.html" target="element">  </a> </td>
																				<td> <a href="../elements/cc594cf1-94e3-48f0-8bb2-dde177f457a1.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/a85a6ab3-a32b-4a77-88fc-0145294ee3e5.html" target="element"> Report Time </a> </td>
																				<td> <a href="../elements/af71990b-7c8d-4883-a87b-753edeb64b01.html" target="element"> Manage Organization </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/7a3fa896-2ff3-4717-8b03-26fde00f2aa7.html" target="element">  </a> </td>
																				<td> <a href="../elements/7a3fa896-2ff3-4717-8b03-26fde00f2aa7.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/14a70433-ffc9-4e63-97a8-4ada8cf41ff5.html" target="element"> File in request </a> </td>
																				<td> <a href="../elements/160d8897-0874-4788-b2a2-aae7471d794f.html" target="element"> Manage Employee Requests </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/0d1dab91-de9d-4fbf-8eef-987fff6b255e.html" target="element">  </a> </td>
																		<td> <a href="../elements/0d1dab91-de9d-4fbf-8eef-987fff6b255e.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/bf8b0c89-afd3-478e-82e8-d5de4ffcd0ac.html" target="element"> Employee </a> </td>
																		<td> <a href="../elements/8f0a1264-c84a-4258-bfc2-95848e73c5c3.html" target="element"> Employee Processes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/accb0f27-68ba-4c65-92dc-d886a09b74e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/accb0f27-68ba-4c65-92dc-d886a09b74e8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/34ad7d50-92d9-48ca-99bb-79ca34d559aa.html" target="element"> Human Resources </a> </td>
																		<td> <a href="../elements/8f0a1264-c84a-4258-bfc2-95848e73c5c3.html" target="element"> Employee Processes </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>